[2021-04-01 21:04] gkwan-ibm commented on #367
close
- issues were addressed

[2021-04-01 21:04] #367 closed

[2021-04-06 15:26] gkwan-ibm opened #628 "Test the guides with 21.0.0.4 GM candidate build"
Candidate build: cl210420210407-0944
- [x] Automated tests with jdk8 and jdk11 for all published guides (Griffin)

Manual test the guides against GM with Java11OpenJ9:
- [x] *guide-getting-started (Jakub)
- [x] guide-mongodb-intro (Jakub)
- [x] guide-social-media-login (Austin S)
- [x] guide-microprofile-jwt (Tien)
- [x] guide-jpa-intro (Gilbert)
- [x] *guide-spring-boot (Gilbert)
- [x] *guide-kub

[2021-04-08 18:50] AustinSeto commented on #628
# guide-social-media-login

Ran from `finish` directory using `mvn liberty:dev` command, output as follows:

[code]

Accessed application using Firefox. Ran into an error when accessing the application in a normal window, but had no problems when accessing from a private window. Error as follows:

[code]

# draft-guide-graphql-intro

Ran from `finish` directory using `mvn liberty:dev` using the `d

[2021-04-08 21:55] tt-le commented on #628
### Guide MP JWT

Upon
[code]
[code]

[code]

[code]

Application works as expected, and all test pass.

### Guide MP Reactive messaging

Upon:
`docker build -t system:1.0-SNAPSHOT system/.`
`docker build -t inventory:1.0-SNAPSHOT inventory/.`

[code]
All works fine.

[2021-04-10 09:55] jakub-pomykala commented on #628
## Guide-mongodb-intro

Run from finish dir:

[code]

Everything works as expected.

## Guide-getting-started

**local:**
[code]
Docker will be completed on monday.

[2021-04-12 15:56] griffinhadfield commented on #628
## Guide-sessions

Output from `mvn liberty:dev`:
[code]

Output from `docker build`:
[code]

Output from `kubectl logs`:
[code]

Everything works as expected.

[2021-04-12 17:24] griffinhadfield commented on #628
## Automated tests

All guides pass except for `guide-microprofile-rest-client`

[2021-04-12 17:45] griffinhadfield commented on #628
## Guide-kubernetes-config

Output from `docker build` for `system` service:
[code]
Output from `docker build` for `inventory` service:
[code]

Output from `kubectl logs` for `system` pod:
[code]

Output from `kubectl logs` for `inventory` pod:
[code]

All tests pass and everything works as expected.

[2021-04-13 15:03] gkwan-ibm commented on #628
close
- all tests done and pass

[2021-04-13 15:03] #628 closed

[2021-04-13 16:24] gkwan-ibm opened #629 "Rename the branches"
Rename the `master` branch to `prod` and the `qa` branch to `staging` for all guides and guides-common
- following line need to be updated
  - `:common-includes: https://raw.githubusercontent.com/OpenLiberty/guides-common/master` to `:common-includes: https://raw.githubusercontent.com/OpenLiberty/guides-common/prod`

[2021-04-20 15:42] mbroz2 opened #638 "Update the MP Config guides to point at k.io guide"
Update the MP Config guides (at least the https://openliberty.io/guides/kubernetes-microprofile-config.html) with something like:

[2021-04-20 16:56] gkwan-ibm commented on #638
Is the interactive tutorial using our kubernetes-microprofile-config guide? Is it a dup if add the suggested link in this guide?

If really to do that, instead of breaking the flow of the kubernetes-microprofile-config guide, I suggest to add the suggested link at either
- a new section after the "Tearing down the environment" section
- or "Nice work! Where to next?" section

If for users not to s

[2021-04-20 17:55] mbroz2 commented on #638
It's extremely similar but not an exact duplicate, and I wouldn't quite treat it that way (especially since the Skills network will be an exact duplicate).

I think it should either go in one of the first 3 sections of the guide or the "Nice work! Where to next?"

I also wouldn't be opposed to having it in two places:
1) At the end of "What you'll learn" add to the last paragraph "If you'd like to

[2021-04-23 15:16] yeekangc commented on #75
A CAB member indicated interest in a JMS guide.

[2021-04-28 17:06] gkwan-ibm commented on #629
**Staging 1** - update renames the `master` branch to `prod` and the `qa` branch to `staging` for all guides
- [ ] guide-gradle-intro
- [ ] guide-rest-intro
- [ ] guide-maven-intro
- [ ] guide-social-media-login
- [ ] guide-cloud-openshift
- [ ] guide-microprofile-opentracing-jaeger
- [ ] guide-bean-validation
- [ ] guide-security-intro
- [ ] guide-cloud-openshift-operator
- [ ] guide-jpa-intro
-

[2021-04-28 17:16] gkwan-ibm commented on #629
**Stage 2 (guides support cloud-hosted)**
- rename the `master` branch to `prod` and the `qa` branch to `staging` for all guides, set the protection rules, update test.yml, and triggerConversion.yml; and cloud-hosted guides converter

**Target - after cloud-hosted guides published and MP4 update, End of June**
- [x] guide-rest-intro
- [x] guide-microprofile-opentracing-jaeger
- [x] guide-getting-s

[2021-04-29 16:12] andymc12 commented on #618
@yeekangc My thinking was that we might want a separate guide to focus on the relationship between MP GraphQL and JPA. It's also a nice value proposition for using Open Liberty - which allows mixing of features that are specific to MicroProfile (MP GraphQL) and Jakarta EE (JPA).  That way, the original MP GraphQL guide can focus on only MP features, while the new guide could highlight how the diff

[2021-04-29 18:53] gkwan-ibm commented on #629
**Stage 3a**
- [x] rename guides-common `master` branch to `prod` and `qa` branch to `staging`

**Stage 3b**
- update README.adoc to `::common-includes: https://raw.githubusercontent.com/OpenLiberty/guides-common/prod`

**Target - after stage 2**
- [x] guide-gradle-intro
- [x] guide-rest-intro
- [x] guide-maven-intro
- [x] guide-social-media-login
- [x] guide-cloud-openshift
- [x] guide-microprofi

[2021-05-03 20:42] AustinSeto commented on #423
Currently have two drafts prepared for the guide after recent reviews and feedback.

The first draft tries to start the guide application with a simple REST endpoint to retrieve all system properties. Then it adds a GraphQL endpoint to get the same data, but through GraphQL instead. The goal is to try to do a basic comparison between the two methods. Its PR is here: https://github.com/OpenLiberty/

[2021-05-06 14:28] AustinSeto opened #639 "Update scripts to test guides on GitHub Actions"
Occasionally on our daily build tests for the guides, one or two guide tests will fail for the day, usually just on Java 8 or Java 11, but not on both. The error is usually something similar to the following, which has been taken from a run this morning:

[code]

A re-run of the daily build test for the single guide shows no issues. From what I can see, the issue lies in Maven, not the guide appli

[2021-05-07 19:36] gkwan-ibm opened #643 "Test the guides with 21.0.0.5 GM candidate build"
Candidate build: cl210520210510-1231
- [x] Automated tests with jdk8 and jdk11 for all published guides (Austin S)

Manual test the guides against GM with Java11OpenJ9:
- [ ] ~*guide-getting-started (Jakub)~
- [x] guide-getting-started cloud-hosted (Gilbert)
   - did not test docker because SNL cannot access guidesbot dockerhub repo
- [x] guide-mongodb-intro (Austin S)
- [x] guide-social-media-log

[2021-05-11 18:11] tt-le commented on #643
### Guide-kubernetes-microprofile-config

Running the following:
[code]

[code]

Running the following:
[code]

[code]

App runs as expected, test pass.

[2021-05-11 19:00] AustinSeto commented on #643
# Daily builds

Everything passed, only issue was `guide-reactive-rest-client` timing out. The job originally ran for 6 hours before timing out and cancelling itself. This did not occur on a rerun.

# guide-mongodb-intro

Output when running `mvn liberty:run` from `finish` directory:

[code]

Ran guide end-to-end with no issue from `start` directory.

# guide-social-media-login

Output when runnin

[2021-05-12 14:59] gkwan-ibm opened #645 "PR checker to check OpenLiberty"
OpenLiberty should be only used in the following line and not in the content
`common-includes: https://raw.githubusercontent.com/OpenLiberty/guides-common/prod`

[2021-05-12 16:51] rutavshah commented on #643
### **guide-jpa-intro**

Output from `mvn liberty:run` from `start/frontendUI`:

[code]

Output from `man liberty:run` from `start/backendServices`:
[code]

Ran guide end-to-end, no issues.

### **guide-sessions**

Output from `docker build -t `:
[code]

Output from `docker logs `:
[code]

[2021-05-12 20:41] gkwan-ibm commented on #643
close
- all tests done and pass

[2021-05-12 20:41] #643 closed

[2021-05-21 14:56] steven1046 commented on #449
https://github.com/openliberty/openliberty.io/issues/1701 is blocked until the getting started section has the text added.

[2021-05-25 15:28] gkwan-ibm commented on #449
The statement was added by https://github.com/OpenLiberty/guides-common/pull/658

[2021-05-25 18:07] gkwan-ibm commented on #387
ready to sign off

[2021-06-01 19:25] gkwan-ibm commented on #536
close
- all reactive guides were updated

[2021-06-01 19:25] #536 closed

[2021-06-01 20:18] gkwan-ibm commented on #17
close
- #384 was closed
- all guides should follow the [ideal template ](https://github.com/OpenLiberty/open-liberty/issues/9890)

[2021-06-01 20:18] #17 closed

[2021-06-01 20:20] gkwan-ibm commented on #462
close
- all guides are using  Alternative 1

[2021-06-01 20:20] #462 closed

[2021-06-02 19:44] gkwan-ibm opened #667 "Test the guides with 21.0.0.6 GM candidate build"
Candidate build: cl210620210527-1900
- [x] Automated tests with jdk11 for all published guides
  - https://github.com/OpenLiberty/guides-common/actions/runs/884701106
- [ ] Automated tests with jdk8 for all published guides (Tien)
  - need to submit a run for jdk8

Manual test the guides against GM with Java11OpenJ9:
- [x] guide-mongodb-intro (Austin S)
- [x] guide-social-media-login (Austin S)
-

[2021-06-03 13:58] AustinSeto commented on #667
# guide-mongodb-intro

Output when running `mvn liberty:run` from `finish` directory:

[code]

Ran guide end-to-end with no issue from `start` directory. Minor README fixes in [this PR](https://github.com/OpenLiberty/guide-mongodb-intro/pull/79).

[2021-06-03 16:25] priyyanshi commented on #667
# guide-microprofile-jwt
Output from `mvn liberty:run` from `start/frontend` directory:

[code]
Output from `mvn liberty:run` from `start/system` directory:

[code]
Ran guide end-to-end, did not encounter any issues. Ran as expected.

# guide-spring-boot
Output from `docker build -t springboot .`:
[code]
Output from `docker logs springBootContainer`:
[code]
Output from `./mvnw package` in `start`

[2021-06-03 19:03] tt-le commented on #667
### guide-kubernetes-microprofile-config
Output from
[code]

[code]

`docker logs d02`
[code]

`docker logs ed9`

[code]

End to end, no issues.

## guide-microprofile-reactive-messaging
Output from
[code]
CACHED [1/3] FROM docker.io/guidesbot/olguides:cl210620210527-1900@sha256:5b5f37d72ab5113bc0f5d4ab30b28c54bc48b7c21e03db7eaf33817382dcb560
...
CACHED [1/3] FROM docker.io/guidesbot/olguides:cl21

[2021-06-03 19:41] tt-le commented on #667
## Daily build java 8
Can't run the action because the build doesn't exist in dhe anymore.

[2021-06-03 21:17] rutavshah commented on #667
#guide-sessions

Output from `docker build -t `:
[code]

Output from `docker logs `:
[code]

[2021-06-03 22:00] gkwan-ibm commented on #667
guide-jpa
[code]

[2021-06-04 14:34] gkwan-ibm opened #668 "PR checker to check tags in front of hide_tags"
As `[source, Java, linenums, role='code_column hide_tags=copyright,Add tags=addToInvList']` as an example,
`tags` should be defined in front of `hide_tags`. Flag error in this case

[2021-06-04 21:46] gkwan-ibm commented on #667
close
- all tested

[2021-06-04 21:46] #667 closed

[2021-06-08 15:07] tt-le opened #669 "Granular options for daily build actions"
When testing daily builds, it will only trigger a test on the default branch. It would be easier if we could pick which branch to run the daily build tests on.

[2021-06-09 14:17] AustinSeto commented on #669
Added by #670 and #671

[2021-06-09 14:17] #669 closed

[2021-06-10 13:50] yeekangc opened #674 "Update guides to use Jakarta EE 9/9.1"
Update to use the latest (version of) Jakarta EE API and switch over to the jakarta.* namespace too.

This should be queued up behind MP release that supports jakarta namespace too.

Cc @kwsutter @jhanders34 @gkwan-ibm

[2021-06-10 13:52] yeekangc opened #675 "Guide on moving apps from javax to jakarta namespace using Eclipse Transformer"
Consider a guide to demonstrate how developers can use Eclipse Transformer to move a typical Java EE application from the javax namespace to use Jakarta EE 9 or above and the jakarta namespace.

Cc @jhanders34 @tbitonti @gkwan-ibm

[2021-06-17 13:44] yeekangc commented on #46
Handle #116 as part of this work.

[2021-06-18 20:43] yeekangc commented on #387
Consider guide-openshift-codeready-containers for the guide on openliberty.io.  Code repo can be shorter (e.g., guide-openshift-crc).

[2021-06-18 20:52] yeekangc commented on #387
Thank you all.  Let us proceed to publish this guide.

[2021-06-21 14:14] pgunapal opened #683 "Update all MP Health guides to use MP Health 3.1"
A new mpHealth-3.1 feature will be available in OL for 21.0.0.8 (In 21.0.0.8-beta), all our current guides that use the mpHealth feature should be updated to use mpHealth-3.1.

- https://openliberty.io/guides/microprofile-health.html
- https://openliberty.io/guides/kubernetes-microprofile-health.html
- https://openliberty.io/guides/microprofile-health.html

In mpHealth-3.1 introduced a new annotat

[2021-06-23 14:42] yeekangc opened #686 "Consider "Java SDK" for "Java" under Pre-requisites"
Users ran into issues working with the guides since they had JRE and not a JDK.

Consider clarifying that a JDK is needed (vs a JRE) since Maven requires a JDK.

Cc @gkwan-ibm @mdenby @steven1046 @k8vance88

[2021-06-25 20:14] gkwan-ibm commented on #142
Another topic reported by Graham

[code]

There is a workaround at the ent github /cloudpakbringup/bringup-site/how-to/Fyre/#docker-rate-limiting

[2021-06-28 22:00] gkwan-ibm commented on #629
close
- all repos branches were renamed

[2021-06-28 22:00] #629 closed

[2021-06-30 13:19] yeekangc opened #889 "Cover how to use Maven to build and package from CLI?"
The current version of the guide doesn't cover how to use Maven from CLI to build and package an application.

Should consider including these beyond the use of liberty:run and liberty:dev.  Or, provide pointers to Getting Started guide where appropriate.

[2021-06-30 19:29] gkwan-ibm opened #688 "Test the guides with 21.0.0.7 GM candidate build"
Candidate build: cl210720210629-1900
- [x] Automated tests with jdk11 for all published guides  (Tien)
  - https://github.com/OpenLiberty/guides-common/runs/2949275581
  - need to rerun the spring-boot guide
  - https://github.com/OpenLiberty/guides-common/runs/2952479249?check_suite_focus=true
- [x] Automated tests with jdk8 for all published guides (Tien)
  - need to submit a run for jdk8
  - ht

[2021-07-02 16:07] rutavshah commented on #688
### **guide-jpa-intro**

Output from `mvn liberty:run` from `start/frontendUI`:

[code]
Output from `man liberty:run` from `start/backendServices`:
[code]
Ran guide end-to-end, no issues.
### **guide-sessions**

Output from `docker build -t `:
[code]

Output from `docker logs `:
[code]
Ran guide end-to-end, no issues

[2021-07-02 18:13] priyyanshi commented on #688
# guide-microprofile-jwt
Output from `mvn liberty:run` from `start/frontend` directory:

[code]
Output from `mvn liberty:run` from `start/system` directory:

[code]
Ran guide end-to-end, did not encounter any issues. Ran as expected.

# guide-spring-boot
Output from `docker build -t springboot .`:
[code]
Output from `docker logs springBootContainer`:
[code]
Output from `./mvnw package` in `start`

[2021-07-02 20:57] AustinSeto commented on #688
# guide-mongodb-intro

Output when running `mvn liberty:run` from `finish` directory:

[code]

Application worked as expected

# guide-social-media-intro

Output when running `mvn liberty:dev` from `finish` directory:

[code]

App worked as expected

[2021-07-05 08:03] RuiBaiXYZ commented on #73
Expect to be completed earlier

[2021-07-05 15:18] tt-le commented on #688
### guide-kubernetes-microprofile-config
Output from
[code]

[code]

`docker logs ad`
[code]

`docker logs b1`

[code]

End to end, no issues.

## guide-microprofile-reactive-messaging
Output from

[code]

[code]

[code]

Output from `docker log ---`

[code]
[code]

End to end, no issues

[2021-07-05 16:07] gkwan-ibm commented on #688
close
- all test tasks were completed

[2021-07-05 16:07] #688 closed, assigned to nobody

[2021-07-07 14:05] AustinSeto commented on #467
Mentioned changes to OKD guide are merged to `prod`, OKD guide now contains link to CRC guide.

[2021-07-07 14:05] #467 closed

[2021-07-07 14:29] #387 closed

[2021-07-07 14:30] yeekangc commented on #387
Published at https://openliberty.io/guides/openshift-codeready-containers.html.

[2021-07-07 21:11] ericglau opened #707 "Update to use dev mode with multi module project"
https://github.com/OpenLiberty/ci.maven/issues/697 will add multi module support for dev mode.  It is currently only available in milestone releases of the Liberty Maven plugin (e.g. version 3.3.5-M2).  When it is available in a non-milestone release, update this guide to make use of dev mode.

To run dev mode with a multi module project, run a command like the following from the top level multi m

[2021-07-08 13:20] gkwan-ibm commented on #578
close
- all guides were updated except the cloud-google guide. It will be fixed by https://github.com/OpenLiberty/guide-cloud-google/issues/46

[2021-07-08 13:20] #578 closed

[2021-07-08 13:23] gkwan-ibm commented on #562
close
- converted 21 guides
- the other guides will follow the same pattern

[2021-07-08 13:23] #562 closed

[2021-07-08 13:44] gkwan-ibm commented on #555
close
- both static guides were updated
- opened https://github.com/OpenLiberty/iguides-common/issues/347 for iguides

[2021-07-08 13:44] #555 closed

[2021-07-08 17:11] gkwan-ibm commented on #480
Hi @andymc12, I suggest following:

1.  Java EE 7 -> Jakarta EE 8 dependencies (probably not worth mentioning in the guide)
    - Agree, nothing to change in the guides
2. Ability to specify the style of HTTP query parameters for collections (might be worth mentioning...)
    - update the microprofile-rest-client guide, add a new REST api to get multiple properties to demonstrate this ability
3. S

[2021-07-08 17:48] gkwan-ibm commented on #480
info - https://openliberty.io/blog/2021/03/24/whats-new-in-MP-Rest-Client2.0.html

[2021-07-08 19:24] gkwan-ibm commented on #480
updated point 3 in my above comment

[2021-07-12 15:38] gkwan-ibm commented on #525
ref: https://openliberty.io/blog/2021/03/26/MP-JWT-1.2.html

[2021-07-12 18:56] gkwan-ibm opened #693 "Mention the Open Liberty Starter"
Find the appropriate place(s) in the guide(s) to mention the Open Liberty Starter at https://openliberty.io/downloads/

[2021-07-14 15:34] gkwan-ibm commented on #668
close
- issue was addressed

[2021-07-14 15:34] #668 closed

[2021-07-15 19:03] teddyjtorres commented on #525
You can use a relative file name for mp.jwt.decrypt.key.location,

Then put the file in the WAR file in,

[2021-07-19 13:53] gkwan-ibm commented on #525
hi @teddyjtorres

In the mp-jwt guide, the application uses default keystore. In this case, there is no need to define `mp.jwt.decrypt.key.location`. Is that right?

I suggest to comment out that `#mp.jwt.decrypt.key.location=/path/to/privatekey.pem` property. In the guide, we still can explain it. What do you think? Or would you suggest a better idea?

[2021-07-19 17:14] gkwan-ibm commented on #548
hi @Emily-Jiang

The here link return 404. Would you correct it so that we can get more information? Beside UFO, is there a blog to talk about MP Configure 2.0?

[2021-07-19 17:51] Emily-Jiang commented on #548
@gkwan-ibm check out this [MP Config 2.0 blog](https://openliberty.io/blog/2021/03/31/microprofile-config-2.0.html). There was a video link to show you how to use MP Config 2.0 as well in the blog.

[2021-07-20 14:09] ericglau commented on #707
Dev mode documentation for the Liberty Maven Plugin has been updated with information on how to run on a multi module project.  https://github.com/OpenLiberty/ci.maven/blob/main/docs/dev.md#multiple-modules

[2021-07-28 14:51] gkwan-ibm opened #702 "Test the guides with 21.0.0.8 GM candidate build"
Candidate build: cl210820210727-1323
- [x] Automated tests with jdk11 for all published guides  (Rutav)
  - https://github.com/OpenLiberty/guides-common/actions/runs/1076012143
- [x] Automated tests with jdk8 for all published guides (Rutav)
  - need to submit a run for jdk8

Manual test the guides against GM with Java11OpenJ9:
- [x] guide-mongodb-intro (Austin S)
- [x] guide-social-media-login (A

[2021-07-28 19:09] priyyanshi commented on #702
# guide-microprofile-jwt
Output from `mvn liberty:run` from `start/frontend` directory:

[code]
Output from `mvn liberty:run` from `start/system` directory:

[code]
Ran guide end-to-end, did not encounter any issues. Ran as expected.

# guide-spring-boot
Output from `docker build -t springboot .`:
[code]
Output from `docker logs springBootContainer`:
[code]
Output from `./mvnw package` in `start`

[2021-07-28 20:08] rutavshah commented on #702
# **guide-jpa-intro**

Output from `mvn liberty:run` from `start/frontendUI`:

[code]

Output from `man liberty:run` from `start/backendServices`:
[code]

# **guide-sessions**

Output from `docker build -t `:
[code]

Output from `docker logs `:
[code]

[2021-07-28 20:27] AustinSeto commented on #702
# guide-mongodb-intro

Output when running `mvn liberty:run` from `finish` directory:

[code]

Application worked as expected

# guide-social-media-login

Output when running `mvn liberty:run` from `finish` directory:

[code]

App worked as expected

# guide-microprofile-reactive-messaging

Excerpts from outputs of `docker build` commands:

[code]

[code]

Application worked as expected

[2021-07-29 16:44] gkwan-ibm commented on #702
close
- all tests were completed and passed

[2021-07-29 16:44] #702 closed, assigned to nobody

[2021-08-06 18:58] gkwan-ibm commented on #639
close
- all guides were fixed except the cloud-google guide. It will be fixed by https://github.com/OpenLiberty/guide-cloud-google/pull/43

[2021-08-06 18:58] #639 closed

[2021-08-11 18:44] mbroz2 opened #703 "Switch java download in guides prereq to use semeru site"
@k8vance88 commented on [Tue Aug 03 2021](https://github.com/OpenLiberty/openliberty.io/issues/2234)

adoptopenjdk is moving to https://developer.ibm.com/languages/java/semeru-runtimes/downloads

---

@steven1046 commented on [Wed Aug 11 2021](https://github.com/OpenLiberty/openliberty.io/issues/2234#issuecomment-897062553)

This is the guides prereqs at the top right

---

@mbroz2 commented on [W

[2021-08-11 20:25] yeekangc commented on #703
@gkwan-ibm

[2021-08-12 17:42] gkwan-ibm commented on #703
Semerun Runtime for Mac is not ready yet. Switch at least when Mac download is ready.

[2021-08-16 16:39] kathrynkodama commented on #707
Consider reconfiguring this project to have the top-level `pom.xml` defined as the parent and the `ear/pom.xml`, `war/pom.xml`, and `jar/pom.xml` defined as children.

That way, the Liberty Maven Plugin only needs to be defined in the [top-level `pom.xml`](https://github.com/OpenLiberty/guide-maven-multimodules/blob/prod/finish/pom.xml):
[code]

and the shortened `mvn liberty:dev` command can be u

[2021-08-19 13:35] yeekangc opened #705 "Create a tag for cloud-hosted guides"
To make it easy for users to find guides that they can run in cloud.  This will allow for a URL to list all cloud-hosted guides too.

Consider "Run In Cloud", "RunInCloud" or "Run-In-Cloud" as the tag.

@gkwan-ibm

[2021-08-19 15:20] gkwan-ibm commented on #683
hi @pgunapal

May you or your team to update the guides by providing us the PRs? It may be more efficient.

[2021-08-19 15:41] gkwan-ibm commented on #705
- tag name “Run in cloud”?
- visible or invisible?
- add it to suggested tags?
- add an icon?

[2021-08-24 14:07] gkwan-ibm commented on #533
close
- all guides were updated

[2021-08-24 14:07] #533 closed

[2021-08-24 14:09] gkwan-ibm commented on #541
close
- all guides were updated

[2021-08-24 14:09] #541 closed

[2021-08-24 14:10] gkwan-ibm commented on #645
close
- the check was implemented

[2021-08-24 14:10] #645 closed

[2021-08-25 15:08] pgunapal commented on #683
Hi @gkwan-ibm
We can definitely provide PRs for the changes described in this issue, we will wait till the `mpHealth-3.1` feature is in a GA build for the 21.0.0.9, to begin working on the guides.

[2021-08-25 19:26] gkwan-ibm opened #709 "Test the guides with 21.0.0.9 GM candidate build"
Candidate build: cl210920210824-2341
- [x] Automated tests with jdk11 for all published guides  (Priyanshi)
  - https://github.com/OpenLiberty/guides-common/actions/runs/1165372687
- [x] Automated tests with jdk8 for all published guides (Priyanshi)
  - https://github.com/OpenLiberty/guides-common/actions/runs/1168673375

Manual test the guides against GM with Java11OpenJ9:
- [x] guide-mongodb-int

[2021-08-25 21:39] rutavshah commented on #709
# **guide-jpa-intro**

Output from `mvn liberty:run` from `start/frontendUI`:

[code]

Output from `man liberty:run` from `start/backendServices`:
[code]
Ran guide end-to-end, no issues.

# **guide-sessions**

Output from `docker build -t `:
[code]

Output from `docker logs `:
[code]
Ran guide end-to-end, no issues.

[2021-08-26 02:12] priyyanshi commented on #709
# guide-microprofile-jwt
Output from `mvn liberty:run` from `start/frontend` directory:

[code]
Output from `mvn liberty:run` from `start/system` directory:

[code]
Ran guide end-to-end, did not encounter any issues. Ran as expected.

# guide-spring-boot
Output from `docker build -t springboot .`:
[code]
Output from `docker logs springBootContainer`:
[code]
Output from `./mvnw package` in `start`

[2021-08-27 14:35] tt-le commented on #709
### guide-kubernetes-microprofile-config
Output from
[code]

[code]

`docker logs ad`
[code]

`docker logs b1`

[code]

End to end, no issues.

## guide-microprofile-reactive-messaging
Output from

[code]

[code]

[code]

Output from `docker log ---`

[code]
[code]

End to end, no issues

[2021-08-27 15:03] AustinSeto commented on #709
# guide-mongodb-intro

Output when running `mvn liberty:run` from `finish` directory:

[code]

Application worked as expected.

# guide-social-media-login

Output when running `mvn liberty:run` from `finish` directory:

[code]

Application worked as expected

[2021-08-27 16:12] gkwan-ibm commented on #709
close
- all things were done

[2021-08-27 16:12] #709 closed, assigned to AustinSeto, rutavshah, tt-le, priyyanshi

[2021-09-07 21:44] gkwan-ibm commented on #525
close
- the [mp-jwt guide](https://openliberty.io/guides/microprofile-jwt.html) was updated, mainly in the [Configuring MicroProfile JWT](https://openliberty.io/guides/microprofile-jwt.html#configuring-microprofile-jwt) section

[2021-09-07 21:44] #525 closed

[2021-09-08 21:14] gkwan-ibm commented on #46
**A. Outstanding issues**
1. if use gradlew/mvnw, the command is different in Win and Unix
    - confirmed to use gradlew/mvnw
1. switch content (block of text including hotspots support)
1. does cloud-hosted guides need to support gradle?

**B. Works for 53 guides**
- static
  - update the gradle/maven commands and content in README
  - add mvnw and gradlew to the start and finish directories
  -

[2021-09-22 19:07] yeekangc opened #712 "Update guides that use Docker images to pull from icr.io"
Docker Hub has a rate limits.  Open Liberty images are now available on icr.io (IBM Container Registry) without authentication required.  No rate limits for ICR.

FROM icr.io/appcafe/open-liberty

Update guides to use icr.io going forward to avoid rate limit issues.

![image (22)](https://user-images.githubusercontent.com/4803104/134406183-8a2f23dd-af50-4b48-be08-a66b0116287c.png)

[2021-09-22 19:07] yeekangc commented on #712
@gkwan-ibm, can you please consider?  Let us discuss and we can prioritize accordingly.

[2021-09-23 15:11] gkwan-ibm opened #713 "Test the guides with 21.0.0.10 GM candidate build"
Candidate build: cl211020210920-1900
- [x] Automated tests with jdk11 for all published guides  (Rutav)
  - https://github.com/OpenLiberty/guides-common/actions/runs/1256412647
- [x] Automated tests with jdk8 for all published guides (Rutav)
  - ~~ttps://github.com/OpenLiberty/guides-common/actions/runs/1271196774~~
  - https://github.com/OpenLiberty/guides-common/actions/runs/1279068288

Manual t

[2021-09-24 15:15] priyyanshi commented on #713
# guide-spring-boot
Output from `docker build -t springboot .`:
[code]
Output from `docker logs springBootContainer`:
[code]
Output from `./mvnw package` in `start` directory:
[code]
Ran guide end-to-end, did not encounter any issues. Ran as expected.

# guide-kubernetes-microprofile-config
Output from `docker build -t system:1.0-SNAPSHOT system/.`:
[code]
Output from `docker build -t inventory:1.

[2021-09-24 16:15] davidwyao commented on #713
## guide-sessions
Output from `docker build -t cart-app:1.0-SNAPSHOT .`:
[code]
Output from docker logs:
[code]
Ran guide end-to-end, no issues.

## guide-microprofile-reactive-messaging
Output from
[code]
[code]
[code]
Output from docker logs:
[code]
[code]
Ran guide end-to-end, no issues.

[2021-09-24 18:12] rutavshah commented on #713
# guide-mongodb-intro

Output when running `mvn liberty:run` from `finish` directory:

[code]

Application worked as expected.

[2021-09-24 19:07] Kevcpro commented on #713
# guide-social-media-login

Output when running `mvn liberty:run` from `finish` directory:

[code]

Application worked as expected

# guide-microprofile-jwt
Output from `mvn liberty:run` from `start/frontend` directory:

[code]
Output from `mvn liberty:run` from `start/system` directory:

[code]
Application worked as expected

[2021-09-24 19:39] gkwan-ibm commented on #712
tried` icr.io/appcafe/open-liberty:full-java11-openj9-ubi`. It works. If change to use it, need to do following:
- guides-common
  - update 3 ol-*-docker-pull.adoc files
- guides that using docker
  - look for any change for README
  - update Dockerfile
  - update test scripts
- update analytics

Questions:
- Need to claim which repository should be used for production?

[2021-09-27 16:40] ryan-storey commented on #713
# guide-jpa-intro

Output when running `mvn liberty:run` from `finish/frontendUI` directory:
[code]

Output when running `mvn liberty:run` from `finish/backendServices` directory:
[code]

Output when running `mvn liberty:run` from `start/frontendUI` directory:
[code]

Output when running `mvn liberty:run` from `start/backendServices` directory:
[code]

Guide works end to end as expected. Applicati

[2021-09-29 20:51] yeekangc opened #717 "Guide for Ansible"
Consider a guide on working with Open Liberty using Ansible for automation/DevOps operations.

[2021-10-01 23:03] gkwan-ibm opened #718 "Guide for GraphQL Client"
## Running GraphQL queries by GraphQL client
**What you’ll learn**
- Intro
- What is GraphQL client?
- Description of application with diagram as slide 3
- Ask user to study the Querying and modifying data by GraphQL

**Additional prerequisites**
- Docker

**Getting started**

**Implementing the Graphql client interface**
- Create the SystemClient interface
- Explain the detail

**Implementing Inv

[2021-10-01 23:07] gkwan-ibm commented on #423
the graphql client guide will be addressed by #718

[2021-10-04 15:02] gkwan-ibm commented on #713
close
- all tested and passed

[2021-10-04 15:02] #713 closed, assigned to Kevcpro, rutavshah, priyyanshi, ryan-storey, davidwyao

[2021-10-05 19:42] gkwan-ibm commented on #480
Hi @andymc12,

After I studied and tried the 2 new features of MP Rest Client 2.0, [QueryParamStyle](https://openliberty.io/blog/2021/03/24/whats-new-in-MP-Rest-Client2.0.html#query-param-style) and [followRedirects](https://openliberty.io/blog/2021/03/24/whats-new-in-MP-Rest-Client2.0.html#auto-redirects), I do not recommend to add them into the [microprofile-rest-client](https://openliberty.io/g

[2021-10-05 20:47] andymc12 commented on #480
Hi @gkwan-ibm - that makes sense.  It might still make sense to add the SSE support functionality to the SSE guide as @yeekangc suggested, but other than that we probably don't need to make any other changes to the guides for MP Rest Client 2.0.  Thanks for investigating this!

[2021-10-06 14:29] gkwan-ibm commented on #480
hi @andymc12
Currently, the sse guide does not have sse client annotated with `@RegisterRestClient`. Would you suggest to us what should be changed in the sse guide, so that it can demonstrate how [mp rest client supports sse](https://openliberty.io/blog/2021/03/24/whats-new-in-MP-Rest-Client2.0.html#sse-support)?
Thanks

[2021-10-06 22:24] andymc12 commented on #480
Hi @gkwan-ibm - this SSE guide (https://openliberty.io/guides/reactive-messaging-sse.html) uses a JavaScript client to consume SSE messages - which is good to show for HTML-based clients.  But maybe we could add some unit (or integration) tests that use the MP Rest Client - something like:
[code]

[code]

See [GenericSubscriber.java](https://github.com/OpenLiberty/open-liberty/blob/release/dev/com

[2021-10-07 16:00] gkwan-ibm opened #726 "Update PR checker"
- check full hotspot should be in a line
[code]

[2021-10-07 21:12] gkwan-ibm commented on #726
- enhance the python script https://github.com/OpenLiberty/guides-common/blob/prod/pr-checker/checker.py
- try it out locally
  - see https://github.com/OpenLiberty/guides-common/blob/prod/pr-checker/checker.sh

[2021-10-14 17:48] gkwan-ibm commented on #726
done

[2021-10-14 17:48] #726 closed, assigned to nobody

[2021-10-14 18:31] yeekangc opened #731 "Update guides to cover podman"
Update relevant guides to demonstrate the use of podman and OCI container runtimes.

e.g., update https://openliberty.io/guides/docker.html to show the use of podman or create a new guide demonstrating it if appropriate.

[2021-10-14 21:23] gkwan-ibm opened #733 "Make the command titles clearer"
Make sure all those files are created at the start directory and make the command title clearer:
- [x] At the section https://openliberty.io/guides/gradle-intro.html#configure-your-project, change the command titles
  - **Create the Gradle settings file.** -> **Create the Gradle settings file in the `start` directory.**
  - **Create the build file.** -> **Create the build file in the `start` direc

[2021-10-14 21:47] gkwan-ibm opened #732 "Cloud-hosted: Add cd command to the start directory"
Add a command block after "Navigate to the start directory to begin."  and see any place need to add cd command
[code]
for the following published cloud-hosted guides:
- guide-docker
- guide-rest-intro
- guide-microprofile-opentracing
- guide-microprofile-fallback
- guide-microprofile-reactive-messaging-acknowledgment
- guide-microprofile-reactive-messaging-rest-integration
- guide-containerize
-

[2021-10-14 21:49] gkwan-ibm commented on #732
**PR was created and linked to this issue**
published cloud-hosted guides:
- [x] guide-docker
- [x] guide-rest-intro
- [x] guide-microprofile-opentracing
- [x] guide-microprofile-fallback
- [x] guide-microprofile-reactive-messaging-acknowledgment
- [x] guide-microprofile-reactive-messaging-rest-integration
- [x] guide-containerize
- [x] guide-microprofile-reactive-messaging
- [x] guide-microprofil

[2021-10-15 14:33] gkwan-ibm commented on #732
instructions:
- read over the cloud hosted guide
- add cd command to proper place(s)
  - most likely after "Navigate to the start directory to begin." but not always
- create PR against `staging` for published guide and `cloud-hosted-adjustment` branch for not-published guide
- add this issue url to the PR description
- use lgdev to make sure no change/regression for the static guide
- use dev lab

[2021-10-20 16:15] yeekangc opened #736 "Simpler guide for Deploying with Open Liberty Operator"
The current https://openliberty.io/guides/cloud-openshift-operator.html guide is relatively involved.  We can use a simpler and more focused version covering a straightforward scenario deploying an application using Open Liberty Operator to Kubernetes or OpenShift.

This can be a revision to https://openliberty.io/guides/kubernetes-intro.html.

[2021-10-20 16:15] yeekangc commented on #736
Cc @gkwan-ibm

[2021-10-20 21:49] gkwan-ibm commented on #686
close
- updated

[2021-10-20 21:49] #686 closed, assigned to nobody

[2021-10-21 12:53] gkwan-ibm commented on #732
close
- all changes were merged

[2021-10-21 12:53] #732 closed, assigned to nobody

[2021-10-21 13:45] gkwan-ibm commented on #733
close
- all PRs were merged

[2021-10-21 13:45] #733 closed, assigned to nobody

[2021-10-21 15:39] gkwan-ibm opened #737 "Test the guides with 21.0.0.11 GM candidate build"
Candidate build: cl211120211019-1900
- [x] Automated tests with jdk11 for all published guides  (Priyanshi)
  - https://github.com/OpenLiberty/guides-common/runs/3947915077
- [x] Automated tests with jdk8 for all published guides (Priyanshi)
  - https://github.com/OpenLiberty/guides-common/actions/runs/1369400011

Manual test the guides against GM with Semeru JDK 11:
- [x] guide-mongodb-intro (Rut

[2021-10-21 18:10] davidwyao commented on #737
## guide-jpa-intro

Output when running `mvn liberty:run` from `finish/frontendUI` directory:
[code]

Output when running `mvn liberty:run` from `finish/backendServices` directory:
[code]

Output when running `mvn liberty:run` from `start/frontendUI` directory:
[code]

Output when running `mvn liberty:run` from `start/backendServices` directory:
[code]

Guide works end to end as expected. Applicat

[2021-10-21 19:18] Kevcpro commented on #737
# guide-social-media-login

Output when running `mvn liberty:run` from `finish` directory:

[code]

Application worked as expected

# guide-microprofile-jwt
Output from `mvn liberty:run` from `start/frontend` directory:

[code]
Output from `mvn liberty:run` from `start/system` directory:

[code]
Application worked as expected

# guide-spring-boot
Output from `docker build -t springboot .`:
[code]

[2021-10-21 20:21] priyyanshi commented on #737
# draft-guide-microprofile-graphql
Output from `docker build -t system:1.0-java8-SNAPSHOT --build-arg JAVA_VERSION=java8 system/.`:
[code]
Output from `docker build -t system:1.0-java11-SNAPSHOT --build-arg JAVA_VERSION=java11 system/.`:
[code]
Output from `docker build -t graphql:1.0-SNAPSHOT graphql/.`:
[code]
Ran guide end-to-end, did not encounter any issues. Ran as expected.

[2021-10-21 21:14] yeekangc commented on #423
Thanks, team.  Let us proceed to publish (the GraphQL service guide).

[2021-10-21 21:54] rutavshah commented on #737
# guide-kubernetes-microprofile-config
Output from `docker build -t system:1.0-SNAPSHOT system/.`:
[code]
Output from `docker build -t inventory:1.0-SNAPSHOT inventory/.`:

[code]
Output from `docker logs <inventory-container-id>`:
[code]
Output from `docker logs <system-container-id>`:

[code]
Ran guide end-to-end, did not encounter any issues. Ran as expected.

# guide-mongodb-intro

Output when

[2021-10-22 15:05] gkwan-ibm commented on #737
close
- all tests completed

[2021-10-22 15:05] #737 closed, assigned to Kevcpro, rutavshah, priyyanshi, davidwyao

[2021-10-22 15:21] gkwan-ibm opened #740 "Update the PR checker for prohibited terms"
add the following  prohibited terms into the deny_list.json if not exist
[code]

[2021-10-22 19:47] gkwan-ibm opened #744 "Containerize guide with Podman"
Create a new guide as similar as the containerize guide but use Podman instead.

[2021-10-22 19:49] gkwan-ibm commented on #744
@davidwyao drafted at https://github.com/davidwyao/guide-podman/tree/podman-update

[2021-10-22 19:50] gkwan-ibm commented on #744
hi @davidwyao, I reviewed your draft, following is my initial comments:

- [x] rename the guide project id and repo to containerize-podman
- **What you’ll learn**
  - [x] "...using Podman for your microservices." -> "...using the Pod Manager tool (Podman) for your microservices."
    - and Add the link `https://docs.podman.io` to the words "Pod Manager tool"
  - [x] "You’ll construct `Dockerfile`

[2021-10-26 20:18] gkwan-ibm commented on #744
- **Creating your Containerfiles**
  - [x] remove the statement "For more information, see Best practices for writing Containerfiles."
- **Building your container image**
  - [x] update the output at the bottom for the values under the REPOSITORY and SIZE
- **Running your microservices in containers**
  - [x] update the output for the values under the IMAGE and COMMAND
  - [x] `172.17.0.2` to `10.

[2021-10-26 21:41] gkwan-ibm commented on #740
@davidwyao ideally, the check should be case-insensitive

[2021-10-27 14:31] gkwan-ibm commented on #744
- **Creating your Containerfiles**
  - [x] "In this case, you’re using the recommended production image,..." -> "In this case, you’re using the recommended production image from the IBM container registry, ..."
  - [x] `FROM open-liberty:kernel-slim` -> `FROM icr.io/appcafe/open-liberty:kernel-java11-openj9-ubi`
- **Running your microservices in containers**
  - [x] ` 172.17.0.2` to `10.88.0.2`

[2021-10-27 20:52] gkwan-ibm commented on #480
hi @andymc12 I tried the integration-test and doubt what you suggested can be achieved. The guide integration-test is different than the liberty fat. It has no mp-rest-clent implementation, so I got following error:
[code]

[2021-10-28 16:18] gkwan-ibm commented on #744
- **Creating your Containerfiles**
  - [x] "...instruction as `FROM open-liberty`."  -> "...instruction as `FROM icr.io/appcafe/open-liberty`."

[2021-11-01 16:25] yeekangc commented on #744
This is a duplicate of https://github.com/OpenLiberty/guides-common/issues/731?

[2021-11-03 21:12] gkwan-ibm commented on #480
Also, in the reactive sse guide, the existing sse events are non-stop. It may not fit to implement an mp rest client to consume.

[2021-11-04 21:18] yeekangc commented on #744
https://github.com/OpenLiberty/ci.maven/issues/1278 calls for devc's enhancement to support podman.  For future updates/work but noting it here for now.

[2021-11-08 16:42] yeekangc commented on #693
Use start.openliberty.io instead.

[2021-11-10 15:09] gkwan-ibm commented on #423
close
- the guide was published at https://openliberty.io/guides/microprofile-graphql.html

[2021-11-10 15:09] #423 closed

[2021-11-17 15:19] gkwan-ibm opened #755 "Test the guides with 21.0.0.12 GM candidate build"
Candidate build: cl211220211117-1256
- [x] Automated tests with jdk11 for all published guides  (Rutav)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/1477949691`
- [x] Automated tests with jdk8 for all published guides (Rutav)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/1478154343`

Manual test the guides against GM with Semeru JDK 11:
- [x] guide-mongodb-intro

[2021-11-18 19:27] davidwyao commented on #755
## guide-spring-boot
Output from `docker build -t springboot .`:
[code]
Output from `docker logs springBootContainer`:
[code]
Output from `./mvnw package` in `start` directory:
[code]
Ran guide end-to-end, no issues.

## guide-sessions
Output from `docker build -t cart-app:1.0-SNAPSHOT .`:
[code]
Output from docker logs:
[code]
Ran guide end-to-end, no issues.

## draft-guide-containerize-podman
O

[2021-11-18 19:38] priyyanshi commented on #755
# guide-mongodb-intro
Output from `mvn liberty:dev`  in `start` directory:
[code]
Tests fail in `dev` mode using Maven version `3.8.3`:
<img width="711" alt="Screen Shot 2021-11-18 at 2 33 08 PM" src="https://user-images.githubusercontent.com/49126997/142484664-a0fa9e18-5e76-44c6-ab27-9526f8032783.png">

Tests ran successfully in `dev` mode using Maven version `3.8.1`.

Ran guide end-to-end, did n

[2021-11-18 19:48] Kevcpro commented on #755
# guide-microprofile-jwt
Output from `mvn liberty:run` from `start/frontend` directory:

[code]
Output from `mvn liberty:run` from `start/system` directory:

[code]
Application worked as expected

## guide-jpa-intro

Output when running `mvn liberty:run` from `finish/frontendUI` directory:
[code]

Output when running `mvn liberty:run` from `finish/backendServices` directory:
[code]

Output when ru

[2021-11-19 03:42] andymc12 commented on #480
@gkwan-ibm No worries.  You might be able to pull in the Apache CXF dependencies directly in order to have a MP Rest Client 2.0 implementation for the test cases, but it's not necessary.  Thanks for the update.

[2021-11-19 14:59] rutavshah commented on #755
# guide-microprofile-reactive-messaging

Output from
[code]
[code]
[code]
Output from docker logs:
[code]
[code]
Ran guide end-to-end, no issues.

[2021-11-19 16:06] yeekangc commented on #707
LGTM.  Let us proceed to publish the updates.  Thanks all!

[2021-11-19 16:07] yeekangc commented on #707
@gkwan-ibm, please close this issue when the updates are live.

[2021-11-19 16:48] ryan-storey commented on #755
# guide-kubernetes-microprofile-config
Output from `docker build -t system:1.0-SNAPSHOT system/.`:
[code]
Output from `docker build -t inventory:1.0-SNAPSHOT inventory/.`:

[code]
Output from `docker logs <inventory-container-id>`:
[code]
Output from `docker logs <system-container-id>`:

[code]

Ran guide end-to-end no issues. Did run into a kubernetes error when I tried running on SN Labs, howeve

[2021-11-19 17:54] gkwan-ibm commented on #480
hi @andymc12
So, is it worth to address 6.?

[2021-11-19 21:02] gkwan-ibm commented on #707
close
- the https://openliberty.io/guides/maven-multimodules.html was updated

[2021-11-19 21:02] #707 closed, assigned to ryan-storey

[2021-11-22 19:31] andymc12 commented on #480
Hi @gkwan-ibm - I think we can probably skip that too.  It has some value, but it's more of an advanced feature, and users can learn about it from the javadocs or spec docs, etc.  Thanks!

[2021-11-23 15:30] gkwan-ibm commented on #480
close
- after investigation and discussion, no further work for this item, except #119

[2021-11-23 15:30] #480 closed

[2021-11-25 20:31] gkwan-ibm commented on #755
Regarding the containerize-pod guide,

guide-containerize exhibits the same behaviour.

It should be caused by the docker image created by us.

[2021-11-25 20:31] gkwan-ibm commented on #755
close
- all tests were completed

[2021-11-25 20:31] #755 closed, assigned to Kevcpro, rutavshah, priyyanshi, ryan-storey, davidwyao

[2021-11-26 15:24] gkwan-ibm opened #757 "Daily docker image cannot pick up the env var"
For testing the OL nightly builds, we build a docker image for each build, but it cannot pick up the env var through the docker run command. This issue need to revisit the build automation. Make sure that it follows https://github.com/OpenLiberty/ci.docker.daily

[2021-11-26 15:40] gkwan-ibm commented on #757
phases:
- [x] 1. manually build a image based on ci.docker.daily
- [x] 2. test the image that it can work end-to-end by the containerize guide
- [x] 3. update [our build script ](https://github.com/OpenLiberty/guides-common/blob/prod/.github/workflows/pre-daily-build.yml)

[2021-11-26 16:50] gkwan-ibm commented on #705
close
- the **Run in cloud** tag is showing in  https://openliberty.io/guides/

[2021-11-26 16:50] #705 closed, assigned to gkwan-ibm

[2021-11-26 16:51] gkwan-ibm commented on #740
close
- this enhancement was implemented

[2021-11-26 16:51] #740 closed, assigned to davidwyao

[2021-11-26 16:53] gkwan-ibm opened #758 "Update guides to use latest version"
Update the guides to use MP4.1, LMP 3.5.1, and latest dependencies.

[2021-11-26 17:40] gkwan-ibm commented on #549
close
- all dependencies were closed
- all guides were updated

[2021-11-26 17:40] #549 closed

[2021-11-26 18:10] Emily-Jiang opened #759 "Update guides to use MP 5.0"
Update MicroProfile guides to use MP 5.0 when Open Liberty 22.0.0.1 is out.

[2021-12-02 14:36] gkwan-ibm commented on #757
close
- the issue was fixed

[2021-12-02 14:36] #757 closed, assigned to gkwan-ibm

[2022-01-04 17:27] gkwan-ibm opened #769 "Test the guides with 22.0.0.1 GM candidate build"
Candidate build: cl220120220103-1900
- [x] Automated tests with jdk11 for all published guides  (Rutav)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/1652345818`
  - `https://github.com/OpenLiberty/guides-common/actions/runs/1654075780`
- [x] Automated tests with jdk8 for all published guides (Rutav)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/1655689154`

Manua

[2022-01-05 16:30] ryan-storey commented on #769
# guide-kubernetes-microprofile-config
Output from `docker build -t system:1.0-SNAPSHOT system/.`:
[code]
Output from `docker build -t inventory:1.0-SNAPSHOT inventory/.`:
[code]
Output from `docker logs <inventory-container-id>`:
[code]
Output from `docker logs <system-container-id>`:
[code]

Ran guide end-to-end no issues.

# guide-spring-boot
Output from `docker build -t springboot .`:
[code]
O

[2022-01-05 22:53] priyyanshi commented on #769
# guide-mongodb-intro
Output from `mvn liberty:dev`  in `start` directory:
[code]
Ran guide end-to-end, no issues.

# guide-social-media-login
Output from `mvn liberty:dev`  in `start` directory:
[code]
Ran guide end-to-end, no issues.

# draft-guide-containerize-podman
Output from `mvn -pl system liberty:run` in `start` directory:
[code]
Output from `mvn -pl inventory liberty:run` in `start` dire

[2022-01-06 05:03] jvanhill commented on #128
@yeekangc - Is there any progress on this?

[2022-01-06 14:38] t27gupta commented on #769
# guide-jpa-intro
Output from `mvn liberty:run` from `start/frontendUI` directory:

[code]
Output from `mvn liberty:run` from `start/backendServices` directory:

[code]
Application worked as expected

# guide-microprofile-jwt
Output when running `mvn liberty:run` from `start/frontend` directory:
[code]

Output when running `mvn liberty:run` from `start/system directory:
[code]
Application worked a

[2022-01-06 15:27] rutavshah commented on #769
# guide-microprofile-graphql
Output from `docker build -t system:1.0-java8-SNAPSHOT --build-arg JAVA_VERSION=java8 system/.`:
[code]
Output from `docker build -t system:1.0-java11-SNAPSHOT --build-arg JAVA_VERSION=java11 system/.`:
[code]
Output from `docker build -t graphql:1.0-SNAPSHOT graphql/.`:
[code]
Ran guide end-to-end, no issues.

# guide-sessions
Output from `mvn liberty:dev`:
[code]

Ou

[2022-01-06 21:53] gkwan-ibm commented on #769
close
- all tested were completed with no issue

[2022-01-06 21:53] #769 closed, assigned to rutavshah, t27gupta, priyyanshi, ryan-storey

[2022-01-18 14:04] gkwan-ibm opened #770 "Update the doc for hotspot"
in https://github.com/OpenLiberty/guides-common/wiki/Creating-a-static-guide-in-the-multipane-layout#3-hotspots, should use tags instead of line numbers

[2022-01-18 14:06] gkwan-ibm commented on #703
close
- the link was updated

[2022-01-18 14:06] #703 closed, assigned to nobody

[2022-01-24 22:49] priyyanshi opened #773 "Update PR checker to check the artifact id"
The artifact id for a guide should be be prefixed with the guide's project id. For example, artifact id should be `guide-containerize-podman-system` instead of `system`.

Source of PR checker: https://github.com/OpenLiberty/guides-common/tree/prod/pr-checker

[2022-02-02 14:32] gkwan-ibm opened #774 "Test the guides with 22.0.0.2 GM candidate build"
Candidate build: cl220220220201-1901
- [x] Automated tests with jdk11 for all published guides  (Tushar)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/1782414018`
- [x] Automated tests with jdk8 for all published guides (Tushar)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/1784501280`

Manual test the guides against GM with Semeru JDK 11:
- [x] guide-mongodb-intr

[2022-02-02 19:38] t27gupta commented on #774
# guide-jpa-intro
Output from `mvn liberty:run` from `start/frontendUI` directory:

[code]
Output from `mvn liberty:run` from `start/backendServices` directory:

[code]
# guide-microprofile-jwt
Output from `mvn liberty:run` from `start/frontend` directory:
[code]
Output from `mvn liberty:run` from `start/system` directory:
[code]
Application worked as expected

[2022-02-02 22:32] rutavshah commented on #774
# guide-microprofile-graphql
Output from `docker build -t system:1.0-java8-SNAPSHOT --build-arg JAVA_VERSION=java8 system/.`:
[code]
Output from `docker build -t system:1.0-java11-SNAPSHOT --build-arg JAVA_VERSION=java11 system/.`:
[code]
Output from `docker build -t graphql:1.0-SNAPSHOT graphql/.`:
[code]
Output from `docker logs`:
[code]
Ran guide end-to-end, no issues.

# guide-sessions
Output

[2022-02-03 12:46] ryan-storey commented on #774
# guide-kubernetes-microprofile-config
Output from `docker build -t system:1.0-SNAPSHOT system/.`:
[code]
Output from `docker build -t inventory:1.0-SNAPSHOT inventory/.`:
[code]
Output from `docker logs <inventory-container-id>`:
[code]
Output from `docker logs <system-container-id>`:
[code]

Ran guide end-to-end no issues.

[2022-02-03 15:56] priyyanshi commented on #774
# guide-mongodb-intro
Output from `mvn liberty:dev`  in `start` directory:
[code]
Ran guide end-to-end, no issues.

# guide-social-media-login
Output from `mvn liberty:dev`  in `start` directory:
[code]
Ran guide end-to-end, no issues.

# draft-guide-containerize-podman
Output from `mvn -pl system liberty:run` in `start` directory:
[code]
Output from `mvn -pl inventory liberty:run` in `start` dire

[2022-02-07 16:47] gkwan-ibm commented on #774
close
- all tests completed

[2022-02-07 16:47] #774 closed, assigned to rutavshah, t27gupta, priyyanshi, ryan-storey

[2022-02-23 11:50] irobins commented on #731
Beyond any specific podman guide, any Liberty guide that describes the use of docker (e.g. the getting-started Guide : https://openliberty.io/guides/getting-started.html#running-the-application-in-a-docker-container ) should be extended to accomodate the use of podman as an alternative to docker. From a command point of view, it should just be a case of replacing "docker" with "podman". Everything

[2022-03-01 13:13] Emily-Jiang opened #780 "Create a guide to demonstrate Open Liberty cloud native applications running on Rancher"
Rancher (rancher.io) is a complete software stack for teams adopting containers. It addresses the operational and security challenges of managing multiple Kubernetes clusters across any infrastructure, while providing DevOps teams with integrated tools for running containerized workloads.

It is OpenShift alternative. It will be great if we get Open Liberty running on Rancher and provide instructi

[2022-03-01 22:14] yeekangc commented on #780
Cc @gkwan-ibm @jamiecoleman92

[2022-03-02 12:51] jamiecoleman92 commented on #780
I was considering using Rancher Desktop rather than Docker Desktop on my work machine as it is a good alternative. I will take a look at what the whole stack looks like and see if it is viable to create a guide using it @yeekangc .

[2022-03-02 22:26] gkwan-ibm opened #783 "Revisit the health checks"
Need to improve the current health checks code for the following guides:
- [x] guide-cloud-openshift-operator
    - no need to be updated
- [x] guide-getting-started
- [x] guide-microprofile-reactive-messaging-acknowledgment
    - no need to be updated
- [x] guide-reactive-rest-client
    - no need to be updated
- [x] guide-microprofile-reactive-messaging-rest-integration
    - no need to be updat

[2022-03-02 22:29] gkwan-ibm commented on #783
- [ ] guide-cloud-openshift-operator
- [ ] guide-getting-started
- [ ] guide-microprofile-reactive-messaging-acknowledgment
- [ ] guide-reactive-rest-client
- [ ] guide-microprofile-reactive-messaging-rest-integration
- [ ] guide-microprofile-reactive-messaging
- [ ] guide-microprofile-rest-client-async
- [ ] guide-reactive-messaging-sse
- [ ] guide-reactive-service-testing
- [ ] guide-kubernetes-

[2022-03-03 16:31] gkwan-ibm opened #784 "Test the guides with 22.0.0.3 GM candidate build"
Candidate build: cl220320220302-1100
- [x] Automated tests with jdk11 for all published guides  (Tushar)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/????`
- [x] Automated tests with jdk8 for all published guides (Tushar)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/????`

Manual test the guides against GM with Semeru JDK 11:
- [x] guide-mongodb-intro (Priyanshi

[2022-03-04 21:21] t27gupta commented on #784
# guide-jpa-intro
Output from `mvn liberty:run` from `start/frontendUI` directory:
[code]
Output from `mvn liberty:run` from `start/backendServices` directory:
[code]
# guide-microprofile-jwt
Output from `mvn liberty:run` from `start/frontend` directory:
[code]
Output from `mvn liberty:run` from `start/system` directory:
[code]
Application worked as expected

[2022-03-04 21:51] yeekangc commented on #744
Let us proceed to publish this guide.  Thank you, @priyyanshi @gkwan-ibm!

[2022-03-04 22:35] priyyanshi commented on #784
# guide-mongodb-intro
Output from `mvn liberty:dev`  in `start` directory:
[code]
Ran guide end-to-end, faced no issues with functionality. But the [http:localhost:9080/openapi/ui](http://localhost:9080/openapi/ui/) endpoint did not look as expected, it still worked as expected.
<img width="200" alt="Screen Shot 2022-03-04 at 5 14 32 PM" src="https://user-images.githubusercontent.com/49126997/1568

[2022-03-07 15:33] ryan-storey commented on #784
# guide-kubernetes-microprofile-config
Output from `docker build -t system:1.0-SNAPSHOT system/.`:
[code]
Output from `docker build -t inventory:1.0-SNAPSHOT inventory/.`:
[code]
Output from `docker logs <inventory-container-id>`:
[code]
Output from `docker logs <system-container-id>`:
[code]

Ran guide end-to-end no issues.

[2022-03-07 15:51] rutavshah commented on #784
# guide-microprofile-graphql
Output from `docker build -t system:1.0-java8-SNAPSHOT --build-arg JAVA_VERSION=java8 system/.`:
[code]
Output from `docker build -t system:1.0-java11-SNAPSHOT --build-arg JAVA_VERSION=java11 system/.`:
[code]
Output from `docker build -t graphql:1.0-SNAPSHOT graphql/.`:
[code]
Output from `docker logs`:
[code]
Ran guide end-to-end, no issues.

# guide-microprofile-rea

[2022-03-07 15:56] gkwan-ibm commented on #784
Session guide

[code]

[2022-03-07 22:31] gkwan-ibm commented on #784
close
- all guides in the description were tests and passed except the expected openapi/ui issue

[2022-03-07 22:31] #784 closed, assigned to nobody

[2022-03-10 16:43] yeekangc commented on #744
https://openliberty.io/guides/containerize-podman.html published.

[2022-03-10 16:43] #744 closed, assigned to priyyanshi

[2022-03-18 15:39] mbroz2 commented on #759
Since when making this update you're going to also need to update the index.html in these guides (to point them at the new feature versions), please also update the following:

1. Change link to ol.io to use https
`Find out more at <a href="https://openliberty.io/" target="_blank" rel="noopener noreferrer">openliberty.io</a>`
2. Change the links to features to the new structure to avoid the need f

[2022-03-18 20:28] gkwan-ibm commented on #783
close
- checked the above guides and fixed the issue

[2022-03-18 20:28] #783 closed, assigned to gkwan-ibm

[2022-04-01 19:57] yeekangc opened #793 "Consider a guide for Paketo"
Consider a guide for Paketo.  See https://openliberty.io/blog/2022/04/01/cloud-native-liberty-buildpack.html.

Cc @mbroz2

[2022-04-01 21:22] gkwan-ibm opened #794 "Test the guides with 22.0.0.4 GM candidate build"
Candidate build: cl220420220328-1303
- [x] Automated tests with jdk11 for all published guides  (Tushar)
  - `https://github.com/OpenLiberty/guides-common/runs/5732168451`
- [ ] ~~Automated tests with jdk8 for all published guides (Tushar)~~
  - ~~`https://github.com/OpenLiberty/guides-common/actions/runs/????`~~
  - image was removed

Manual test the guides against GM with Semeru JDK 11:
- [x] gu

[2022-04-04 14:03] ryan-storey commented on #794
# guide-kubernetes-microprofile-config
Output from `docker build -t system:1.0-SNAPSHOT system/.`:
[code]
Output from `docker build -t inventory:1.0-SNAPSHOT inventory/.`:
[code]
Output from `docker logs <inventory-container-id>`:
[code]
Output from `docker logs <system-container-id>`:
[code]

Ran guide end-to-end no issues.

# guide-microprofile-graphql
Output from `docker build -t system:1.0-jav

[2022-04-04 20:28] priyyanshi commented on #794
# guide-mongodb-intro
Output from `mvn liberty:dev`  in `start` directory:
[code]
Ran guide end-to-end, faced no issues.
# guide-social-media-login
Output from `mvn liberty:dev`  in `start` directory:
[code]
Ran guide end-to-end, no issues.
# guide-spring-boot
Output from `docker build -t springboot .`:
[code]
Output from `docker logs springBootContainer`:
[code]
Output from `./mvnw liberty:run` i

[2022-04-05 20:00] rutavshah commented on #794
# guide-sessions
Output from `mvn liberty:dev`:
[code]

Output from `docker build -t cart-app:1.0-SNAPSHOT .`:
[code]
Output from `docker logs`:
[code]
Ran guide end-to-end, ran without issues after changing hazelcast version to 3.12.12

# guide-microprofile-reactive-messaging

Output from
[code]
[code]
[code]
Output from `docker logs`:
[code]
[code]
Ran guide end-to-end, no issues.

[2022-04-06 21:10] gkwan-ibm commented on #794
close
- all tests were completed

[2022-04-06 21:10] #794 closed, assigned to nobody

[2022-04-19 16:48] gkwan-ibm opened #800 "restore guides back to use latest version of Open Liberty"
Restore the following guides back to use latest version of Open Liberty:
- [x] guide-spring-boot
- [x] guide-microprofile-openapi
- [x] guide-sessions
- [x] guide-bean-validation
- [x] guide-mongodb-intro

Remove the `<configuration>...</configuration>` text in the pom.xml at both finish and start directories:

            <plugin>
                <groupId>io.openliberty.tools</groupId>

[2022-04-21 15:52] gkwan-ibm opened #801 "Update guides to use new SNL style"
Update the following guides to use new SNL style:
- [x] guide-microprofile-reactive-messaging-rest-integration
- [x] guide-microprofile-rest-client-async
- [x] guide-reactive-rest-client
- [x] guide-reactive-service-testing
- [x] guide-microshed-testing
- [x] guide-microprofile-graphql (Gilbert)
- [x] guide-reactive-messaging-sse

[guide-reactive-messaging-sse](javascript:copyToClipboard("g45");)

[2022-04-26 15:13] gkwan-ibm opened #802 "Test the guides with 22.0.0.5 GM candidate build"
Candidate build:  cl220520220425-0301
- [x] Automated tests with jdk11 for all published guides  (Tushar)
  - `https://github.com/OpenLiberty/guides-common/runs/6170295213`
- [x] Automated tests with jdk8 for all published guides (Tushar)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/????`

Manual test the guides against GM with Semeru JDK 11:
- [x] guide-microprofile-jwt (Tushar)

[2022-04-26 17:04] gkwan-ibm opened #803 "fix dockerImageTest.sh"
Change `sed -i "s;FROM openliberty/open-liberty:kernel-java8-openj9-ubi;FROM openliberty/daily:latest;g"` to
`sed -i "s;FROM icr.io/appcafe/open-liberty:kernel-java8-openj9-ubi;FROM openliberty/daily:latest;g"`

- [x] guide-cloud-openshift-operator
- [x] guide-sessions
- [x] guide-getting-started
- [x] guide-microprofile-reactive-messaging-acknowledgment
- [x] guide-reactive-rest-client
- [x] guid

[2022-04-26 17:18] gkwan-ibm commented on #802
spring-boot passed

[code]

[2022-04-26 18:26] gkwan-ibm opened #804 "Create a guide for HttpSession caching with Infinispan"
Requested by https://github.com/OpenLiberty/guide-sessions/issues/145

OL supports HttpSession caching with Infinispan
- https://openliberty.io/blog/2020/01/08/infinispan-open-liberty-openshift.html

[2022-04-26 18:30] gkwan-ibm commented on #804
@corporate-gadfly

[2022-04-26 20:22] gkwan-ibm commented on #802
session guide passed

From dev mode,
[code]

From pod log:
[code]

[2022-04-26 22:58] priyyanshi commented on #802
# draft-guide-liberty-deepdive

## Getting started with Liberty and REST
Output from `mvn liberty:dev` at `/home/project/draft-guide-liberty-deepdive/start/inventory`:
[code]
Ran as expected, no issues.

## Documenting APIs
Ran as expected, no issues.

## Configuring the microservice
Ran as expected, no issues.

## Persisting data
Ran as expected, no issues.

## Securing RESTful APIs
Ran as expect

[2022-04-27 10:31] ryan-storey commented on #802
# guide-kubernetes-microprofile-config
Output from `docker build -t system:1.0-SNAPSHOT system/.`:
[code]
Output from `docker build -t inventory:1.0-SNAPSHOT inventory/.`:
[code]
Output from `docker logs <inventory-container-id>`:
[code]
Output from `docker logs <system-container-id>`:
[code]

Ran guide end-to-end no issues.

# guide-microprofile-graphql
Output from `docker build -t system:1.0-jav

[2022-04-27 14:28] t27gupta commented on #802
# guide-jpa-intro
Output from `mvn liberty:run` from `start/frontendUI` directory:
[code]
Output from `mvn liberty:run` from `start/backendServices` directory:
[code]
# guide-microprofile-jwt
Output from `mvn liberty:run` from `start/frontend` directory:
[code]
Output from `mvn liberty:run` from `start/system` directory:
[code]
Application worked as expected

[2022-04-28 15:03] rutavshah commented on #802
# guide-microprofile-reactive-messaging

Output from
[code]
[code]
[code]
Output from `docker logs`:
[code]
[code]
Ran guide end-to-end, no issues.

[2022-04-28 18:25] gkwan-ibm commented on #802
mongodb guide pass
[code]

[2022-04-28 20:11] gkwan-ibm commented on #802
social media login guide pass
[code]

[2022-04-28 20:16] gkwan-ibm commented on #802
close
- all tests were completed and pass

[2022-04-28 20:16] #802 closed, assigned to gkwan-ibm, rutavshah, t27gupta, priyyanshi, ryan-storey

[2022-04-28 21:18] gkwan-ibm commented on #736
published
- https://openliberty.io/guides/openliberty-operator-intro.html
- https://openliberty.io/guides/openliberty-operator-openshift.html

[2022-04-29 13:16] hutchig commented on #512
Is this still live? @rutavshah ?
I am the new technical owner of gRPC on Liberty and would be happy to help progress.
As well as https://github.ibm.com/wtlucy/liberty_grpc_samples/ there is also https://github.com/OpenLiberty/sample-grpc
but appears to use docker - which I imagine could be `podman` or something similar these days?

[2022-05-11 16:21] gkwan-ibm opened #807 "Revisit the terms and seo for MP5 and Jakarta EE 9"
The guides were migrated to use MP5 and Jakarta EE 9. Need to fix the README, seo, cloud-hosted landing pages to use the right terms of MP5 and Jakarta EE 9, e.g.
- not jaxrs
- Eclipse MicroProfile -> MicroProfile
- more ...

[2022-05-12 20:57] gkwan-ibm commented on #800
close
- all guides were restored

[2022-05-12 20:57] #800 closed, assigned to t27gupta

[2022-05-12 21:47] gkwan-ibm commented on #801
close
- the listed guides were updated

[2022-05-12 21:47] #801 closed, assigned to t27gupta

[2022-05-13 18:42] gkwan-ibm commented on #803
close
- all listed guides were fixed

[2022-05-13 18:42] #803 closed, assigned to nobody

[2022-05-17 19:36] gkwan-ibm opened #808 "Update the CONTRIBUTING.md"
The CONTRIBUTING.md is still using `qa`. It should be updated to `staging`

[2022-05-24 19:47] gkwan-ibm opened #809 "Test the guides with 22.0.0.6 GM candidate build"
Candidate build:  cl220620220523-1607
- [x] Automated tests with jdk11 for all published guides  (Tushar)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/2385123524` (all)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/2387069125` (liberty-deep-dive)
- [x] Automated tests with jdk8 for all published guides (Tushar)
  - `https://github.com/OpenLiberty/guides-common/ac

[2022-05-24 21:11] t27gupta commented on #809
# guide-microprofile-jwt
Output from `mvn liberty:run` from `start/frontend` directory:

[code]
Output from `mvn liberty:run` from `start/system` directory:

[code]
Application worked as expected

[2022-05-25 14:18] rutavshah commented on #809
# guide-jpa-intro
Output from `mvn liberty:run` from `start/frontendUI` directory:
[code]
Output from `mvn liberty:run` from `start/backendServices` directory:
[code]
Ran guide end-to-end, no issues.

# guide-microprofile-reactive-messaging

Output from
[code]
[code]
[code]
Output from `docker logs`:
[code]
[code]
Ran guide end-to-end, no issues.

[2022-05-25 14:27] uhryniuk commented on #809
# guide-mongodb-intro
Output from `mvn liberty:dev` from `start` directory:
[code]
Completed end-to-end, runs as expected.

# guide-sessions

Output from `docker build -t cart-app:1.0-SNAPSHOT .`
[code]
Output from  `kubectl apply -f https://raw.githubusercontent.com/hazelcast/hazelcast/master/kubernetes-rbac.yaml`
[code]
Output from `kubectl apply -f kubernetes.yaml`:
[code]
Output from  `kubectl

[2022-05-25 14:40] shin19991207 commented on #809
# guide-social-media-login

Output from `mvn liberty:dev` from `start` directory:
[code]
Ran guide end-to-end, worked as expected.

[2022-05-25 14:57] priyyanshi commented on #809
# draft-guide-microprofile-graphql
Output from `docker build -t system:1.0-java8-SNAPSHOT --build-arg JAVA_VERSION=java8 system/.`:
[code]
Output from `docker build -t system:1.0-java11-SNAPSHOT --build-arg JAVA_VERSION=java11 system/.`:
[code]
Output from `docker build -t graphql:1.0-SNAPSHOT graphql/.`:
[code]
Output from 'docker build -t query:1.0-SNAPSHOT query/.`:
[code]
Ran as expected, no i

[2022-05-26 14:41] ryan-storey commented on #809
# guide-kubernetes-microprofile-config
Output from `docker build -t system:1.0-SNAPSHOT system/.`:
[code]
Output from `docker build -t inventory:1.0-SNAPSHOT inventory/.`:
[code]
Output from `docker logs <inventory-container-id>`:
[code]
Output from `docker logs <system-container-id>`:
[code]

Ran guide end-to-end no issues.

# guide-microprofile-graphql
Output from `docker build -t system:1.0-jav

[2022-05-26 15:38] gkwan-ibm commented on #809
close
- all tests were completed

[2022-05-26 15:38] #809 closed, assigned to rutavshah, t27gupta, priyyanshi, ryan-storey, shin19991207, uhryniuk

[2022-05-31 13:31] gkwan-ibm commented on #727
close
- the most guides were aligned to use mp-config 3.0
- the rest of the guides will be addressed by issue #759
- the new features of mp-config 2.0 will be addressed by issue #548

[2022-05-31 13:31] #727 closed

[2022-05-31 13:42] gkwan-ibm commented on #638
will add it at the "Nice work! Where to next?" section

[2022-05-31 13:48] gkwan-ibm commented on #683
close
- most guides were updated to  mpHealth-4.0
- the reactive and graphql guides will be updated when the new mp reactive and graphql features are released on OL 22.0.0.6+  (by issue #759)

[2022-05-31 13:48] #683 closed

[2022-06-01 14:00] gkwan-ibm commented on #638
hi @mbroz2, do you know who owns the interactive tutorial on the kube official site? It is old. It is using mp3.

[2022-06-01 14:03] mbroz2 commented on #638
@jamiecoleman92

[2022-06-01 14:04] gkwan-ibm commented on #638
and I got
![Screen Shot 2022-06-01 at 10 03 19 AM](https://user-images.githubusercontent.com/29576299/171423567-952d1c4e-a576-42cb-ab4e-f4863200db7e.png)

[2022-06-02 16:08] gkwan-ibm commented on #736
@yeekangc it is OK to close

[2022-06-02 16:18] gkwan-ibm commented on #712
@yeekangc
it is ok to close
- most guides were updated except the following:
  - the guide-cloud-openshift will be deprecated because of using openshift 3
  - the guide-cloud-google will be addressed by https://github.com/OpenLiberty/guide-cloud-google/issues/46
  - the guide-okd will be addressed by https://github.com/OpenLiberty/guide-okd/issues/84

[2022-06-06 20:04] yeekangc opened #812 "Adopt Liberty Maven Plugin 3.6 & Liberty Gradle Plugin 3.4 + Auto-Gen of Feature Config"
Bump up the versions of build plugins used by the guides and enable auto-generation of feature configuration in server.xml in the guides.

This should align with the corresponding adoption by the Liberty Starter (https://github.com/OpenLiberty/start.openliberty.io/issues/109) and should only be considered after the Jakarta EE 9/9.1 + MicroProfile 6 are supported by the auto-gen of feature config c

[2022-06-06 20:29] yeekangc opened #813 "Guide for Testcontainers"
Consider a guide that covers the use of Testcontainers with Jakarta EE, MicroProfile and Open Liberty.

[2022-06-06 20:29] yeekangc commented on #813
Cc @gkwan-ibm

[2022-06-06 20:32] yeekangc opened #814 "How to deprecate and remove old guides?"
Work out a scheme to deprecate and remove old or dated guides

@gkwan-ibm

[2022-06-06 20:35] yeekangc commented on #814
Cc @lauracowen

[2022-06-14 16:59] gkwan-ibm commented on #808
https://raw.githubusercontent.com/OpenLiberty/guide-cloud-azure/version-update-mp5/CONTRIBUTING.md

[2022-06-17 21:45] gkwan-ibm commented on #804
studied the sessions and infinispan with
- embedded mode
  - OL LMP dev mode works
  - but not work in kubernetes (without mpMetrics and mpReactiveStreams features)
  - requires mpReactiveStreams feature that OL does not support it with EE9 yet
  - code at https://github.com/gkwan-ibm/draft-guide-sessions-infinispan/tree/draft-embedded/finish
- client/server mode
  - work in kubernetes
  - OL LMP

[2022-06-21 15:15] gkwan-ibm opened #824 "Test the guides with 22.0.0.7 GM candidate build"
Candidate build: cl220720220620-2217
- [x] Automated tests with jdk11 for all published guides  (Tushar)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/2538294025`
- [x] Automated tests with jdk8 for all published guides (Tushar)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/2538297394`
  - for the contract-testing guide, au.com.dius.pact.provider 4.3.4 Maven plugi

[2022-06-21 18:44] uhryniuk commented on #824
# guide-mongodb-intro
Output from `mvn liberty:dev` from `start` directory:
[code]
Completed end-to-end, runs as expected.

# guide-sessions

Output from `docker build -t cart-app:1.0-SNAPSHOT .`
[code]
Output from  `kubectl apply -f https://raw.githubusercontent.com/hazelcast/hazelcast/master/kubernetes-rbac.yaml`
[code]
Output from `kubectl apply -f kubernetes.yaml`:
[code]
Output from  `kubectl

[2022-06-21 20:43] shin19991207 commented on #824
# guide-microprofile-graphql
Output from `docker build -t system:1.0-java8-SNAPSHOT --build-arg JAVA_VERSION=java8 system/.`:
[code]
Output from `docker build -t system:1.0-java11-SNAPSHOT --build-arg JAVA_VERSION=java11 system/.`:
[code]
Output from `docker build -t graphql:1.0-SNAPSHOT graphql/.`:
[code]
Output from `docker logs`:
[code]
Ran guide on branch `version-update-mp5` end-to-end, no is

[2022-06-22 11:56] rutavshah commented on #824
# guide-microprofile-reactive-messaging

Output from
[code]
[code]
[code]
Output from `docker logs`:
[code]
[code]
Ran guide end-to-end, no issues.

# guide-jpa-intro
Output from `mvn liberty:run` from `start/frontendUI` directory:
[code]
Output from `mvn liberty:run` from `start/backendServices` directory:
[code]
Ran guide end-to-end, no issues.

[2022-06-22 14:41] t27gupta commented on #824
# guide-kubernetes-microprofile-config
Output from `docker build -t system:1.0-SNAPSHOT system/.`:
[code]
Output from `docker build -t inventory:1.0-SNAPSHOT inventory/.`:
[code]
Output from `docker logs <inventory-container-id>`:
[code]
Output from `docker logs <system-container-id>`:
[code]
Ran guide end-to-end no issues.
# guide-microprofile-jwt
Output from `mvn liberty:run` from `start/fronten

[2022-06-22 15:32] gkwan-ibm commented on #824
close
- all tests were completed

[2022-06-22 15:32] #824 closed, assigned to rutavshah, t27gupta, shin19991207, uhryniuk

[2022-07-05 20:17] yeekangc opened #827 "Guide for Checkpoint & Restore"
Consider a(n early release) guide for checkpoint and restore capability.

Cc @gkwan-ibm @tjwatson @vijaysun-omr

[2022-07-05 20:28] yeekangc commented on #550
@gkwan-ibm is looking at a related item.  Assigning to Gilbert for now to consider (what's more that needs to be done).

[2022-07-05 20:32] yeekangc commented on #464
@gkwan-ibm, I think we have delivered on what's needed?

[2022-07-06 15:18] #736 closed, assigned to ryan-storey

[2022-07-06 15:19] #712 closed, assigned to nobody

[2022-07-06 15:24] gkwan-ibm commented on #464
yes, we published
- https://openliberty.io/guides/openliberty-operator-intro.html
- https://openliberty.io/guides/openliberty-operator-openshift.html

[2022-07-06 15:28] gkwan-ibm commented on #550
- [x] redirect `https://openliberty.io/guides/cloud-openshift.html` to `https://openliberty.io/guides/cloud-openshift-operator.html`
- [x] rename github repo `guide-cloud-openshift` to `archived-guide-cloud-openshift`
- [x] archived the github repo

[2022-07-18 14:19] gkwan-ibm commented on #808
update the CONTRIBUTING.md of the following guides as same s  https://raw.githubusercontent.com/OpenLiberty/guide-openliberty-operator-intro/prod/CONTRIBUTING.md
- [ ] guide-gradle-intro
- [ ] guide-rest-intro
- [ ] guide-maven-intro
- [ ] guide-social-media-login
- [ ] guides-common
- [ ] guide-cloud-openshift
- [ ] guide-microprofile-opentracing-jaeger
- [ ] guide-bean-validation
- [ ] guide-sec

[2022-07-19 13:36] gkwan-ibm opened #828 "Update the license link in index.html"
Update the license link https://github.com/OpenLiberty/open-liberty/blob/master/LICENSE to https://github.com/OpenLiberty/open-liberty/blob/release/LICENSE for all index.html

- [x] guide-getting-started
- [x] guide-reactive-messaging-sse
- [x] guide-contract-testing
- [x] guide-mongodb-intro

[2022-07-19 15:13] mbroz2 commented on #827
If I'm understanding this correctly and we did want to do a guide for beta functionality, we'd probably want to a "BETA" badge for the guide (both card and top of guide). If so, this would be work for the site team (though pretty small).
![image](https://user-images.githubusercontent.com/3076261/179785500-71273e8f-7488-4fa3-8254-4497a2db5791.png)

[2022-07-20 14:03] gkwan-ibm opened #830 "Test the guides with 22.0.0.8 GM candidate build"
Candidate build: cl220820220719-1056
- [x] Automated tests with jdk11 for all published guides  (Tushar)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/2712309764`
- [x] Automated tests with jdk8 for all published guides (Tushar)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/2712316927`
  - for the contract-testing guide, au.com.dius.pact.provider 4.3.4 Maven plugi

[2022-07-20 15:03] ryan-storey commented on #830
# guide-microprofile-graphql
Output from `docker build -t system:1.0-java8-SNAPSHOT --build-arg JAVA_VERSION=java8 system/.`:
[code]
Output from `docker build -t system:1.0-java11-SNAPSHOT --build-arg JAVA_VERSION=java11 system/.`:
[code]
Output from `docker build -t graphql:1.0-SNAPSHOT graphql/.`:
[code]
Output from `docker logs`:
[code]
Ran guide end-to-end, no issues.

[2022-07-20 16:12] uhryniuk commented on #830
# guide-microprofile-reactive-messaging

Output from
[code]
[code]
[code]
Output from `docker logs`:
[code]
[code]
Completed guide, no issues.

---

# guide-social-media-login
Output from `mvn liberty:dev`:
[code]
Completed guide, no issues.

[2022-07-20 19:52] rutavshah commented on #830
# guide-microprofile-jwt
Output from `mvn liberty:run` from `start/frontend` directory:
[code]
Output from `mvn liberty:run` from `start/system` directory:
[code]
Ran guide end-to-end, no issues.

# guide-mongodb-intro

Output when running `mvn liberty:run` from `start` directory:

[code]
Ran guide end-to-end, no issues.

[2022-07-20 19:54] t27gupta commented on #830
# guide-jpa-intro
Output from `mvn liberty:run` from `start/frontendUI` directory:
[code]
Output from `mvn liberty:run` from `start/backendServices` directory:
[code]
# guide-sessions
Output from `docker build -t cart-app:1.0-SNAPSHOT .`
[code]
Output from  `kubectl apply -f https://raw.githubusercontent.com/hazelcast/hazelcast/master/kubernetes-rbac.yaml`
[code]
Output from `kubectl apply -f kube

[2022-07-21 15:32] gkwan-ibm opened #831 "Is it best practice or IBM recommended?"
Guides demonstrate a particular way to implement and/or deploy the application, e.g. The [cloud-openshift-operator](https://openliberty.io/guides/cloud-openshift-operator.html#building-and-pushing-the-images) guide uses ImageStream.  Users may question that
- Is it the best practice or IBM recommended?
- Are there alternative ways?
- ...

The guides better make a statement or other to reduce users

[2022-07-21 17:24] gkwan-ibm commented on #830
kubernetes-microprofile-config

![Screen Shot 2022-07-21 at 1 20 39 PM](https://user-images.githubusercontent.com/29576299/180275260-dfc8ed19-6d3b-4627-8c81-48a9d5b463a1.png)

![Screen Shot 2022-07-21 at 1 20 13 PM](https://user-images.githubusercontent.com/29576299/180275623-d30f6937-61c8-4b67-a48b-c7d03acc0ff5.png)

Ran guide end-to-end, no issues.

[2022-07-21 17:25] gkwan-ibm commented on #830
close
- all tests were completed

[2022-07-21 17:25] #830 closed, assigned to rutavshah, t27gupta, ryan-storey, uhryniuk

[2022-07-28 22:24] gkwan-ibm commented on #808
Unto now, the following guides either has no PR or PR is not good enough
- [x] guide-social-media-login
- [x] guides-common
- [x] guide-cloud-openshift-operator
- [x] guide-rest-client-angularjs
- [x] guide-sessions
- [x] guide-arquillian-managed
- [x] guide-rest-client-reactjs
- [x] guide-cloud-aws
- [x] guide-microprofile-jwt

[2022-08-03 15:11] jamiecoleman92 opened #833 "Container guides not working on new Mac architecture"
Now Apple are using their own CPU chips (M1/M2) based on ARM architecture our guides no longer work due to not having a container image available for this. There is a work around for Docker use but when testing with Kubernetes we are hitting an issue of the JVM falling over most likely due to architecture differences. The workaround would be `--platform linux/amd64` that pulls down the intel image

[2022-08-08 12:51] gkwan-ibm commented on #828
close
- 4 guides were fixed

[2022-08-08 12:51] #828 closed, assigned to t27gupta

[2022-08-08 19:45] gkwan-ibm commented on #808
close
- all above guides were updated

[2022-08-08 19:45] #808 closed, assigned to t27gupta

[2022-08-12 20:17] gkwan-ibm commented on #793
paketo issues:
- https://github.com/paketo-buildpacks/liberty/issues/201
- https://github.com/paketo-buildpacks/liberty/issues/184

[2022-08-16 16:12] jgawor opened #834 "Add tool links to key guides"
On the "Add to an existing application" section on the https://openliberty.io/start/ page, each of the tabs have a link to a corresponding tool guide. That's great, but only one of the guides (Gradle) has a direct link to the GitHub page with more information about that particular tool right in the introduction. It would be good to add a similar links to Maven and Docker guides so that is easier t

[2022-08-17 15:48] gkwan-ibm opened #835 "Test the guides with 22.0.0.9 GM candidate build"
Candidate build: cl220920220815-1900
- [x] Automated tests with jdk11 for all published guides  (Tushar)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/2878022851`
- [x] Automated tests with jdk8 for all published guides (Tushar)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/2878026004`
  - for the contract-testing guide, au.com.dius.pact.provider 4.3.4 Maven plugi

[2022-08-17 18:08] uhryniuk commented on #835
# guide-microprofile-reactive-messaging

Output from
[code]
[code]
[code]
Output from `docker logs`:
[code]
[code]
Completed guide, no issues.

---

# guide-social-media-login
Output from `mvn liberty:dev`:
[code]
Completed guide, no issues.

[2022-08-17 19:23] ocseal commented on #835
Cargo Tracker displays and runs properly on the 22.0.0.9 candidate build with full functionality after running the standard Box note tests.

[2022-08-17 19:43] t27gupta commented on #835
# guide-jpa-intro
Output from `mvn liberty:run` from `start/frontendUI` directory:
[code]
Output from `mvn liberty:run` from `start/backendServices` directory:
[code]
# guide-sessions
Output from `docker build -t cart-app:1.0-SNAPSHOT .`
[code]
Output from  `kubectl apply -f https://raw.githubusercontent.com/hazelcast/hazelcast/master/kubernetes-rbac.yaml`
[code]
Output from `kubectl apply -f kube

[2022-08-17 19:46] shin19991207 commented on #835
# guide-microprofile-jwt

Output from `mvn liberty:dev` in `frontend` directory:
[code]

Output from `mvn liberty:dev` in `system` directory:
[code]
Ran guide end-to-end, no issues.

---
# guide-mongodb-intro

Output from `mvn liberty:dev`:
[code]
Ran guide end-to-end, no issues.

---
# draft-guide-graphql-client

Output from `docker build -t system:1.0-java8-SNAPSHOT --build-arg JAVA_VERSION=java

[2022-08-18 16:13] ReeceNana commented on #835
# guide-kubernetes-config
Output from:

[code]

`Step 1/7 : FROM guidesbot.olguides:cl220920220815-1900`
`Step 1/7 : FROM guidesbot.olguides:cl220920220815-1900`

Output from `kubectl get pods`

[code]

Ran guide end-to-end, no issues.

# guide-microprofile-graphql
Output from:

[code]

`Step 4/8 : FROM guidesbot.olguides:cl220920220815-1900`
`Step 4/8 : FROM guidesbot.olguides:cl220920220815-1900

[2022-08-18 16:38] gkwan-ibm commented on #835
close
- all tests were completed

[2022-08-18 16:38] #835 closed, assigned to ocseal, t27gupta, shin19991207, uhryniuk, ReeceNana

[2022-08-22 19:10] #758 closed, assigned to nobody

[2022-08-24 13:35] gkwan-ibm commented on #807
for jaxrs
- guide-arquillian-managed only need to update the output at test section
- guide-reactive-rest-client and guide-microshed-testing are pending to update to EE9

[2022-08-24 13:39] gkwan-ibm commented on #807
for Eclipse MicroProfile, need to fix the following
- [x] guide-microprofile-opentracing-jaeger
- [x] guide-microprofile-graphql
- [x] guide-microprofile-fallback
- [x] guide-microprofile-rest-client
- [x] guide-microprofile-metrics
- [x] guide-microprofile-config
- [x] guide-kubernetes-microprofile-config
- [x] guide-microprofile-jwt
- [x] guide-microprofile-istio-retry-fallback
- [x] guide-kuber

[2022-08-25 15:26] gkwan-ibm commented on #834
close
- both guides were updated

[2022-08-25 15:26] #834 closed, assigned to nobody

[2022-08-25 16:00] jgawor commented on #834
@gkwan-ibm thank you!

[2022-08-31 19:54] gkwan-ibm opened #836 "Update testApp.sh not to log the downloading messages"
- In the `testApp.sh`, add `-ntp` option into the `mvn` commands that can reduce the downloading messages to make the test log more clear
- some guides use `testXXX.sh`
- some guides need to add `-q` option to the docker pull command(s) as `docker pulll -q ..`
- check` dailyTest.sh` and `dockerImageTest.sh` too

[2022-09-01 18:13] gkwan-ibm commented on #548
ref:
- https://github.com/OpenLiberty/open-liberty/issues/11016

[2022-09-07 18:34] dazavala opened #837 "Guide for BELL service that exposes a REST Endpoint"
Requested by @mbroz2.
Related to https://github.com/OpenLiberty/open-liberty/issues/19368

Consider a guide to provide a BELL service that extends a useful feature interface -- e.g. `com.ibm.wsspi.rest.handler.RESTHandler` -- and uses BELL capabilities for SPI visibility, configuration properties, and OSGi properties.

[2022-09-08 13:11] gkwan-ibm opened #838 "SPbD check to each guide"
Security and Privacy by Design (SPbD)
- each guide may need to check for SPbD

[2022-09-08 16:23] lauracowen commented on #718
I'm happy to approve this guide, subject to the style/clarity points in [this issue](https://github.com/OpenLiberty/draft-guide-graphql-client/issues/27) being addressed.

[2022-09-13 14:01] yeekangc commented on #718
Signing off for Laura.  @lauracowen, thank you for the final review and approval!

[2022-09-13 19:27] gkwan-ibm opened #839 "Test the guides with 22.0.0.10 GM candidate build"
Candidate build: cl221020220912-1100
- [x] Automated tests with jdk11 for all published guides  (Gilbert)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/3042807452`
  - okd failure is expecdted
- [x] Automated tests with jdk8 for all published guides (Morgan)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/3048266868` (all)
  - `https://github.com/OpenLiberty/guides-

[2022-09-13 19:34] gkwan-ibm opened #840 "Test the guides with 22.0.0.11 GM candidate build"
Candidate build: `cl221120221010-1540`
- [x] Automated tests with jdk11 for all published guides  (Reece)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/3235366386`
  - okd failure is expected
- [x] Automated tests with jdk8 for all published guides (Reece)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/3235373110`
  - for the contract-testing guide, au.com.dius.pac

[2022-09-13 19:39] gkwan-ibm commented on #840
If local machine cannot run docker or Kubernetes, use Frye Ubantu VM or use Skill Network (cloud-hosted)

[2022-09-13 20:41] gkwan-ibm commented on #839
session guide passed
[code]
and
[code]

[2022-09-13 20:59] gkwan-ibm commented on #839
mp-reactive-message guide passed
[code]
and
[code]

[2022-09-13 21:16] shin19991207 commented on #839
# guide-microprofile-jwt

Output from `mvn liberty:run` from `frontend` directory:
[code]

Output from `mvn liberty:run` from `system` directory:
[code]

Ran guide end-to-end without issue.

[2022-09-13 21:37] gkwan-ibm commented on #839
jpa guide passed
[code]
and
[code]

[2022-09-13 21:49] gkwan-ibm commented on #839
social-media-login guide passed
[code]

[2022-09-14 13:30] gkwan-ibm commented on #839
CargoTracker passed
[code]

[2022-09-14 14:02] shin19991207 commented on #839
# guide-microprofile-graphql

Output from `docker build -t system:1.0-java8-SNAPSHOT --build-arg JAVA_VERSION=java8 system/.`:
[code]

Output from `docker build -t system:1.0-java11-SNAPSHOT --build-arg JAVA_VERSION=java11 system/.`:
[code]

Output from `docker build -t graphql:1.0-SNAPSHOT graphql/.`:
[code]

Output from `docker logs system-java11`:
[code]

Output from `docker logs system-java8`:

[2022-09-14 14:12] shin19991207 commented on #839
# guide-mongodb-intro

Output from `mvn liberty:run`:
[code]

Ran guide end-to-end, no issue.

[2022-09-14 14:26] shin19991207 commented on #839
# draft-guide-graphql-client

Output from `docker build -t system:1.0-java8-SNAPSHOT --build-arg JAVA_VERSION=java8 system/.`:
[code]

Output from `docker build -t system:1.0-java11-SNAPSHOT --build-arg JAVA_VERSION=java11 system/.`:
[code]

Output from `docker build -t graphql:1.0-SNAPSHOT graphql/.`:
[code]

Output from `docker build -t query:1.0-SNAPSHOT query/.`:
[code]

Output from `docker lo

[2022-09-14 15:09] gkwan-ibm commented on #839
draft-guide-graphql-client passed
[code]
and
[code]

[2022-09-14 16:10] shin19991207 commented on #839
# guide-kubernetes-microprofile-config

Output from `docker build -t system:1.0-SNAPSHOT system/.`:
[code]

Output from `docker build -t inventory:1.0-SNAPSHOT inventory/.`:
[code]

Output from `kubectl logs <inventory container id>`:
[code]

Output from `kubectl logs <system container id>`:
[code]
Ran guide end-to-end, no issue.

[2022-09-14 19:39] gkwan-ibm commented on #839
close
- all tested were completed

[2022-09-14 19:39] #839 closed, assigned to gkwan-ibm, shin19991207

[2022-09-16 14:27] rxu1 opened #844 "Create a Cloud Foundry Buildpacks to Paketo Buildpack Migration Guide"
Migration Topics to include in the guide:

- Using UBI images
- Installing iFixes
- Installing custom features
- Using different profiles (full, jakarta9, webProfile9, webProfile8, javaee8, microProfile4, microProfile5, kernel)
- Providing server.xml at build time.
- Building from a Liberty Server
- Building from a Packaged Server

**The target date to publish this guide is October 26th.**

[2022-10-11 15:45] shin19991207 commented on #840
# guide-microprofile-jwt

Output from `mvn liberty:run` from `frontend` directory:
[code]

Output from `mvn liberty:run` from `system` directory:
[code]

Ran guide end-to-end without issue.

[2022-10-11 16:02] shin19991207 commented on #840
# guide-microprofile-graphql

Output from `docker build -t system:1.0-java8-SNAPSHOT --build-arg JAVA_VERSION=java8 system/.`:
[code]

Output from `docker build -t system:1.0-java11-SNAPSHOT --build-arg JAVA_VERSION=java11 system/.`:
[code]

Output from `docker build -t graphql:1.0-SNAPSHOT graphql/.`:
[code]

Output from `docker logs system-java11`:
[code]

Output from `docker logs system-java8`:

[2022-10-11 16:10] shin19991207 commented on #840
# guide-kubernetes-microprofile-config

Output from `docker build -t system:1.0-SNAPSHOT system/.`:
[code]

Output from `docker build -t inventory:1.0-SNAPSHOT inventory/.`:
[code]

Output from `kubectl logs <inventory container id>`:
[code]

Output from `kubectl logs <system container id>`:
[code]

Ran guide end-to-end, no issue.

[2022-10-11 16:20] shin19991207 commented on #840
# guide-mongodb-intro

Output from `mvn liberty:run`:
[code]

Ran guide end-to-end, no issue.

[2022-10-13 09:18] ReeceNana commented on #840
#  Automated tests with jdk11 for all published guides

All passed, including okd guide

[2022-10-13 09:20] ReeceNana commented on #840
# Automated tests with jdk8 for all published guides

One failure: guide-contract-testing (expected - for the contract-testing guide, au.com.dius.pact.provider 4.3.4 Maven plugin is not compatible with JDK8). Everything else passed.

[2022-10-13 09:45] ReeceNana commented on #840
# guide-jpa-intro

Output from `mvn liberty:run` from `frontendUI` directory:

[code]

Output from `mvn liberty:run` from `backendServices ` directory:

[code]

Ran guide end-to-end without issue.

[2022-10-13 10:49] ReeceNana commented on #840
# guide-microprofile-reactive-messaging

Output from `docker build -t system:1.0-SNAPSHOT system/.`:

[code]

Output from `docker build -t inventory:1.0-SNAPSHOT inventory/.`:

[code]

Ran guide end-to-end without issue.

[2022-10-13 14:50] ReeceNana commented on #840
# guide-sessions

Output from `mvn liberty:dev`:
[code]

Output from `docker build -t cart-app:1.0-SNAPSHOT .`:
[code]

Output from `kubectl exec -it cart-deployment-576b584845-79jwr -- cat /logs/messages.log`:
[code]

Ran end-to-end, no issue.

[2022-10-13 15:54] shin19991207 commented on #840
# guide-social-media-login

Output from `mvn liberty:dev`:
[code]

Ran end-to-end, no issue.

[2022-10-14 18:28] jvanhill commented on #128
@yeekangc - Is there any progress on this?

[2022-10-14 18:36] jvanhill opened #849 "Guide for distributed authentication and logged out cookie caches."
We should have a guide for working with the distributed authentication and logged out cookie caches.

They may be similar to the HttpSession cache guide here: https://openliberty.io/guides/sessions.html

The guide should:

- Configure two Liberty servers to connect to the same cache.
- Start an Infinispan server in a docker container.
- Start the two Liberty servers. This will create the two cache

[2022-10-17 12:58] shin19991207 commented on #840
close

- all tested were completed

[2022-10-17 12:58] #840 closed, assigned to shin19991207, ReeceNana

[2022-10-18 07:29] yeekangc opened #850 "Guide for deploying Java serverless functions to IBM Cloud Code Engine"
Consider a guide for deploying cloud-native Java apps as serverless functions to ICCE.

Ref https://openliberty.io/blog/2022/10/17/microprofile-serverless-ibm-code-engine.html.

[2022-10-18 20:43] jgawor opened #851 "Update Deploying microservices to IBM Cloud Kubernetes Service guide"
The guide still uses the Liberty Helm chart to deploy the application. The AWS and Azure do not.

[2022-10-31 16:39] gkwan-ibm opened #852 "Update the CONTRIBUTING.md"
All (text or code) contributions for the guides are required [DCO](https://developercertificate.org/) only. Need to update all CONTRIBUTING.md in all guides repositories.

[2022-11-02 16:27] yeekangc opened #855 "Update the guides to show how users can use Liberty Tools to work with the guides"
Liberty Tools enable developers to work with Liberty from different IDEs like Eclipse IDE, IntelliJ IDEA and VS Code.

Update the guides to show users how they can use Liberty Tools to work through the guides.  e.g., update the Getting Started section (template) to cover how Liberty Tools can be used.

Cc @cherylking @scottkurz @TrevCraw @kathrynkodama @gkwan-ibm

[2022-11-03 06:51] yeekangc commented on #855
FYI, @lauracowen @dmuelle @kinueng.

[2022-11-03 10:04] lauracowen commented on #855
I don't think we should just add more instructions to the existing guides. It makes them longer and the guides are intended to be agnostic as to how the tools used. And we shouldn't make readers plough through irrelevant instructions.

Maybe could add alternative instructions (eg like offering different platforms or maven/gradle instructions, maybe?)?

I agree that the Liberty Tools could be showc

[2022-11-04 16:18] gkwan-ibm opened #861 "Consider to use kernel-slim image"
Use kernel-slim image as https://github.com/OpenLiberty/ci.docker#building-an-application-image and remove the docker pull command for the following guides, if they do not impact the performance, such as devc mode or MST:

- [ ] guide-liberty-deep-dive
- [ ] guide-cloud-openshift-operator
- [ ] guide-sessions
- [ ] guide-microprofile-graphql
- [ ] guide-graphql-client
- [ ] guide-getting-started
-

[2022-11-04 18:52] gkwan-ibm commented on #852
close
- all guides contribution.md files were updated

[2022-11-04 18:52] #852 closed, assigned to gkwan-ibm

[2022-11-04 18:53] gkwan-ibm commented on #851
close
- the cloud-ibm guide was updated

[2022-11-04 18:53] #851 closed, assigned to nobody

[2022-11-08 13:49] gkwan-ibm opened #862 "Test the guides with 22.0.0.12 GM candidate build"
Candidate build: `cl221220221107-1900`
- [x] Automated tests with jdk11 for all published guides  (Reece)
  - `https://github.com/OpenLiberty/guides-common/actions/runs/3430795801`
  - liberty-deep-dev: `https://github.com/OpenLiberty/guides-common/actions/runs/3431334009`
- [x] Automated tests with jdk8 for all published guides (Gilbert)
  - `https://github.com/OpenLiberty/guides-common/actions/r

[2022-11-08 18:28] shin19991207 commented on #862
# CargoTracker

[code]

Cargo Tracker displays and runs properly on the 22.0.0.12 candidate build with full functionality after running the user testing instructions.

[2022-11-08 18:37] shin19991207 commented on #862
# draft-guide-grpc-intro

Output from `mvn -pl system liberty:run`:
[code]

Output from `mvn -pl query liberty:run`:
[code]

Ran guide end-to-end without issue.

[2022-11-08 18:46] jakub-pomykala commented on #862
### guide-mongodb-intro

Could not run locally. Maybe due to M1 chip and docker:
- When running
[code]
- I am getting the following error
[code]

Tested on Cloud-hosted environment

[code]

[2022-11-08 20:19] mbuamuh commented on #862
### **guide-jpa-intro**

**1. Output from frontendUI**

mvn liberty:run
`[INFO] Launching defaultServer (Open Liberty 22.0.0.12/wlp-1.0.71.cl221220221107-1900) on OpenJDK 64-Bit Server VM, version 11.0.15+10-jvmci-22.1-b06 (en_GB)`

**2. Output from backendServices**

mvn liberty:run
`[INFO] Launching defaultServer (Open Liberty 22.0.0.12/wlp-1.0.71.cl221220221107-1900) on OpenJDK 64-Bit Server VM

[2022-11-09 11:01] mbuamuh commented on #862
### **guide-microprofile-jwt**
**1. Output from Frontend**

mvn liberty:run
`[INFO] Launching defaultServer (Open Liberty 22.0.0.12/wlp-1.0.71.cl221220221107-1900) on OpenJDK 64-Bit Server VM, version 11.0.15+10-jvmci-22.1-b06 (en_GB)`

**2. Output from System**

mvn liberty:run
`[INFO] Launching defaultServer (Open Liberty 22.0.0.12/wlp-1.0.71.cl221220221107-1900) on OpenJDK 64-Bit Server VM, ver

[2022-11-09 14:55] ReeceNana commented on #862
# guide-social-media-login

Output from `mvn liberty:dev`:

[code]
Ran guide end-to-end without issue.

[2022-11-09 18:53] shin19991207 commented on #862
# guide-kubernetes-config

Output from `docker build -t system:1.0-SNAPSHOT system/.`:
[code]

Output from `docker build -t inventory:1.0-SNAPSHOT inventory/.`:
[code]

Output from `kubectl logs <inventory container id>`:
[code]

Output from `kubectl logs <system container id>`:
[code]

Ran guide end-to-end, no issue.

[2022-11-10 11:51] ReeceNana commented on #862
# guide-sessions

Output from `mvn liberty:dev`:

[code]

Output from `docker build -t cart-app:1.0-SNAPSHOT `:

[code]

Output from `kubectl logs cart-deployment-576b584845-4lztg`:

[code]

Output from `kubectl exec -it cart-deployment-576b584845-4lztg -- cat /logs/messages.log`:

[code]

Ran guide end-to-end, no issue.

[2022-11-10 12:17] ReeceNana commented on #862
# guide-microprofile-reactive-messaging

Output from `docker build -t system:1.0-SNAPSHOT system/.` :
[code]

Output from `docker build -t inventory:1.0-SNAPSHOT inventory/.` :
[code]

Output from `docker logs system ` :
[code]

Output from `docker logs inventory ` :
[code]
Ran guide end-to-end, no issue.

[2022-11-10 14:37] jakub-pomykala commented on #862
### guide-microprofile-graphql
Output from `docker build -t system:1.0-java8-SNAPSHOT --build-arg JAVA_VERSION=java8 system/.`:
[code]

Output from `docker build -t system:1.0-java11-SNAPSHOT --build-arg JAVA_VERSION=java11 system/.`:
[code]

Output from `docker build -t graphql:1.0-SNAPSHOT graphql/.`:
[code]

Output from `docker logs system:1.0-java8-SNAPSHOT`:
[code]

Output from `docker logs s

[2022-11-10 18:03] gkwan-ibm commented on #862
close
- all tests were completed

[2022-11-10 18:03] #862 closed, assigned to mbuamuh, gkwan-ibm, jakub-pomykala, shin19991207, ReeceNana

[2022-11-11 16:33] mbuamuh commented on #850
- [x] Create a draft guide

[2022-11-14 18:45] NK-debug commented on #889
**mvn liberty:help**

[code]

[2022-11-25 16:59] gkwan-ibm commented on #838
close
- the openliberty.io guides will not need to go through SPbD as they are treated as documentation material

[2022-11-25 16:59] #838 closed, assigned to nobody