[2017-09-21 15:03] yeekangc opened #3 "Create a guide for consuming REST services"
Create a guide that walks you through how you can consume REST services as a client on Open Liberty

[2017-09-21 15:05] yeekangc opened #4 "Create a guide for creating Docker images"
Create a guide on how you can write Dockerfiles and create Docker images for Open Liberty

[2017-09-21 15:08] yeekangc opened #5 "Create a guide for MicroProfile Config"
Create a guide on how to use MicroProfile Config.

[2017-09-21 15:10] yeekangc opened #6 "Create a guide on enabling CORS"
Create a guide on how to enable Cross-Origin Resource Sharing on Open Liberty

[2017-09-21 15:14] yeekangc opened #7 "Create a guide on building multiple modules with Maven on Open Liberty"
Create a guide that walk you through how to work with multiple modules and assemble them using Maven on Open Liberty

[2017-09-21 23:47] NottyCode opened #8 "Create a guide on bean validation"
Write an Open Liberty guide for Bean Validation 2.0.

[2017-10-13 03:21] kinueng commented on #6
Hello @yeekangc, can this issue be closed now that the CORS guide is live via PR OpenLiberty/openliberty.io#30?

[2017-10-13 13:18] yeekangc commented on #6
Yes, this can be closed.  The guide is available now.  Thanks!

[2017-10-13 13:18] #6 closed

[2017-10-18 20:11] yeekangc commented on #7
This has been delivered.  See https://openliberty.io/guides/maven-multimodules.html.

[2017-10-18 20:11] #7 closed

[2017-10-18 20:12] yeekangc commented on #3
The guide for consuming REST services with Java is done.  See https://openliberty.io/guides/rest-client-java.html.

[2017-10-18 20:13] #3 closed

[2017-10-18 20:16] yeekangc opened #9 "Create a guide for MicroProfile Health Check"
Create a guide for MicroProfile Healthchecks.

[2017-10-18 20:17] yeekangc opened #10 "Create a guide for Open Liberty Tools"
Write an introductory guide for developing with Open Liberty Tools.

[2017-10-18 20:18] yeekangc opened #11 "Create a guide for MicroProfile Metrics"
Write a guide for MicroProfile Metrics.

[2017-10-18 20:19] yeekangc opened #12 "Create a guide for consuming REST with AngularJS"
Write a guide for consuming REST services with AngularJS on Open Liberty.

[2017-10-25 15:46] lauracowen opened #13 "Create guide for contributing a guide"
Need some 'how to' info on how to contribute a guide to Open Liberty.

Maarten has suggested a JPA guide and has asked for such guidance soon: see https://twitter.com/mthmulders/status/919927099917586434 and https://twitter.com/mthmulders/status/923162136427356160

[2017-11-22 15:42] lauracowen opened #16 "Present common build steps more clearly"
Do you think we could remove the mention of `mvn package`? Instead just say "...installation attempts to start a server. If this happens, stop the server then try again." (or something like that to help them fix the problem but without taking them into Maven concepts when they're focused on building a REST service - or other things in the other guides). Address the issue of packaging in the Maven

[2017-11-22 15:48] lauracowen opened #17 "Guide sample app code not consistent with Liberty Maven plugin archetype"
@hughesj  noticed that the application project structure of the REST guide sample app is inconsistent with the Liberty Maven archetype. I'm guessing this is because the REST sample app was based on a starter project from the App Accelerator and maybe that isn't consistent with the Maven archetype?

Do we need to check the packaging structures of all the guide sample apps against the Liberty Maven

[2017-11-22 15:55] lauracowen opened #18 "Improve visual distinctiveness of code for copying, code for illustration, and command snippets"
My usability tester (relatively new to Java language) found it confusing that the little Java snippets that happened not to have any coloured syntax highlighting in them look a lot like something that should be entered on the command line; for example:

![image](https://user-images.githubusercontent.com/3322532/33136306-cb3958fc-cf9c-11e7-8ed3-42a4d6d1fac7.png)

I propose that we should at least h

[2017-11-27 15:27] kinueng commented on #12
Hello @yeekangc @Kubik42,
Can this be closed now that we have the guide published on openliberty.io?

https://openliberty.io/guides/rest-client-angularjs.html

[2017-11-27 15:30] yeekangc commented on #12
Yes, we should close.  Thank you, @kinueng.

[2017-11-27 15:30] #12 closed

[2017-11-29 19:28] lauracowen opened #19 "Add a 'related guides' section to the guides"
I believe this might have been discussed early on but I don't know how the discussion went.

We need a way to automatically add relevant guides (maybe based on tags?? I'm not sure what we do about tagging guides at the moment) to a short list on each guide's page.

Sometimes the suggested related guides might be pre-reqs to the current one (eg go do the REST guide to learn about JAX-RS before you

[2017-11-30 14:48] yeekangc commented on #19
This is meant to be auto-generated.  At least, that's my recollection/understanding from conversations with @gindik and/or @kinueng.

@kinueng, any updates or thoughts?

[2017-11-30 14:55] lauracowen commented on #19
That makes sense. I think there's a large Design aspect to this though as to where on the page it should go.

[2017-11-30 15:02] kinueng commented on #19
In the original design of a single guide, there is a mock up of the related guides section
![image](https://user-images.githubusercontent.com/31117513/33437200-c949054a-d5ac-11e7-9c0b-42422d81c659.png)

From my quick scan of the single guide template, I do not believe the related guides section is implemented.  I will have to look further into this.

[2017-11-30 15:09] gindik commented on #19
The design team provided the UI styling for the way related guides appear (as large rectangles towards the end of each guide, similar to those on the main guides page) this can be seen in the screen shot that @kinueng pasted above. At that time the idea for the implementation was to use page metadata (either front matter or asciidoc variables) in order to list the set of related guides and the sit

[2017-11-30 15:12] lauracowen commented on #19
I like the design shown in the mockup. However, there's the scenario where readers are doing, say, the MicroProfile guide but aren't familiar with JAX-RS. In that context, it would be useful to point them at the JAX-RS guide and maybe for them to do that guide first. But if the related guides are listed at the end they won't see it until the end.

It might be just a case of the guide author provid

[2017-11-30 15:15] kinueng commented on #19
@lauracowen,
The interactive guide developers have been asking for how guides can link to related guides in the beginning of the guide rather than the end.

The current draft of the MicroProfile Config **static** guide currently just puts a hyperlink to the MicroProfile Config **interactive** guide.

https://openlibertydev.mybluemix.net/guides/microprofile-config.html

[2017-11-30 15:30] gindik commented on #19
One suggestion that could be made to the design team is to leverage the space available on the left hand side of guides, where the table of contents is. Two new items could be added, one above the table of contents, labeled something like: "Recommended before completing this guide" and one below labeled something like: "You may also be interested in...".

[2017-11-30 17:52] yeekangc commented on #18
There is also the kind of block for console output e.g. test results that we want to show for illustration purpose.

So, 4 categories in total:
- Java (or other) code that has a copy button and the user is expected to copy and paste that code into a text editor to be compiled/run.
- Java (or other code) that does not have a copy button and the user is not expected to do anything with it. Its purpo

[2017-12-01 18:10] lauracowen commented on #18
So, after discussing this with Megan yesterday, I took a look at our guides and some other doc sites again to look at how we/they present code snippets (see some examples at the bottom of this comment). There's a lot of variation in whether and how they use code snippets, syntax highlighting, and code Copy buttons. So we just need wend our own way....

I took a look at our guides with regard to Me

[2017-12-01 20:12] yeekangc commented on #18
The one consideration that came to mind if we will have a giant copy-able block of code in the beginning always is if it will make users scroll back-and-forth many times ... especially on mobile devices.  This may be the only downside?  I know personally I hate to have to scroll back-and-forth unnecessarily.  @kinueng, any thoughts?

I would think we can at least mock something up for review and d

[2017-12-04 14:41] Kubik42 commented on #18
There is another case to consider. Some code snippets are not meant to be implemented right at the start of the guide (ex. MicroProfile guide). The user creates the so-to-say skeleton of class, then writes some files, and then returns to this skeleton and implements it using the files they've written.

Perhaps we could distinguish the blocks that should be copied somehow? Like a different color or

[2017-12-04 14:56] Kubik42 commented on #18
Also, the reason for missing highlighting in the REST guide is because `source-highlighter` was not defined.

[2017-12-05 15:48] Kubik42 commented on #18
Another idea: have code snippets temporarily light up (for a second or so). Ex. copyable blocks will light up in green with big text over the whole block saying "COPY". Example blocks can light up in red and display text "EXAMPLE". Or something like that

[2017-12-08 17:25] lauracowen commented on #18
Regarding scrolling up and down - that may not be a major problem because fewer code snippets will make it easier to know where you are. Maybe. Something we can take a look at in a mockup though.

Regarding the case @Kubik42 mentions above (about creating a skeleton then returning to it). I did wonder about that case. One thing I thought was whether that's just a case of how we structure the guide

[2017-12-08 19:57] Kubik42 commented on #18
Actually the only guide that uses a skeleton class is the microprofile intro guide. The user initially creates a skeleton of a class, then like you said does some learning and creates additional classes, they then return to the skeleton class and implement it.

Any thoughts on the highlighting I talked about?

[2017-12-11 17:09] Kubik42 commented on #19
Can this be closed? @kinueng

[2017-12-11 17:42] yeekangc commented on #4
The guide is not available on openliberty.io yet?

[2017-12-11 21:53] kinueng commented on #19
@Kubik42,
I only implemented the original design for the `Related guides`.  In this issue, there is ongoing ideas to alter the original design.  Because we have not had a conclusion to the discussion, I would like to keep this issue opened.

[2017-12-12 10:15] lauracowen commented on #18
@Kubik42 The lighting up, you mean? I'm not sure about that. I think it'll be overkill for most people - developers generally understand that a code snippet is there to be copied at the point when they see it. That's a fairly normal convention. There's a risk that flashing stuff will make it look like xmas tree. Also, it relies on the reader spotting it at the right time.

You're welcome to mock i

[2017-12-12 17:02] Kubik42 commented on #4
Oh my bad, didnt mean to close this

[2017-12-12 17:02] Kubik42 commented on #18
Ok that makes sense. It will probably be too flashy.

[2017-12-12 18:15] yeekangc opened #20 "Create a guide for Gradle"
Create an OL guide for building with Gradle.

[2017-12-12 19:42] yeekangc opened #21 "Review published guides and identify items for improvements"
Review the currently published guides and identify anything that should be improved.

For example, consider if we should have diagrams as part of introduction to better illustrate what the guides and/or the samples will talk about.  Or, any reorganization or structure improvements that we should do.

- Creating JAX-RS
- Maven
- MicroProfile Intro
- HATEOAS
- Multi-Modules
- CORS
- Consuming REST f

[2017-12-12 21:39] yeekangc opened #22 "Create a guide for MicroProfile JWT Propagation"
Create a guide on how to use MicroProfile JWT Propagation.

[2017-12-12 21:42] yeekangc opened #23 "Create a guide for MicroProfile OpenAPI"
Create a guide on how to use MicroProfile OpenAPI.

[2017-12-12 21:43] yeekangc opened #24 "Create a guide on MicroProfile OpenTracing"
Create a guide on how to use MicroProfile OpenTracing.

[2017-12-12 21:45] yeekangc opened #25 "Create a guide on MicroProfile REST Client"
Create a guide on how to use/create MicroProfile Type-safe REST Client.

[2017-12-12 21:49] yeekangc opened #26 "Create a guide on CDI"
Create an introductory guide on using CDI covering the essentials and in the context of developing JAX-RS services.

[2017-12-13 15:00] alexsm82 commented on #8
A draft outline of this guide:

-Title
-What you will learn
-Getting Started
-What is Bean Validation
-What’s new in Bean Validation 2.0
-Applying Constraints
   -Construct a bean with several different built-in constraints applied to several fields (mix of existing and new 2.0 constraints)
       -Include validating values and keys of a map
       -Include a nested bean to be validated
       -In

[2017-12-13 15:13] Kubik42 commented on #21
**Progress**:
- removed leftover branches

[2017-12-13 16:08] yeekangc commented on #8
@alexsm82, you think 15 to 20 mins will be adequate for a user to work through all these?

Any thoughts around the scenario or sample application that you will use to take the users through all these?

[2017-12-13 16:33] lauracowen commented on #18
Example (for info) of how Twilio present their code snippets: https://www.twilio.com/docs/guides/how-to-receive-and-reply-in-java#generating-twiml-in-your-web-application

[2017-12-13 16:42] alexsm82 commented on #8
@yeekangc Yes, I think they will be able to work through all of these in 15 to 20 minutes.  Most of the mentioned scenarios will be on the same bean, it will just require going through them and adding the appropriate constraints.

In terms of the scenario, the most basic we could have would essentially just be the java bean classes that store/validate the data (I was thinking space-related data wo

[2017-12-13 16:48] Kubik42 commented on #18
hmm, that would be really cool, eliminating the need to scroll up and down. But it limits the space for the actual guide and makes everything look really cramped. Perhaps it would work to have clickable code snippets, which pop over to the left side of the page when clicked. But this would only look good in full screen, otherwise the code snippet will be too small. Plus, it probably wont work on p

[2017-12-13 17:21] yeekangc commented on #8
Great, @alexsm82.

A space-themed sample will work.  If we can have more real life scenario that isn't complex, that will be great.

You can find more information on how to create a guide here:  https://github.com/OpenLiberty/guides-common/wiki/How-to-create-an-Open-Liberty-guide

[2017-12-15 21:58] yeekangc opened #27 "Create guides for MP Reactive Messaging"
Create guides for MP Reactive Messaging and associated APIs.  Use Kafka as backend.

[2017-12-18 18:06] Kubik42 commented on #21
@yeekangc everything has been reviewed. I'm thinking of making PRs with the changes for the guides. What do you think?

[2017-12-18 19:54] yeekangc commented on #21
@Kubik42, we can have PRs with the changes for reviews and go from there.

Some of what you are suggesting involve changes to the writing style of the guides.  We will need to work with @lauracowen @sishida @bcpswope further to come to a conclusion.

[2018-01-02 19:30] Kubik42 commented on #20
This guide is live: https://openliberty.io/guides/gradle-intro.html

[2018-01-02 19:30] #20 closed

[2018-01-02 19:30] Kubik42 commented on #4
The guide is live: https://openliberty.io/guides/docker.html

[2018-01-02 19:30] #4 closed

[2018-01-04 19:05] Kubik42 opened #28 "Prototyping"
We need feedback on these:

**Overall Layout**
There are two options for this one:

1\. Everything in-line. Explanations followed by blocks of code, followed by more explanations, etc. This is the current format of the guides.

2\. Have the code snippets, tables, output blocks, etc. flow on the right side of the page while the
explanations flow on the left side. Stripe does a very good job with th

[2018-01-04 20:08] Kubik42 commented on #28
Please leave your feedback here (feel free to add your own text directly into the one above, just please make it italic or bold so it stands out)

[2018-01-05 10:23] lauracowen commented on #28
In general, I think this is a good summary.

I think the language point is moreorless agreed (though there'll always be specific questions to discuss). See the 'tone and voice' document for explanations about how to make technical documentation (this is technical documentation, we're just trying to have a more modern tone and voice to it) more conversational without losing its clarity and concisen

[2018-01-05 14:34] yeekangc commented on #28
Thank you, @Kubik42.

@Kubik42 @evelinec:

For items where the answers are obvious, we can incorporate the proposed changes in a draft and take it forward for review and then close them out.

For items where there are options, let us work with work out the alternatives and prototype them with whomever appropriate and necessary, then take them forward for feedback from the community and user testin

[2018-01-05 18:04] Kubik42 commented on #28
We made a few of the decisions as a team already. These have been added to template.adoc. There is also a new section in the Wiki: https://github.com/OpenLiberty/guides-common/wiki/Rules-of-thumb for general formatting rules that must be followed when writing the guides.

[2018-01-05 19:18] yeekangc commented on #28
Let us review and discuss those with the broader team before we commit, @Kubik42.

[2018-01-05 19:45] evelinec opened #30 "Create a guide for building a webapp with JSF"
Guide for building web application with JSF.

[2018-01-05 20:59] evelinec opened #31 "Create a guide for securing web application/Java EE Security 1.0"
Securing web application using basic application security.

[2018-01-05 20:59] evelinec opened #32 "Create a guide for processing form data"

[2018-01-05 21:00] evelinec opened #33 "Create a guide for validating form input"
Guide on validating form input or data (using bean validation).

[2018-01-05 21:00] evelinec opened #34 "Create a guide for Web Sockets"
Guide on working with Web Sockets.

[2018-01-05 21:26] Kubik42 commented on #28
@yeekangc Of course. I created a PR for now: https://github.com/OpenLiberty/guides-common/pull/29

[2018-01-07 03:34] aguibert opened #35 "Create a guide on JSF Container"
Create a guide to demo the `jsfContainer-2.2` feature to show how users can "bring their own JSF" and have it integrate with CDI.

[2018-01-07 03:42] aguibert commented on #35
A draft outline of this guide:

-Title
-What you will learn
-Getting Started
-What is JSF Container
-Building the application
-Great work! You’re done!

[2018-01-08 22:12] yeekangc commented on #35
Ref our discussion, @aguibert, this looks fine.

Feel free to rename "Building the application" or break it down further as you see fit to ensure focus on what we want to cover here that is how users can bring their own JSF container impl and use that with OL.

Good for us to go with Gradle for this guide too.

[2018-01-10 18:57] amyreit opened #36 "Incorrect Grammar on the "contribute to this guide" page"
The sentence on the "contribute to this guide" page uses incorrect grammar - "Is something missing or needs to be fixed?" The subject is "something" and the verb is "is" which makes it "something is missing" and "something is needs" - should be "needing". This is used throughout interactive and static guides.

OpenLiberty/iguides-common#98 is the same

[2018-01-10 19:00] yeekangc commented on #36
@bcpswope @sishida, FYI and please take a look at this issue.

[2018-01-11 20:36] bcpswope commented on #30
adding ID required ONLY to test viewing on ZenHub, will remove.

[2018-01-11 20:37] bcpswope commented on #34
Adding ID complete only to test viewing on ZenHub, will remove.

[2018-01-17 16:40] Kubik42 opened #37 "Add more ways to engage the community"
We should add these to `finish.adoc` template to continue the engagement for the guides:

- share your experience on twitter/reddit
- write a blog post about your experience
- stackoverflow for questions

<img width="488" alt="screen shot 2018-01-17 at 11 40 55 am" src="https://user-images.githubusercontent.com/11563877/35054742-530b6496-fb7b-11e7-894f-c0cc2c482b30.png">

[2018-01-17 16:48] lauracowen commented on #37
I think the wording should be 'Share this guide:' (to match the blog post wording; also 'experience' is not that concrete).

I think add a Stack Overflow link (to https://stackoverflow.com/tags/open-liberty) if there's a 'now try this extra step/task' sentence at the end of the guide (unless we think it'd be useful to add to the end of every guide like the 'Share this guide <social media icons>' -

[2018-01-18 17:10] yeekangc opened #38 "Create a guide on MicroProfile Fault Tolerance"
Intro guide on MP Fault Tolerance focussing on Retry and Fallback.

[2018-01-18 20:34] evelinec opened #39 "Refactor the application in the guides to follow the new project structure"
See project structure on https://github.com/OpenLiberty/guides-common/wiki/Getting-started for how to structure your project. We’re using a new structure from today. We need to refactor the guides.

[2018-01-19 18:33] bcpswope commented on #36
Parallelism problem. I need to find this page so I can see it and I will rewrite.

[2018-01-19 21:12] #36 closed

[2018-01-22 15:28] Kubik42 commented on #28
Addressed in cb8ccc48755f08f3184b0327633ca8d2af047e7a

[2018-01-22 15:28] #28 closed

[2018-01-22 15:34] Kubik42 commented on #16
Addressed in cb8ccc48755f08f3184b0327633ca8d2af047e7a

[2018-01-22 15:34] #16 closed

[2018-01-22 19:45] mbroz2 opened #41 "[Interactive] Create a guide for MicroProfile @CircuitBreaker"
Building fault tolerant microservices with the @CircuitBreaker annotation

[2018-01-22 19:54] evelinec opened #42 "ID review for MP Config guide"
This is to review the static MP config guide, in plan for iteration 18.4. Info to be added.

[2018-01-22 20:28] #41 closed

[2018-01-22 20:30] mbroz2 opened #43 "[Interactive] Create a guide for MicroProfile Config"
Using MicroProfile Config for static configuration injection

[2018-01-22 20:32] #43 closed

[2018-01-22 20:34] mbroz2 opened #44 "[Interactive] Create a guide for MicroProfile @Bulkhead & @Asynchronous"
Link to repo: https://github.com/OpenLiberty/draft-iguide-bulkhead

[2018-01-22 21:11] mbroz2 commented on #44
Link to repo: https://github.com/OpenLiberty/draft-iguide-bulkhead

[2018-01-26 15:30] evelinec commented on #5
@bcpswope The static MP config guide is ready for ID review. Can you pls plan this for iteration 18.4?
Repo: https://github.com/OpenLiberty/draft-guide-microprofile-config

[2018-01-29 03:38] evelinec commented on #42
Close issue as we're ID reviewing on the original MP Config epic.

[2018-01-29 03:38] #42 closed

[2018-01-29 20:09] evelinec commented on #26
Adding "ID require" tag for team to plan.
Repo link will be added when guide is ready for ID review.

[2018-01-29 20:10] evelinec commented on #9
Adding "ID require" tag for team to plan.
Repo link will be added when guide is ready for ID review.

[2018-01-29 20:10] evelinec commented on #22
Adding "ID require" tag for team to plan.
Repo link will be added when guide is ready for ID review.

[2018-01-29 20:11] evelinec commented on #11
Adding "ID require" tag for team to plan.
Repo link will be added when guide is ready for ID review.

[2018-01-29 20:11] evelinec commented on #38
Adding "ID require" tag for team to plan.
Repo link will be added when guide is ready for ID review.

[2018-01-30 17:21] bcpswope commented on #26
Please let us know when you are ready for us to access the repo and start the review.

[2018-01-30 17:52] yeekangc commented on #26
All guides ready for ID review should be viewable from the test site so reviewers can review in context and with the proper styling in place.

PRs can be submitted for changes required and we can use the review process therein to work through the details and finalize the changes.

[2018-01-31 15:58] bcpswope commented on #26
Can we please link to the test site in these issues and the repo? For us to branch or fork, we would like to have a link to the relevant repo in the issue.

[2018-02-01 16:51] bcpswope opened #45 "Testing query--no action"

[2018-02-05 22:07] chyt opened #46 "Update guides with option to build with Gradle"
Update project source with `build.gradle` and provide instructions on how to build the project using Gradle as an alternative to Maven.

[2018-02-05 22:10] chyt opened #47 "Update to latest version of liberty-maven-plugin"
Guides are currently using version 2.0 of the `liberty-maven-plugin`. Update and verify compatibility with latest version. We can also consider implementing some automated process to update and test guides' compatibility with latest versions of Maven and Gradle plugins when they are released.

[2018-02-06 14:44] yeekangc commented on #23
@arturdzm has kindly volunteered to contribute to this guide.

[2018-02-07 21:16] megmulsy opened #48 "More useful OL Guides descriptions"
I wanted to touch base about the guides descriptions on the Open Liberty All Guides page ([openliberty.io/guides](url))

I’ve noticed that most of these descriptions just echo exactly what is said in the title, instead of giving additional information to the user to help them decide whether or not this particular guide is what they need (see examples below)
<img width="752" alt="ol-guidedescrip1"

[2018-02-07 22:28] evelinec commented on #26
@bcpswope The CDI guide is good to get some ID review now. Thank you.
CDI Intro guide (revised version): https://qa-guides.mybluemix.net/guides/cdi-intro.html
CDI Intro guide repo: https://github.com/OpenLiberty/draft-guide-rest-cdi

[2018-02-08 13:50] sishida commented on #48
I think that descriptions could benefit from
1. Including keywords to help users find the guides they want and
2. Explaining why the user would want to complete the guide ("Learn how to X to accomplish Y." To give a non-OL example, "Learn how to use the pen tool in Photoshop to digitally ink your artwork.")

Is there a way that folks could update the descriptions and have me approve them? That wou

[2018-02-08 14:28] yeekangc commented on #48
Thank you, @sishida.  @evelinec can help organize the updates -- Yes, it will be best for the authors to provide the updates for you to review, edit and approve.

[2018-02-08 14:45] yeekangc opened #49 "Guide for Debugging CDI"
Suggestion from @Emily-Jiang @lauracowen

https://developer.ibm.com/wasdev/blog/2016/06/30/beta-websphere-liberty-and-tools-july-2016/

[2018-02-08 16:16] #45 closed

[2018-02-09 19:25] yeekangc opened #50 "Fix tags/tagging for all the guides"
So searching can work properly.

- microservices, microprofile -- Ensure that searching for microservices or microprofile will give us all the MP guides
- CDI for CDI guide -- The same for the rest of the guides and the technologies they will cover too

[2018-02-09 20:24] yeekangc opened #51 "Automated testing of code assets for guides"
We should have automated testing for the code assets of the guides e.g. what's under /finish of the guide repos to ensure that they continue to work on new levels of OL and to catch any regression or issue.

The work should mostly be defining and setting up the infrastructure.  We should be able to reuse the JUnit tests in each of the guide as the tests to run.  Should review test coverage though.

[2018-02-09 20:28] yeekangc opened #52 "Define strategy for guides to adopt new feature versions"
We need to work out when to update all the sample apps/code assets to use new feature versions.  Annually?  Every release?

[2018-02-13 19:40] kinueng commented on #50
Per chat on slack, we are going with the tag `microservices`.  No capitalization or spaces.

[2018-02-14 15:52] chyt opened #53 "Guide for Arquillian Managed"
Guide on how to use the `configureArquillian` task in `liberty-gradle-plugin` and `configure-arquillian` goal in `liberty-maven-plugin`, as well as the Arquillian Liberty dependency bundles, with Arquillian Liberty Managed 1.0.0.Final (pending release).

[2018-02-14 15:54] chyt opened #54 "Guide for Arquillian Remote"
Guide on how to use the `configureArquillian` task in `liberty-gradle-plugin` and `configure-arquillian` goal in `liberty-maven-plugin`, as well as the Arquillian Liberty dependency bundles, with Arquillian Liberty Remote 1.0.0.Final (pending release).

[2018-02-16 21:58] evelinec commented on #9
This guide is ready for ID review:
Repo link: https://github.com/OpenLiberty/draft-guide-microprofile-health

[2018-02-19 14:26] sishida commented on #11
Please include a link to the guides as soon as they are ready for ID review. I think this is the guide for review, so I will take a look at this one today: https://github.com/OpenLiberty/draft-guide-microprofile-metrics/blob/master/README.adoc

[2018-02-19 16:10] sishida commented on #11
I have created a pull request for my ID review edits: https://github.com/OpenLiberty/draft-guide-microprofile-metrics/pull/10/files#diff-7bd4a925c695c2eb0eced3872b9b965f

[2018-02-19 16:49] sishida commented on #38
Please add the link to the issue when it's ready for ID review. I think this is the correct link, so this is the one I will edit today: https://github.com/OpenLiberty/draft-guide-microprofile-faulttolerance-intro/blob/master/README.adoc Thanks!

[2018-02-19 20:50] sishida commented on #38
I created a pull request here: https://github.com/OpenLiberty/draft-guide-microprofile-faulttolerance-intro/pull/17

[2018-02-21 15:53] lauracowen opened #55 "Guide for Log4J"
Introduction to the popular Apache logging framework Log4j, and learn how to add logs to your Open Liberty applications using Log4j

[2018-02-21 16:51] Kubik42 opened #56 "Change OL runtime versions to "RELEASE" and test all guides"
`LATEST` and `RELEASE` version numbers don't make any different as of yet (since only GM guilds are pushed into the Maven repo), but we should stick to using `RELEASE` just in case this changes in the future.

So, lets make sure we're using `RELEASE` in all of the guides and that this versions works (ie. run the tests to verify).

Current guides not using `RELEASE` (this is based on whats currentl

[2018-02-21 20:38] yeekangc commented on #53
This is the case where Arquillian will work with a Liberty server that is local.  It will cover both Maven and Gradle.

[2018-02-21 20:39] yeekangc commented on #54
This is the case where Arquillian will work with a Liberty server that is remote.  Both Maven and Gradle will be covered.

[2018-02-22 16:15] Kubik42 opened #57 ""Great work! You’re done!" needs to be more informative on what the user accomplished in the guide"
All guides must be informative on what the user accomplished in them. In other words, saying "You used this technology in your app" is not enough. This section needs to answer the question "So what?"

Good example:
You just built and tested a MicroProfile application with MicroProfile Fault Tolerance and Open Liberty. Through the use of this guide you have set up retry and fallback methods to succ

[2018-02-23 15:46] Kubik42 commented on #57
Closing this issue since a while back we agreed not to go into too much detail in this section.

[2018-02-23 15:46] #57 closed

[2018-02-23 18:20] evelinec commented on #56
Tested that both the "LATEST" and "RELEASE" version downloaded the same version.

LATEST:
Open Liberty 17.0.0.4/wlp-1.0.19.201712061531

RELEASE:
Open Liberty 17.0.0.4/wlp-1.0.19.201712061531

[2018-02-23 18:22] evelinec commented on #56
Looks like FT guide had been updated. @Ahmad-Ayyoub pls update Health and Metrics guide if they aren't already been done so. @JunyiSun pls update JWT and Config. Thanks.

[2018-02-23 19:02] evelinec opened #60 "Fix the common adocs to include draft guide in the name"
We'd fix the common adocs to include draft guide in the clone instructions.

[2018-02-23 19:36] Kubik42 opened #61 "MP Guides are missing the tests for the system service"
I'm not sure how we ended up not including these, but for the sake of consistency, let put them back in every guide.

I'm talking about these: https://github.com/OpenLiberty/guide-rest-intro/blob/master/finish/src/test/java/it/io/openliberty/guides/rest/EndpointTest.java

Create a new directory `it/io/openliberty/guides/system` and put these tests there. Then run `mvn verify` and make sure these t

[2018-02-26 15:19] evelinec commented on #38
@sishida Thanks for your initial review. This guide is ready for full review. Thanks.

Repo link: https://github.com/OpenLiberty/draft-guide-microprofile-faulttolerance-intro

[2018-02-26 19:48] evelinec commented on #56
CDI - DONE.

[2018-02-26 21:58] evelinec commented on #38
@sishida Actually, if you could hold on to reviewing this guide, there're some more feedback that need to be incorporated. Sorry for the confusion. If you already started, no a problem. Thanks.

[2018-02-26 22:19] evelinec opened #62 "Remove cd to start folder after clone"
Since adding the "Try what you'll build" section, cd to start folder after cloning the repo is not the right step.

[2018-02-26 22:20] sishida commented on #38
@evelinec Thanks for letting me know! I'll hold off on editing the guide for now. :)

[2018-02-26 22:25] evelinec commented on #61
MP guides that already have he EndpointTtest: CDI, FT, Config, Health and Metrics.
Guides that are missing: JWT (not sure it's applicable here) @JunyiSun
@Kubik42 If it makes sense for OpenTracing and OpenAPI, add include it there.

[2018-02-26 22:26] evelinec commented on #56
@JunyiSun pls update for jwt. Thanks.

[2018-02-27 12:24] yeekangc commented on #61
Good to have for regression testing and we should clearly which is for what endpoint.  Should have these as we look ahead to setup automated tests.

[2018-02-27 14:15] JunyiSun commented on #61
@evelinec JWT has the EndpointTest which is called EndPointTestWithJWT, since it's the modified version with JWT features.

[2018-02-27 14:18] JunyiSun commented on #56
@evelinec JWT updated to RELEASE

[2018-02-27 14:19] #56 closed

[2018-02-27 14:20] Kubik42 commented on #61
@evelinec Thats not the endpointtest I'm talking about. Please look at the link I posted.

[2018-02-27 15:22] evelinec commented on #61
@Kubik42 Ah, the test cases are of the same name! I thought it was strange when I found most of the MP guides have the inventory endpoint tests already. Let's rename/rework them and include to the guides.

[2018-02-27 16:22] chyt opened #63 "Guide for Spring Boot MVC app on Liberty"
Convert and update https://github.com/WASdev/sample.SpringBootMVC as an OL guide.

[2018-02-27 16:23] chyt opened #64 "Guide for Spring Boot WebSocket app on Liberty"
Convert and update https://github.com/WASdev/sample.SpringBootWebsocket as an OL guide.

[2018-02-27 17:02] evelinec opened #65 "Guide for accessing data JPA"

[2018-02-27 17:02] evelinec opened #66 "Guide for CRUD using JPA"

[2018-02-27 17:03] evelinec opened #67 "Guide for accessing relational database"

[2018-02-27 17:03] evelinec opened #68 "Guide for CRUD using relational database"

[2018-02-27 17:04] evelinec opened #69 "Guide for scheduling tasks"

[2018-02-27 17:05] evelinec opened #70 "Guide for developing in IntelliJ"
Introductory guide on developing applications on Open Liberty in IntelliJ.  Should cover the use of Liberty build plugins in IntelliJ.

[2018-02-27 17:05] evelinec opened #71 "Guide for transactions"

[2018-02-27 17:05] evelinec opened #72 "Guide for authenticating LDAP"

[2018-02-27 17:06] evelinec opened #73 "Guide for uploading files"

[2018-02-27 17:09] evelinec opened #74 "Guide for Java Batch"

[2018-02-27 17:10] evelinec opened #75 "Guide for JMS"
Jakarka Messaging (JMS)
- instead of using 3rd party or IBM MQ, the guide can use OL embedded wasJmsClient-2.0 and wasJmsServer-1.0 features

[2018-02-27 17:10] evelinec opened #76 "Guide for consuming REST jQuery"

[2018-02-27 17:11] evelinec opened #77 "Guide for writing a JAX-WS service"

[2018-02-27 17:11] evelinec opened #78 "Guide for calling a JAX-WS service"

[2018-02-27 17:12] evelinec opened #79 "Guide for Spring Boot"
This relates to the Spring Boot support in Open Liberty.

[2018-02-27 21:26] evelinec commented on #61
CDI guide is updated.

[2018-02-27 21:54] evelinec commented on #61
FT guide is updated.

[2018-02-27 21:55] evelinec commented on #61
@Ahmad-Ayyoub @JunyiSun pls add for the other MP guides. Thanks.

[2018-02-27 22:17] aknguyen7 commented on #44
Link to the interactive guide: https://qa-guides.mybluemix.net/guides/bulkhead.html

[2018-02-28 05:03] aguibert commented on #35
@yeekangc can you please create the repo under the OpenLiberty org?  The repo name can be "draft-guide-jsf-container"

[2018-02-28 16:52] yeekangc commented on #35
Here you go, @aguibert:  https://github.com/OpenLiberty/draft-guide-jsf-container

Courtesy of Chuck.

[2018-02-28 18:18] sishida commented on #38
@evelinec Could you please post a new link when this guide is ready for review? Thank you! :)

[2018-02-28 18:41] sishida commented on #44
I created a Box Note where I will leave comments for edits: https://ibm.ent.box.com/notes/280490426228

[2018-02-28 21:16] Ahmad-Ayyoub commented on #61
Metrics guide is updated

[2018-02-28 21:16] Ahmad-Ayyoub commented on #61
Health guide is updated

[2018-02-28 21:50] Ahmad-Ayyoub commented on #62
Fixed here: https://github.com/OpenLiberty/guides-common/pull/80

[2018-02-28 22:12] Ahmad-Ayyoub commented on #60
Fixed here: https://github.com/OpenLiberty/guides-common/pull/80/commits

[2018-03-01 13:05] JunyiSun commented on #61
Updated for Config and JWT

[2018-03-02 15:50] yeekangc opened #81 "Use meaningful permalinks"
Currently, our permalinks are simply the projectids.  They aren't intuitive and are not optimized slugs (for SEO) .  Need to improve them.

[2018-03-02 15:57] yeekangc commented on #81
This issue depends on https://github.com/OpenLiberty/openliberty.io/issues/179.

[2018-03-05 18:47] evelinec commented on #61
Regarding this issue, I think we're still missing a quick statement about the system endpoint test that we included in the guides. I think something like this, from @Kubik42's other guides, is good. Adjust it to fix the individual guide. @Ahmad-Ayyoub @JunyiSun
[code]

For example, this is for the CDI guide:
[code]
Notice you need to update the test output to reflect the 2 or more test cases as we

[2018-03-05 22:02] #60 closed

[2018-03-06 15:08] JunyiSun commented on #61
The JWT guide has different endpoint tests (with security tokens), therefore, there is no need to add this statement.

[2018-03-06 19:29] evelinec commented on #61
Statement is added for the FT guide too. This will be reviewed together by ID.

[2018-03-06 19:31] evelinec commented on #38
@sishida The FT guide is good with some ID review now. Here's the repo link: https://github.com/OpenLiberty/draft-guide-microprofile-faulttolerance-intro
Thanks.

[2018-03-06 20:02] JunyiSun commented on #61
Added for Config.

[2018-03-07 04:55] evelinec commented on #61
@Ahmad-Ayyoub can you confirm when the same are done for the other guides? Thanks.

[2018-03-07 04:58] evelinec commented on #22
@sishida The JWT guide is ready for some ID review.
Repo link: https://github.com/OpenLiberty/draft-guide-microprofile-jwt

@JunyiSun FYI.

[2018-03-07 14:44] Ahmad-Ayyoub commented on #61
@evelinec I have added that for both health and metrics

[2018-03-07 16:05] sishida commented on #22
@evelinec and @JunyiSun:
Overall I thought it was good. :) I made some minor edits in a pull request here: https://github.com/OpenLiberty/draft-guide-microprofile-jwt/pull/22
Thank you!

[2018-03-07 17:12] sishida commented on #22
@evelinec and @JunyiSun:
I ran the grammar checker and made a few more changes: https://github.com/OpenLiberty/draft-guide-microprofile-jwt/pull/24/files#diff-7bd4a925c695c2eb0eced3872b9b965f Thank you!

[2018-03-07 20:40] dmorgant commented on #44
The box note was updated with comments on our implementation.

Changes are complete and you can view the changes at https://qa-guides.mybluemix.net/guides/bulkhead.html.

Note that additional text was added since the last ID review, especially to the Background concepts and Great work! You're done! pages.

[2018-03-08 05:34] evelinec commented on #61
@Kubik42 can you take a final look? Altho the health and metrics guides fixes are still in the PR at this moment.

[2018-03-08 05:36] evelinec commented on #62
Close issue as it was fixed in another place. Sorry @Ahmad-Ayyoub

[2018-03-08 05:36] #62 closed

[2018-03-08 15:03] Kubik42 commented on #61
Just checked CDI, JWT, FT, health, config, metrics:

- start/.../inventory/EndpointTest in metrics should be start/.../inventory/InventoryEndpointTest (I didnt see this in the PR)

[2018-03-08 15:39] evelinec commented on #61
@Ahmad-Ayyoub ^ take a look. Thanks.

[2018-03-08 15:59] Ahmad-Ayyoub commented on #61
It is `InventoryEndpointTest` look at my Fork

[2018-03-08 16:08] Kubik42 opened #83 "Use .java files for any unit and integration tests"
To avoid any more potential issues with Maven picking up `.gitkeep` files and attempting to run them as tests, lets tweak our poms from now on to include everything under the `it` directory that is also a java file.

ie. should be something like this: `it/.../*.java`

[2018-03-08 16:26] #61 closed

[2018-03-08 16:28] yeekangc commented on #83
That's what we should do and fix.  Thanks.

[2018-03-08 16:52] JunyiSun commented on #83
Added for Config

[2018-03-08 17:24] evelinec commented on #83
Added for CDI

[2018-03-08 17:36] evelinec opened #84 "Verify all naming are correct for MP guides"
Ref: https://ibm.ent.box.com/file/281716465645

This include all of projectid, artifactid, related guide, tags, duration, title and abstracts.

[2018-03-08 17:37] evelinec commented on #84
@JunyiSun can you pls do this for rest-intro, CDI, FT, JWT, Config, Health, and Metrics guides?

[2018-03-08 17:39] evelinec commented on #83
@Kubik42 can you verify this is done for all rest-intro, CDI, FT, JWT, Config, Health and Metrics guides, by EOD today? Escalate or fix any that's not done.

[2018-03-08 18:15] evelinec commented on #84
@JunyiSun we need this one to be targeted today. Thanks.

[2018-03-08 18:48] JunyiSun commented on #84
@evelinec Okay

[2018-03-08 19:28] JunyiSun commented on #84
@evelinec I went over CDI, FT, JWT, Config, Health, and Metrics guides and opened issues accordingly. The rest-intro guide is not in that table so I don't know what to look for.

[2018-03-08 19:37] evelinec commented on #84
Great, thanks.

[2018-03-08 19:37] #84 closed

[2018-03-09 04:38] evelinec commented on #83
Added for FT

[2018-03-09 14:40] Kubik42 commented on #83
Just checked,

The following guides are missing this change for unit tests in both `start and `finish`:
- CDI
- FT
- config
- metrics
- health

The following guides are missing this change entirely:
- JWT

[2018-03-09 15:48] Kubik42 commented on #83
Regarding the comment above, unit tests are ok not to have this change.

[2018-03-09 15:54] JunyiSun commented on #83
Added for JWT.

[2018-03-09 15:55] Kubik42 commented on #83
Thanks @JunyiSun

[2018-03-09 15:55] #83 closed

[2018-03-09 16:12] yeekangc commented on #33
Need to reconcile with #8.

[2018-03-09 16:38] yeekangc opened #85 "Create a guide for React"
Guide for developing web apps with React running on Open Liberty and connecting to services on Open Liberty.

[2018-03-09 17:33] evelinec commented on #50
We had added and verified the tags for these guides: rest-intro, CDI, FT, JWT, Config, Health, and Metrics.

[2018-03-09 19:30] mbroz2 opened #86 "[Interactive] Create a guide for MicroProfile @Retry & @Timeout"
This will complete an interactive Track around MicroProfile Fault Tolerance.

The guide should use the ebank site for the driving scenario.

Retry: https://microprofile.io/project/eclipse/microprofile-fault-tolerance/spec/src/main/asciidoc/retry.asciidoc

Timeout: https://microprofile.io/project/eclipse/microprofile-fault-tolerance/spec/src/main/asciidoc/timeout.asciidoc

[2018-03-10 00:31] yeekangc opened #87 "Consider pre-creating files or directories under /start"
Currently, we ask users to create new files themselves and then add the code or content.  This can be a hassle for users especially if they have to do so multiple times.  Or, if they aren't familiar with the necessary commands or tools to do so.

We should seek to improve the experience and consider pre-creating such files under /start so users can focus on the content and code.

[2018-03-13 03:07] evelinec opened #88 "Add a sentence about start folder in mvnbuild adoc"
YK's feedback:
For what’s out there, I do think we need to take another look at the `cd start` that was added.  It is better to call out via a sentence to remind the users to ensure they are under start since we won’t know where exactly they may be.

[2018-03-13 03:14] evelinec commented on #88
Suggestion:
To build the application, run the `install` Maven goal from the command line in the `start` directory:

[code]

[2018-03-13 03:15] evelinec commented on #88
@yeekangc @Kubik42 @JunyiSun @Ahmad-Ayyoub pls review.

[2018-03-13 03:16] evelinec commented on #88
@JunyiSun if you can help facilitate the review and discussion, make the changes when there's a final decision, that'll be great. Thanks.

[2018-03-13 15:12] Kubik42 opened #90 "Clarify `startc/src` if working from `start`"

[2018-03-13 15:23] JunyiSun opened #91 "Create a common file for Try what you'll build Section"

[2018-03-13 17:23] yeekangc commented on #88
`cd start` should be removed.

The suggested change looks fine otherwise.  (It should be Maven `install` goal?)

[2018-03-15 14:45] evelinec commented on #24
ID review is in progress, thanks @sishida
Repo link: https://github.com/OpenLiberty/draft-guide-microprofile-opentracing

[2018-03-15 14:46] evelinec commented on #23
ID review is in progress, thanks @sishida
Repo link: https://github.com/OpenLiberty/draft-guide-microprofile-openapi

[2018-03-15 16:05] evelinec commented on #88
Closed.

[2018-03-15 16:05] #88 closed

[2018-03-15 16:06] evelinec commented on #90
@JunyiSun @Kubik42 can we close this one?

[2018-03-15 16:17] Kubik42 commented on #91
I'm not sure this will work since every "Try what you'll build" section is tailored for each guide.

[2018-03-15 18:35] lauracowen commented on #87
Some of the more recent guides provide the directory structure with a `.gitkeep` file in it so that GitHub retains the structure without any files in it. After brief discussion, agreed with @NottyCode @yeekangc @gcharters @kwsutter that we should do this for all guides. No placeholder java files etc; just the empty directory structures with `.gitkeep` files as necessary. This means that developers

[2018-03-16 13:49] yeekangc commented on #90
More to this issue ...

Per @Kubik42:
_I talked about this with Jay and Laura a while back when we discussed removing the cd start from the "Getting started" section. Their concern was that if the users skip the "Try what you'll build" section, then they might be lost as to where to begin. So, Jay suggested to put cd start in the first section of the guide that talks about implementation details._

[2018-03-16 15:24] yeekangc opened #92 "Rewrite REST clients in MP guides to use MP REST Client"
Fix and rewrite the REST clients used in the MicroProfile guides to use MP Type-safe REST Client in MicroProfile 1.3.

Exception would be guides where we are talking about JAX-RS and JSON-P specifically.

[2018-03-19 14:37] JunyiSun opened #93 "SystemClient propagation to all other guides"
Propagate the fix for SystemClient to all other guides. In InventoryManager.java, make the initialization of SystemClient inside the get() function.

[2018-03-19 14:40] JunyiSun opened #94 "Think of a better solution for SystemClient"

[2018-03-19 15:09] evelinec commented on #94
ie, REST Client.

[2018-03-19 15:11] #94 closed

[2018-03-19 15:13] evelinec commented on #93
All MP guides using the SystemClient need to be fixed.

[2018-03-19 15:13] evelinec commented on #93
FT was fixed.

[2018-03-19 15:22] evelinec commented on #90
I'm not sure I like this kind of command, `cd ../start` in the guide. We'll discuss further on a common approach and use it for all guides.

[2018-03-19 15:28] evelinec commented on #90
Based on the "More to this issue" comment, looks like this is one approach:

- Get rid of "Now, navigate back to the start directory to begin." under "Try what you'll build" section.
- Move the sentence with this context "navigate to the `start` directory" to the section where user starts working with the implementation.

[2018-03-19 21:39] evelinec opened #95 "Revisit the data model for the inventory app"
InventoryList
-- could this be replaced by a simple Map?

Refer to background info in https://github.com/OpenLiberty/guide-microprofile-fallback/issues/39

[2018-03-20 13:42] yeekangc commented on #90
Yes, we should avoid `cd ../start` here unless we are certain that it won't cause issues or confusion.

[2018-03-20 13:45] yeekangc commented on #95
We can improve the InventoryList -- there is still room for improvements -- but we need an object model for OpenAPI.

[2018-03-20 18:13] evelinec opened #96 "Consider creating common repo(s) for common app(s)"
This is so that all MP guides can share the app and have less maintenance work for common code.

[2018-03-20 18:16] yeekangc commented on #96
We need to consider if this can and should be done in general and if so, how should it be done.  The impact to user experience must be properly considered.

[2018-03-22 14:47] kwsutter opened #97 "Need to ensure all guides properly recognize the Eclipse MicroProfile^TM"
@lauracowen just noticed that the sample UI was missing the initial reference to the Eclipse MicroProfile^TM trademark.  This was documented in [Issue #15](https://github.com/OpenLiberty/sample-getting-started/issues/15).

A quick look shows that we have a similar issue across the MicroProfile guides that we recently created.  This issue is getting created so that we can clean up all of the guides

[2018-03-22 14:57] yeekangc commented on #97
Thank you, @kwsutter.  Looking into this.

[2018-03-22 15:14] yeekangc commented on #97
See https://www.eclipse.org/legal/logo_guidelines.php#ProperProjects and https://www.eclipse.org/legal/logo_guidelines.php#ProperProjects for details.

[2018-03-22 19:52] gcharters opened #98 "Guide for Kubernetes"
A static guide to describe OL and Kubernetes - a simple getting started.

[2018-03-22 20:37] gcharters opened #99 "Create a guide for Open Liberty with Istio"

[2018-03-22 20:39] evelinec opened #100 "Create an outline for writing a guide"
- [x] Create an outline template

- [x] Save the template in a common place and have guide writers to use it

[2018-03-22 20:46] evelinec opened #101 "Develop automated scripts to verify code structures"
Write automation script(s) to verify code structures, for example:

- [x] check start and finish directory differences

- [x] check that the folder structure is proper, refer to "Project structure" section in the "Getting started" doc.

- [x] Some of the points in the "Getting started" document can be checked:

- Don't include the file in the start directory
- Provide the whole file in the guide i

[2018-03-22 20:48] evelinec opened #102 "Create a checklist for reviewing a guide"
Create a checklist of things to look out for when reviewing a guide

[2018-03-22 20:52] evelinec opened #103 "Update the guide’s template to include latest information"
Continue to elaborate on the guide’s template to include latest changes and any additional helpful information.

[2018-03-22 20:54] evelinec opened #104 "Create a document for the new structure and styles"
- [x] Establish a document for the new structure and styles. Perhaps can revisit the current "Getting Started " document to see anything new needs to be added.

- [x] Continue to elaborate the guideline for developing guides to include anything that’s new and helpful

[2018-03-22 20:54] yeekangc commented on #101
Relates to #51.

[2018-03-26 15:34] yeekangc commented on #26
Intro guide delivered.

[2018-03-26 15:34] #26 closed

[2018-03-26 15:35] yeekangc commented on #5
https://openliberty.io/guides/microprofile-config.html

[2018-03-26 15:35] #5 closed

[2018-03-26 15:36] yeekangc commented on #22
https://openliberty.io/guides/microprofile-jwt.html

[2018-03-26 15:36] #22 closed

[2018-03-26 15:41] yeekangc commented on #24
https://openliberty.io/guides/microprofile-opentracing.html

[2018-03-26 15:41] #24 closed

[2018-03-26 15:42] yeekangc commented on #23
https://openliberty.io/guides/microprofile-openapi.html

[2018-03-26 15:42] #23 closed

[2018-03-26 15:44] yeekangc commented on #38
https://openliberty.io/guides/microprofile-fallback.html

[2018-03-26 15:44] #38 closed

[2018-03-26 15:45] yeekangc commented on #9
https://openliberty.io/guides/microprofile-health.html

[2018-03-26 15:45] #9 closed

[2018-03-26 15:47] yeekangc commented on #11
https://openliberty.io/guides/microprofile-metrics.html

[2018-03-26 15:47] #11 closed

[2018-03-26 15:49] yeekangc commented on #44
This is published:  https://openliberty.io/guides/bulkhead.html.  Closing.

[2018-03-26 15:49] #44 closed

[2018-03-26 19:02] evelinec commented on #50
Also for OpenTracing and OpenAPI guides. We'll make sure the other new MP guide will have the proper tags when it's ready.

[2018-03-26 19:02] evelinec commented on #50
Can we close this one now?

[2018-03-26 19:27] evelinec commented on #51
@yeekangc to help think of a plan for this issue. Keep us posted. Thanks.

[2018-03-26 19:30] evelinec commented on #91
Perhaps just the heading plus the first two paragraphs, before seeing any results?

[2018-03-26 19:31] evelinec commented on #91
Assign to @Ahmad-Ayyoub to work. Create proposal(s) and we'll review them.

[2018-03-26 19:33] evelinec commented on #93
I think this can be combined with #92.

[2018-03-26 19:34] evelinec commented on #92
Moved to Icebox, till the REST client guide is developed.

[2018-03-26 19:36] evelinec commented on #50
Yes, changes had been verified for the list of static MP guides.

[2018-03-26 19:36] evelinec commented on #50
@kinueng can we close this issue?

[2018-03-26 19:48] evelinec commented on #103
@Kubik42 can you take a first pass on this, when you have a chance. Perhaps these things are new:

- [ ] Unrelated code to the guide topic should be just described, not to show code

- [ ] Short, simple and concise description instead of long techie paragraphs, ie, when explaining code for the app or tests.

- [ ] How much background info on the guide topic to include or reference?

- [ ] Referrin

[2018-03-26 19:51] evelinec commented on #104
Assign to @JunyiSun to work. Pls outline here what's needed, and we'll discuss as a team.

[2018-03-26 19:52] evelinec commented on #102
Assign to @JunyiSun to work. Let's discuss more for this one too.

[2018-03-26 19:55] yeekangc commented on #104
This shouldn't be done in isolation but along with what we already have out there, be it the template or what's on the public wikis.

Also, we should work with Sarah and Laura on this.  Tagging @sishida here in particular.

[2018-03-26 20:05] Ahmad-Ayyoub commented on #91
Here: https://github.com/Ahmad-Ayyoub/guides-common/commit/fc7909401102f48fb840091126ac1b1b6fd1b050

Take a look

[2018-03-26 20:38] evelinec commented on #52
I believe all guides now runs with the release build. Perhaps we had resolved the release part. Still need to think about the new feature versions.

[2018-03-26 20:45] evelinec commented on #48
We'd handled the recent set of MP guides to have proper descriptions on the card. The same thing needs to be verified for the previous guides. @JunyiSun @Kubik42 and @Ahmad-Ayyoub: can you check this out for those other published guides? Thanks.

[2018-03-26 21:06] evelinec commented on #21
@Kubik42 is there more work for this issue?

[2018-03-26 21:07] evelinec commented on #18
@Kubik42 any more work on this issue?

[2018-03-26 21:08] Kubik42 commented on #21
@evelinec None of the PRs listed here have actually been merged. We held off doing that because we were going through layout changes at the time. I guess, the best course of action is to open new PRs that will include the old changes + new changes for layout stuff.

[2018-03-26 21:09] Kubik42 commented on #18
I think we can close this since the design team is working on a new layout that addresses these concerns. @lauracowen what do you think?

[2018-03-27 14:40] yeekangc commented on #39
@evelinec, is this done?

[2018-03-27 15:35] evelinec commented on #39
@yeekangc We had used the new structure for the recent guides. The previously published guides will still need these changes. But perhaps we can do that all together when there's new layout.

[2018-03-27 15:42] yeekangc commented on #39
@evelinec, thank you.  Can you please call out what needs to be done still?  This will help us track and prioritize the work.

[2018-03-27 18:08] evelinec commented on #39
@yeekangc Those are: Docker, Gradle, AngularJS, CORS, multi-module, consuming RESTful web service, rest-intro, hypermedia, microprofile-intro, maven. More or less in all of those previously published guides.

[2018-03-28 09:30] lauracowen commented on #18
Yes, I think we're handling this elsewhere. Maybe put a link in this issue to the one for the new guide designs?

[2018-03-28 13:28] yeekangc commented on #55
https://github.com/OpenLiberty/draft-guide-log4j

[2018-03-28 14:54] JunyiSun commented on #102
@evelinec Which review do you refer to? User review? Content Review? ID review?

[2018-03-28 15:28] evelinec commented on #102
All.

[2018-03-28 19:54] JunyiSun commented on #90
@evelinec @yeekangc What's the final decision on this issue?

[2018-03-28 19:57] JunyiSun commented on #48
Updated the description for multi-modules guide

[2018-03-28 20:21] evelinec commented on #90
I already posted my option in my last comment.

[2018-03-29 14:54] yeekangc opened #106 "Guide for HTTP sessions"
Guide on working with sessions including session persistence with JCache backed by Hazelcast.

[2018-03-29 15:26] evelinec commented on #48
@sishida @yeekangc can you review the description for the multi multiple module guide:
Learn how to build an application consisting of JAR, WAR, and EAR modules with Maven

[2018-03-29 15:37] evelinec commented on #101
Other suggestion is to see if Travis CI may help.

[2018-04-01 14:30] herness commented on #98
Please strongly consider doing this using the IBM Cloud Private Community Edition.  I would assume you would talk about using the helm chart that we already have for Open Liberty which is at: https://github.ibm.com/IBMPrivateCloud/charts/tree/master/stable/ibm-open-liberty.  You could talk about building out a docker image via MicroClimate (the MSB part) but that might be a separate story.

[2018-04-02 19:47] evelinec commented on #51
Let's discuss a plan for this issue during collaboration tomorrow.

[2018-04-05 21:10] yeekangc commented on #81
Should consider SEO in general.  For example, searching for "how to use microprofile fault tolerance" doesn't show what we have at or near the top of the list.  Searching for "microrprofile fault tolerance" gives better results but still doesn't cover all that we have for the topic.  Need to sort this out as soon as possible.

Need to work with @lauracowen on SEO and @evelinec, we should handle th

[2018-04-06 14:40] cajaygle commented on #18
The guide redesign issue: https://github.com/OpenLiberty/openliberty.io/issues/145

@megmulsy please re-read through this issue to make sure all items have been addressed.

[2018-04-06 14:45] cajaygle opened #107 "Create an Intro to MicroProfile document"
Create an Introduction to MicroProfile guide.

* Introduce new users to MP
* Summarize the capabilities and purposes of MP features
* Serve as an introduction to the other MP guides
* Become (hopefully) the definitive intro to MP, which will draw people to ol.io.
* Link to it from as many places as possible

[2018-04-06 15:02] cajaygle commented on #107
The MicroProfile lab for the Think conference provides a lot of good starting material for this guide.

The getting started sample used on the ol.io homepage could be the basis for a sample app for the guide, since it already demonstrates three MP features.  If we did use this sample we may want to fork it and tweak the app's UI to better serve as an intro to MP.

[2018-04-09 14:39] evelinec commented on #81
Will check to see if the dependency is ready.

[2018-04-09 15:33] irobins commented on #98
This will also be addressed in https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/issues/78

[2018-04-09 17:29] NottyCode commented on #98
@herness The primary focus of this guide will be to help developers understand how to deploy an applications to a kube runtime. That will focus on helm charts and similar. The particular kube runtime is not of critical importance to the learning activity. While IBM Cloud Private Community Edition could be used as the Kube runtime for the guide as it is not an open source project the Open Liberty g

[2018-04-11 09:07] lauracowen commented on #81
We need to add in the seotitle and seodescription tags to each of the guide pages. I have a todo for myself to come up with text for each of them....Won't be this week though...

[2018-04-11 09:57] lauracowen commented on #107
I'm not sure about this as a guide. This sounds more like a blog post (or some form of 'static' page like the About page or in the Docs? so that it's 'cornerstone' SEO content that's linked to from everywhere, as you suggest) but not a hands-on guide as we already have a whole load of those on MP.

I agree we could/should have some sort of article/post which would give a clear introduction, reason

[2018-04-11 11:05] yeekangc commented on #81
Thank you, @lauracowen.  I have asked @evelinec to try and look into things further and work with you to improve what we have.

[2018-04-11 14:00] NottyCode opened #108 "Add an attribution to bottom of guides"
We should add an attribution to the bottom of the asciidoc for the guides that points back to openliberty.io. The attribution clause is there to help anyone that 'forks' this onto their own site to comply with the CC license the asciidoc is using. It also means if someone else decides to host this they point it back to our hosted version which should help our google rank.

[2018-04-11 14:13] scottkurz commented on #74
This is a difficult one.   Limiting yourself to Open Liberty means giving up the WDT batch tooling.   You can now use WDT and commercial Liberty for free for development purposes (and you can still view the source for the core batch container), and anything we came up with here would be a less optimal development experience.

I wouldn't rush to work on this then.

[2018-04-11 15:37] JunyiSun opened #109 "Use `artifactId` instead of `groupId` when referring the API dependency in the pom.xml"

[2018-04-11 15:43] evelinec commented on #109
Impacted guides: FT

[2018-04-11 15:57] steven1046 commented on #50
Yes, the tags have been added for the interactive guides.

[2018-04-11 16:01] evelinec commented on #50
Checked with @steven1046 and it's good to close.

[2018-04-11 16:01] #50 closed

[2018-04-11 16:53] lauracowen commented on #107
Following on from my update above...I've just read through the lab I think you meant (by Kevin Sutter?) and I think that moreorless does what I said above (sorry, I hadn't seen it before). I'm discussing with Kevin about publishing it (or part of it) as a blog post at the moment. I think we could do that in the short term (eg this week) and then turn it into an introductory doc (I still don't thin

[2018-04-11 19:35] yeekangc commented on #107
@lauracowen, yes, the Lab that Jay referenced is the one by Kevin, which is what you looked at recently.

Yes, this wouldn't be the usual guide or a guide by definition.  More an intro piece (for a category of guides) that would introduce the topic and guide you in working through the relevant set of guides.  So, a special kind of guide or an index of sort.

The thinking is that we will introduce

[2018-04-11 20:58] yeekangc opened #110 "Template repo for static guides"
Create a template repo for static guides that contributors can use as the basis for developing new guides.

Will involve moving some of the template adocs in guides-common over to this new repo and updating relevant instructions too.

[2018-04-12 08:57] lauracowen commented on #107
This is a similar approach to what I concluded we needed on WASdev.net some moons ago - have a category with intro text/summary and then links off to the more detailed material. We never got to do it on WASdev.net (we just have categories but no intro text to put them in context or to help the SEO of the category concepts) but I still really like the idea. So it'd be good to do that here.

[2018-04-12 12:42] cajaygle commented on #107
I agree this wouldn't be your typical guide.  The benefit of doing it as a guide is that we already have this form of documentation and it would fit very well as the first thing in a category of guides.  If we introduce some new type of intro document then we'd want it to be it's own page/URL for SEO purposes.  We'd have to design it -- how it appears on other pages, and how the page itself looks

[2018-04-12 12:59] lauracowen commented on #107
I think it depends what you mean by 'guide'.

I don't think these intros should have sample code associated with them (or, if there is some code it's just for illustration and not for copying and following along in a hands-on way). That's why I said it's not a guide - conceptually a guide is the combination of the text and sample code with the repository of code containing the finished and partly-

[2018-04-12 13:56] yeekangc commented on #102
- Consider making the checklist an issue template
- Should look at what design team has from user research and incorporate appropriate items

[2018-04-12 13:59] yeekangc commented on #102
Tagging @cajaygle @lauracowen @sishida for them to provide their input.

[2018-04-12 14:12] yeekangc commented on #102
From design team:
- Is the title and description clearly described?
- Are objectives and outcomes clearly stated?
- Are requirements clearly stated?
- Examples
  - Are examples with the right outcome provided?
  - Are examples with the wrong outcome provided?
- Can users find definitions objects and keywords?
- Is instruction supported through tips, hints, notes and/or images?

[2018-04-12 16:34] cajaygle commented on #102
- Ensure description is not simply a restatement of the title.

@megmulsy please provide any input

[2018-04-12 18:19] evelinec opened #111 "Clean up static guide repos"
Need to revisit the static guide repos and do some clean up:

- [ ] Delete outdated branches

- [ ] Ensure new branches to be created for new PR

[2018-04-12 18:34] evelinec commented on #48
@Kubik42 can you revisit the descriptions of some of the other guides?

[2018-04-12 18:40] evelinec commented on #21
@Kubik42 Since this issue is in the current high priority in progress list, can you see if we can wrap up with some of the changes made so far? We will revisit via new issues when the new layout is ready.

[2018-04-12 18:43] evelinec commented on #104
Move this issue back to backlog as we're not working on it right now.

[2018-04-13 14:45] cajaygle commented on #107
Regarding URL/SEO, I meant that the Intro doc should have an SEO-able URL, such as https://openliberty.io/guides/intro-to-microprofile.html    I agree that putting it under /guides make sense.

[2018-04-13 14:48] cajaygle opened #112 "Design for guide introductory document"
On 4/12 we agreed that an introductory document for a guide category would not be a guide itself, but a separate intro type document.

This issue is to track:
* designing how that intro document will look
* how it will be displayed in a guides category alongside the guides.

[2018-04-13 15:03] cajaygle commented on #107
During discussion of this issue on 4/12 we agreed:

* An introductory document for a guides category would not be a guide itself, but a separate introductory document type.  The intro document would not have sample code associated with it, although it may have code snippets within the text.  TBD whether this document would need to live in its own repo.
* The intro document will appear as the first

[2018-04-13 15:39] yeekangc commented on #35
See how this interacts with #30.

[2018-04-13 16:00] yeekangc commented on #54
Consider if this should be done as a guide (when we are ready to work on it).

[2018-04-13 16:33] chyt opened #113 "Guide for migrating Spring Boot test framework to Arquillian"

[2018-04-13 16:35] yeekangc opened #114 "Look at what guides we should have for IDEs"
For example, VS.code, Atom, IntelliJ.

[2018-04-13 16:35] yeekangc opened #115 "Look at what guides we should have for Java EE 8"
Look at the technologies coming in EE 8 and investigate what guides we should have for them including a proposed prioritization.

Work out how we can get the work done too.

[2018-04-13 18:30] yeekangc commented on #8
Should target EE 8.

[2018-04-13 18:31] yeekangc commented on #30
Reconcile this with #35 and see if we need 2 guides or it should only be 1 guide.

[2018-04-13 19:45] evelinec commented on #81
Created a chart with all the guides that we need to work with in the Box.

[2018-04-16 15:19] yeekangc commented on #99
https://github.com/OpenLiberty/draft-guide-kubernetes

[2018-04-16 15:19] yeekangc commented on #98
Created draft repo for guide development:  https://github.com/OpenLiberty/draft-guide-kubernetes

[2018-04-16 15:20] yeekangc commented on #63
Draft repo: https://github.com/OpenLiberty/draft-guide-springboot-mvc

[2018-04-16 15:21] yeekangc commented on #64
Draft repo: https://github.com/OpenLiberty/draft-guide-springboot-websocket

[2018-04-16 15:21] yeekangc commented on #53
Draft repo: https://github.com/OpenLiberty/draft-guide-arquillian-managed

[2018-04-16 15:49] sishida commented on #108
Do we want this information to be part of the guide itself, such as how "Contribute to this guide" and "Related guides" are their own sections, or is this information like the "fine print" that appears in the "License" and "Privacy policy" links at the bottom of all of the openliberty.io website pages?

[2018-04-16 16:12] sishida commented on #108
Do we want this information to be part of the guide itself, such as how "Contribute to this guide" and "Related guides" are their own sections, or is this information like the "fine print" that appears in the "License" and "Privacy policy" links at the bottom of all of the openliberty.io website pages?

[2018-04-16 16:24] sishida commented on #108
What if we added this info to either the "Great work! You're done!", "Contribute to this guide", or "Related guides" sections? I don't want to pad these sections with too much info, but we also don't want all of the guides to have a bunch of end material, either.

Maybe a statement that prompts the reader to comply with the CC license, such as, "If you would like to share this guide, link back to

[2018-04-16 16:46] yeekangc commented on #108
This may be helpful:  https://wiki.creativecommons.org/wiki/Best_practices_for_attribution

[2018-04-16 17:34] cajaygle commented on #108
“[Adding health reports to microservices](https://openliberty.io/guides/microprofile-health.html)” by [yeekangc](https://github.com/yeekangc) is licensed under [CC BY-ND 4.0](https://creativecommons.org/licenses/by-nd/4.0/)

[2018-04-16 18:40] sishida commented on #102
I reviewed the checklist in issue 213: https://github.ibm.com/was-liberty/openliberty-guides-team/issues/213#issuecomment-5475098

I like that it covers the whole process with all the different types of review. Some of the items on the list were subjective, such as "Not boring to read." However, I don't think we want the list to be too rigid, anyway.

[2018-04-17 11:14] yeekangc commented on #46
This relates to openliberty.io#136.

[2018-04-17 11:16] yeekangc commented on #46
Tagging @cajaygle @megmulsy to get their thoughts on how we can move forward with supporting multiple build tools for the guides.

[2018-04-17 19:07] chyt opened #116 "Add Maven/Gradle wrappers"
We should include Maven and Gradle wrappers (when we begin to add Gradle instructions) to the guide repositories so that the user can run the projects without having Maven and/or Gradle pre-installed.

[2018-04-18 21:32] megmulsy commented on #112
Template for the MicroProfile Intro is created
PNG: https://ibm.box.com/s/g2b2whi1pwlxoe80kypgua6rqgevsx5g
Redlines: https://ibm.box.com/s/2h5xsx4urjq041e5ectj9ftvhj5herut
NOTES:
-   Please take a look at how these pieces fit within the grid   Keep the left-hand nav open at all times, do not make it closeable like the other pages.
-     Images should either be left or right aligned, not centered.

[2018-04-19 15:08] yeekangc commented on #113
- Confirm the importance of this
- Will users actually move from Spring test framework to Arquillian?

[2018-04-19 15:14] yeekangc commented on #106
Reconcile with https://github.com/OpenLiberty/open-liberty/issues/2159.

[2018-04-19 15:58] cherylking commented on #113
@yeekangc @NottyCode The reason this guide is important is that it provides the information needed for the developer to test their application in the same environment they are going to deploy to (via Arquillian). If they remain on the SpringBoot test framework, they are not able to verify that the app deployed on Liberty works. We believe developers will want to be able to run their tests on the a

[2018-04-19 18:18] #112 closed

[2018-04-19 18:43] yeekangc commented on #8
This is for Bean Validation 2.0 in Java EE 8.  Should align the guide with when the feature is released.

[2018-04-19 18:46] yeekangc commented on #8
Initial drop by @alexsm82 here: https://github.com/OpenLiberty/draft-guide-beanvalidation/pull/1

[2018-04-19 20:25] chyt commented on #113
@yeekangc asked me what we intend to cover with this guide, and now that I think about it more (and some of the details are fuzzy to me since this work was done almost a year ago), I believe this is quite a challenging question to answer.

The main challenge is that Spring's testing framework is massive. Just look how lengthy the their [test framework documentation](https://docs.spring.io/spring/d

[2018-04-19 20:58] evelinec commented on #25
@sishida Guide is ready to be considered for ID review in the next iteration:
Repo Link: https://github.com/OpenLiberty/draft-guide-microprofile-rest-client

[2018-04-20 20:16] evelinec commented on #110
Potential items and setups to be included in the template repo:

- [ ] The relevant template adocs from guides-common

- [ ] Create a team with an user having admin privilege

- [ ] Setup Travis CI configurations, include the yaml file, and the setting required to run the continuous automation infrastructure

[2018-04-23 13:44] evelinec commented on #48
@megmulsy @sishida I was wondering if it's ok to have a long description that doesn't show up entirely on the card? For example, go to https://openliberty.io/guides/ and search for "fallback". You'll see 3 guides show up, but 2 of them having longer descriptions that doesn't fit entirely on the card. Let us know what you think. Thanks.

[2018-04-23 15:28] sishida commented on #48
I looked up the fallback guides, but the descriptions looked like they were fitting on the cards just fine. I prefer that the descriptions fit on the cards, but if we want to make it mandatory, we should inform the guide writers what is needed to make them fit. For example, we'd need to specify something like, "Limit the descriptions to X number of characters."

I also noticed that some guides, su

[2018-04-24 16:30] andymc12 opened #118 "Guide for JAX-RS 2.1 Reactive Client"
We'll need a guide for using the Reactive Client that comes as part of the `jaxrs-2.1` feature in Liberty.

[2018-04-24 16:31] andymc12 opened #119 "Guide for JAX-RS 2.1 Server Sent Events (SSE)"
We should probably have a guide for how to produce and consume SSE using the `jaxrs-2.1` feature.

[2018-04-25 01:48] evelinec commented on #48
@sishida Thanks for reviewing and providing your feedback. We'll consider them, and look into the "Consuming a RESTful web service" guide.

[2018-04-26 13:33] lauracowen opened #120 "Getting started with Open Liberty guide"
This is a guide to get started with Open Liberty itself (not the technologies that can run on OL).

Currently working on this here: https://github.com/lauracowen/draft-guide-gettingstarted

[2018-04-27 08:03] lauracowen commented on #107
Here's a draft that Kevin has on his list to review: https://openlibertydev.mybluemix.net/2018/04/24/java-microservices-microprofile.html

Any feedback from anyone is welcome. It's currently in blog form but if you have feedback relating to how it would be in the category intro context, please let me know too.

[2018-04-27 15:05] sishida commented on #25
I have created pull requests for the ID line edits and Acrolinx check. :) Thanks!

[2018-04-27 15:10] cajaygle commented on #107
Hi Laura, some comments:
- I suggest not organizing the MP features by release, but rather in some logical way that will appeal to the MP newbie since this is an intro document.  For instance, in the current draft, the Metrics paragraph refers to Health Check before HC has been introduced.
- @megmulsy can create new diagrams, instead of the current Powerpoint versions
- Would it be useful to link

[2018-05-09 12:31] lauracowen commented on #120
Now here: https://github.com/OpenLiberty/draft-guide-gettingstarted

Please could relevant people take a look, test it, review/edit it, make it match the guides guidance, get it ready to publish? (see also https://github.com/OpenLiberty/draft-guide-gettingstarted/issues/1)
@yeekangc @gcharters @NottyCode @sishida @Kubik42 @cajaygle @cbridgha

I think it all works. I’ve stripped out as much as I ca

[2018-05-09 16:35] sishida commented on #120
Hi, Laura, I wasn't able to clone with the command, "git clone https://github.com/openliberty/guide-open-liberty.git". Do I need permissions or special access to clone because we haven't published this guide yet?

I'm able to use "git clone https://github.com/OpenLiberty/sample-getting-started.git" on the openliberty.io page.

[2018-05-09 16:48] lauracowen commented on #120
Ah, no. Sorry, I hadn't updated the guide since moving the repo to OpenLiberty. No, the sample-getting-started.git repo is the 'Try It Now' sample from the OL.io homepage. The one you want should be the one you get from the 'draft-guide-gettingstarted' repo: https://github.com/OpenLiberty/draft-guide-gettingstarted.git

[2018-05-10 15:06] yeekangc commented on #31
This should cover appSecurity-3.0 and hence, Java EE Security 1.0.

[2018-05-10 19:37] cherylking opened #121 "mvnpackage.adoc gives incorrect advice"
The  mvnpackage.adoc says "If you make changes to the code, use the Maven package goal to rebuild the application and have the running Open Liberty server pick them up automatically". I followed this advice and got the following error:

Server MVCServer package failed. It must be stopped before it can be packaged.

I ran into this while reviewing a draft guide. After I stopped the Liberty server,

[2018-05-10 19:39] yeekangc commented on #121
@Kubik42, I thought we addressed this previously?  Can you take a look?

[2018-05-10 21:23] alexsm82 opened #122 "Guide for JSON-B/JSON-P"
Create a guide for the JSON-B and JSON-P features in Liberty.

[2018-05-10 21:29] alexsm82 commented on #106
Hi @yeekangc, we are thinking of using this to show session caching using the new sessionCache-1.0 feature, using Hazelcast as the JCache provider. If that works for you I can put together an outline for the guide.

[2018-05-10 23:38] Kubik42 commented on #121
@cherylking Which guide was this? I also noticed this happening recently. I found that the problem is the package server goal.

[2018-05-11 14:16] cherylking commented on #121
@Kubik42 It's a draft guide, but this file is common to all guides. Are you saying something in the guide's artifacts is causing it?

[2018-05-11 17:59] evelinec commented on #48
@andrewdes Can you take a look at this issue and propose the needed changes for each of the guides?

[2018-05-11 18:04] evelinec commented on #100
@proubatsis As you're exercising a sample guide, perhaps it's be good for you to put your finding together in a guide's outline. Take the guide's template as a starting point too.

@justineechen and @andrewdes can contribute as well.

[2018-05-11 18:06] evelinec commented on #92
@JunyiSun and @justineechen to work together on this issue for all of the related guides.

[2018-05-11 18:08] Ahmad-Ayyoub commented on #91
Already pushed to master. Here is the PR: https://github.com/OpenLiberty/guides-common/pull/105

[2018-05-11 18:28] #91 closed

[2018-05-11 18:32] Ahmad-Ayyoub commented on #91
We will start using the new common files for the new guides and we will leave the old guides as they are.

[2018-05-11 19:02] evelinec commented on #52
Looks like this could be part of the automation, where possible.

[2018-05-11 22:13] Kubik42 commented on #121
@cherylking I'm not sure, but recently I ran into this issue when I had the `package-server` goal listed in `executions`. Is the draft-guide-springboot-mvc guide affected? I can try debugging it.

[2018-05-14 19:40] chyt commented on #121
Really what we should be suggesting is to call `mvn compile`. This will re-compile the source and update the class files in the `target` folder, which will be picked up by the loose application.

[2018-05-15 15:18] yeekangc commented on #106
@alexsm82, if you and team would propose an outline, that will be great.  As you know, the focus will be on developers and what they would care about in using JCache.

[2018-05-15 15:42] justineechen opened #124 "Getting Started Guideline Review"
- **Stage 1: Setting up your computer**

These instructions seem straightforward depending on the level of the developer. If there are more introductory developers out there it might help to have a couple of sentences before these three steps outlining that Maven builds the project and Asciidoc is simply a document format that we use.

- **Stage 3: Getting familiar with the writing style and princ

[2018-05-15 17:58] evelinec commented on #110
Looks like this point doesn't apply at the template:

- [ ] Create a team with an user having admin privilege

[2018-05-15 17:58] evelinec commented on #110
Assign to @Ahmad-Ayyoub to prepare the CI file and doc:

- [ ] Setup Travis CI configurations, include the yaml file, and the setting required to run the continuous automation infrastructure

[2018-05-15 18:01] evelinec commented on #102
@yeekangc and @sishida The revised guide's checklist is here: https://github.com/OpenLiberty/guides-common/wiki/Review-Checklist
Can you review when you have a chance? Thanks.

[2018-05-15 18:31] Ahmad-Ayyoub commented on #110
Here is the .travis.yml file : https://github.com/OpenLiberty/guides-template/pull/1
Here is the doc for the automation steps: https://github.com/OpenLiberty/guides-template/wiki/Running-Automation-Tests-For-OpenLiberty-Guides

[2018-05-15 18:35] aknguyen7 opened #125 "[Interactive] Create a guide for MicroProfile @Timeout & @Retry"
Link to repo: https://github.com/OpenLiberty/draft-iguide-retry-timeout

[2018-05-15 18:42] sishida commented on #102
I'm just offering my thoughts on the ID section, since that's what I review:

What about instead of "Is the guide easy to understand?" we mentioned specific qualities that could improve the guide (which are also things I look for in my reviews)?
- Is active voice used throughout with passive voice kept to a minimum?
- Do words in code phrases include descriptive words after them, such as "the `ser

[2018-05-15 20:07] yeekangc commented on #102
We should capture the whys beside and behind the whats too.  That's equally if not more important so contributors can easily grasp what matters and why they matter.

[2018-05-16 13:41] sishida commented on #102
@yeekangc I edited my comment from yesterday to explain why these checklist items are important. :)

[2018-05-16 17:33] evelinec commented on #87
We have already been doing what @lauracowen described for the recent guides. @proubatsis can you review all published guides and see any of them need to have the directory structure created. Thanks.

[2018-05-16 17:34] evelinec commented on #87
@yeekangc By pre-creating files, do you mean to create an empty file with the class names and let user paste the contents in the files? Are we decided to go about doing this? Thanks.

[2018-05-16 17:41] evelinec commented on #124
@justineechen This is the getting started guideline. There's another guide also named "Getting Started". Thanks.

[2018-05-16 19:54] proubatsis commented on #87
@evelinec
https://github.com/OpenLiberty/guide-rest-client-java/pull/19
https://github.com/OpenLiberty/guide-rest-client-angularjs/pull/21
https://github.com/OpenLiberty/guide-rest-intro/pull/34
https://github.com/OpenLiberty/guide-rest-hateoas/pull/26

[2018-05-17 14:52] yeekangc opened #126 "Guide for CDI 2.0/Advanced CDI"
Covering more advanced topics too.

[2018-05-17 14:53] yeekangc opened #127 "Guide for JavaMail 1.6"
Introductory guide on using the JavaMail API.

[2018-05-17 15:05] aknguyen7 commented on #125
yes it's dup of #86

[2018-05-17 15:05] #125 closed

[2018-05-17 15:56] yeekangc commented on #27
Need further input from @hughesj and we should consider how this relates to what is happening in this space in the MicroProfile community.

[2018-05-17 16:07] evelinec commented on #25
Completed.

[2018-05-17 16:07] #25 closed

[2018-05-17 21:09] kevinwlau commented on #86
ID review is now ready.

Guide: https://qa-guides.mybluemix.net/guides/retry-timeout.html

Sample app readme: https://github.com/OpenLiberty/draft-iguide-retry-timeout/tree/dev/finish

[2018-05-17 23:44] alexsm82 commented on #106
Hi @yeekangc, here's an outline for what this guide could look like, although I've heard there is some question about whether we want a guide for this.

Draft Outline:

-Title
-What you’ll learn
-Getting Started
-What is session persistence
-What is JCache
-Configuring Open Liberty
-Configuring Hazelcast
-Writing an application that uses session persistence (likely something space themed persistin

[2018-05-18 16:56] sishida commented on #86
I'm planning to work on this in the upcoming iteration! :)

[2018-05-21 14:18] sishida commented on #86
We have been using Box to review the interactive guides. Here is the link to the Box Note file where I will be adding my review comments: https://ibm.ent.box.com/notes/293758385346 Thank you!

[2018-05-21 21:53] jvanhill opened #128 "Create a guide for the X.509 Certificate Mapper API"
We need a guide for the X.509 Certificate Mapper API. This could include both a guide to provide the API to Liberty in a user feature and / or in a BELL.

[2018-05-22 15:16] proubatsis commented on #52
The first question that needs to be asked is what we want to achieve by upgrading the feature to a new version. Are we just upgrading it for the purpose of being up-to-date, or do we want to show off new features that may be incorporated? If it is the latter then it may be worthwhile to create a new guide depending on the context of the situation.

Typically, versioning takes the format of the maj

[2018-05-22 18:19] evelinec commented on #52
We'll put this issue on hold till further planning and design. Thanks.

[2018-05-22 20:04] evelinec commented on #95
Walked through with @andrewdes regarding the current model in the inventory app and advised he look into what's needed for OpenAPI and then see what improvement can be made overall.

[2018-05-23 14:56] Kubik42 commented on #52
@proubatsis @evelinec @yeekangc Upgrading minor versions doesn't seem that difficult. I would say that, just to test it out for now, we can run the version change manually via some script. This would pull the latest release and dev builds, then extract a list of all their features, and then filter this list to find what features have new versions.

Once this is done, we look which of these version

[2018-05-24 14:17] yeekangc commented on #33
This is a duplicate of what we have for Bean Validation in #8.  Closing.

[2018-05-24 14:17] #33 closed

[2018-05-24 15:47] #115 closed, assigned to yeekangc

[2018-05-25 16:12] yeekangc commented on #81
@cajaygle indicated that we should not use gerunds in our titles.  Need to look into this.

[2018-05-28 18:03] yeekangc commented on #122
@alexsm82 and team will work on/contribute this.  @alexsm82, please add the right assignee when ready.  Thank you.

[2018-05-28 18:05] yeekangc commented on #106
@alexsm82 and team will contribute.  @alexsm82, please add the right assignee and update the title/outline/description when ready.  Thank you.

[2018-05-28 18:06] yeekangc commented on #120
@Kubik42 will continue the reviews and move forward with this guide.

[2018-05-29 14:54] JunyiSun commented on #102
Hi @sishida, the template repo and guidelines are ready for review, please take a look when you are available.

To be specific, please review the three wiki pages in the guides-template repo:

1) https://github.com/OpenLiberty/guides-template/wiki/Getting-Started

2) https://github.com/OpenLiberty/guides-template/wiki/Guidelines-for-Structure-and-Styles

3) https://github.com/OpenLiberty/guides-te

[2018-05-29 14:56] JunyiSun commented on #110
Hi @sishida, the template repo and guidelines are ready for review, please take a look when you are available.

To be specific, please review the three wiki pages in the guides-template repo:

1) https://github.com/OpenLiberty/guides-template/wiki/Getting-Started

2) https://github.com/OpenLiberty/guides-template/wiki/Guidelines-for-Structure-and-Styles

3) https://github.com/OpenLiberty/guides-te

[2018-05-29 19:37] JunyiSun commented on #102
Hi Sarah, please start with the first link, then the second and third links can be found in the first wiki.

Thank you

[2018-05-29 20:35] yeekangc opened #129 "Look at what guides we should have for NoSQL"
Consider what guides we should have for accessing data in NoSQL databases.

MongoDB?
CouchDB?
Both?
Others?

[2018-05-29 20:41] yeekangc commented on #129
@gcharters, @NottyCode, @kwsutter, please chime in if you have thoughts regarding this.

[2018-05-30 01:49] yeekangc commented on #92
@justineechen, can you please update the issue with the list of guides you will update?  Thank you.

[2018-05-30 13:57] justineechen commented on #92
The following guides will be rewritten:
- [ ] guide-microprofile-metrics
- [ ] guide-microprofile-config
- [ ] guide-microprofile-fallback
- [ ] guide-microprofile-health
- [ ] guide-microprofile-rest-client
- [ ] guide-microprofile-jwt
- [ ] guide-microprofile-opentracing
- [ ] guide-microprofile-openapi

[2018-05-30 19:29] sishida commented on #102
Link to Box Note for ID review comments: https://ibm.ent.box.com/notes/295274260677

[2018-05-30 20:38] yeekangc opened #131 "Guide for using JWT for SSO"
This is for the jwtSso-1.0 feature to enable developers to easily create and propagate JWT (without OIDC).  Existing MP JWT guide should be updated to capture the simplified development experience.

Existing guide requires application developer to write code to capture user ID and password first, then write code to build JWT. With jwtSso-1.0, there two steps are not needed. Once user is authentica

[2018-05-30 21:04] Kubik42 commented on #21
I'll wait until the new layout is out, then rollout the changes.

[2018-05-31 12:08] justineechen commented on #31
Guide Idea A:
Building off the existing events app, make the application multi-paged and emphasize the use of the following security constraints:
- **url-pattern**
- **auth-constraint**
- **user-data-constraint**
- **LTPA**

Guide Idea B:
Building off the existing events app, _keep_ the application single-paged and emphasize the use of new Java EE 1.0 features:
- **EmbeddedIdentityStoreDefinition*

[2018-05-31 15:33] proubatsis commented on #99
@gcharters @yeekangc What specific features of Istio should be covered in this guide? Is it up to me to decide, or do either of you have any preference?

[2018-05-31 15:53] Kubik42 commented on #121
I've renamed the mvnpackage.adoc to mvncompile.adoc and changed it to use `mvn compile` instead of `mvn package`. I've changed all references of mvnpackage.adoc to mvncompile.adoc that I could find, and created PRs for others. If I missed something please let me know.

[2018-06-01 14:19] chyt commented on #47
This has been implemented.

[2018-06-01 14:19] #47 closed

[2018-06-01 14:22] chyt commented on #121
@Kubik42 You have a typo in the `mvncompile.adoc`. The goal is misspelled as `compiule` in the text.

[2018-06-01 14:30] Kubik42 commented on #121
@chyt Whoops, honest typo!

[2018-06-05 18:39] evelinec commented on #124
@justineechen can you review the changes made according to your feedback. We'd proceed to close this one.

[2018-06-05 18:42] evelinec commented on #48
@andrewdes can you give an update on this issue pls? Thanks.

[2018-06-07 09:33] gcharters opened #134 "Help people find the published guide if they visit github directly"
I noticed from the github traffic info that people are directly finding our guide repos from Google searches.  There's no indication in the guide repos that they shouldn't read the github rendered README.adoc files in the repos because they suck in their semi-raw form.

We should include some text at the top of the README.adoc that points people to the built guide on openliberty.io.  This text sho

[2018-06-08 14:15] yeekangc commented on #134
@evelinec will take the lead on this.

As noted, it may involve changes to building the guides for openliberty.io.  Tagging @kinueng @mbroz2  @megmulsy @cajaygle.

[2018-06-08 14:22] mbroz2 commented on #134
2 Action Items:
1) Ensure all guides have a github description & link to the guide on openliberty.io
2) Add text to the top of the README.adoc that directs users to openliberty.io; ensure this text does not appear in the guide on openliberty.io  (the work will be done here: https://github.com/OpenLiberty/openliberty.io/issues/346)

[2018-06-08 16:01] steven1046 commented on #134
If you specify this in the guide's asciidoc:
:repo-description: Visit the https://openliberty.io/guides/{projectid}.html[website] for the rendered version of the guide.
= Injecting dependencies into microservices

Learn how to use Contexts and Dependency Injection to manage and inject dependencies into microservices.

[.hidden]
{repo-description}

Asciidoc will automatically hide it on the guide o

[2018-06-11 17:55] evelinec commented on #134
Action item 1 was completed. Working on item 2.

[2018-06-11 18:20] cajaygle commented on #107
@lauracowen can you add a link to the latest draft here, thanks.

[2018-06-11 20:00] evelinec commented on #134
Item 2 is prototyped with the cdi-intro guide via https://github.com/OpenLiberty/guide-cdi-intro/pull/45. @gcharters @yeekangc and @sishida, pls review. Thanks.

[2018-06-11 21:54] evelinec commented on #8
@sishida can you start formal review on this guide pls? Thank you.

Repo link: https://github.com/OpenLiberty/draft-guide-beanvalidation

[2018-06-12 14:58] Azquelt opened #135 "Potential issue when importing into eclipse"
At Eclipsecon France, someone had issues importing projects into eclipse. They did the git clone in eclipse, and did the import from the git view. Something went wrong and the project was picked up as a maven project but not as a java project (i.e. no source folders, no classpath etc.) Deleting the project and re-importing through the `File -> Import -> Maven -> Existing Maven projects` wizard wor

[2018-06-12 20:13] kinueng commented on #107
Hi, I just happened to stumble by this issue.  @cajaygle here is the latest version of the blog post.
https://openlibertydev.mybluemix.net/blog/2018/06/08/java-microservices-microprofile.html

[2018-06-13 12:08] lauracowen commented on #107
Oh! I'm sorry, Jay, I forgot I had all your feedback above to integrate before I published the blog post (Kevin finally reviewed it so I had his comments and I forgot you'd already sent these way back). It's published here: https://openliberty.io/blog/2018/06/08/java-microservices-microprofile.html

I agree with all the comments above (I did fix the Zipkin link) so they need to be integrated when

[2018-06-13 13:54] #121 closed

[2018-06-13 21:22] evelinec commented on #134
@gcharters can you take a look at this guide's repo: https://github.com/OpenLiberty/guide-cdi-intro for the fixes in the repo description as well as the text added in the repo. The text in the repo should not be built in the website. If both are good, can we close this issue? Thanks.

[2018-06-13 22:17] yeekangc commented on #134
@evelinec, I believe we will fix for all repos, correct?  I think we close this issue only after we fix everything.

[2018-06-14 14:30] evelinec commented on #134
Yes @yeekangc. That's work in progress. Just posted one repo for Graham to take a look.

[2018-06-14 21:07] sishida commented on #8
Link to ID review: https://github.com/OpenLiberty/draft-guide-beanvalidation/pull/13

[2018-06-15 15:00] covener opened #136 "travis or jenkins guide"
I was surprised that there were no "travis" or "jenkins" hits on openliberty.io guides.

As a user who doesn't bring much travis (or docker, or maven or...) experience with me, I would love an end-to-end on going from hello-world maven archtype to having tested docker containers being spit out of travis.

[2018-06-15 18:53] #124 closed

[2018-06-15 20:58] evelinec opened #137 "Fix concurrency issue on the data model in the inventory app"
InventoryList is not thread safe. You will get ConcurrentModificationExceptions if one thread is adding hosts while another is reading them. You could also end up adding the same host twice if two threads call addtoInventoryList at the same time.

This class needs to be synchronized appropriately to make it thread safe, or it needs to be documented to be not thread safe and the rest of the code re

[2018-06-15 21:52] evelinec opened #138 "Revisit one client per request issue on MP rest client in the inventory app"
Keep track of the issue so it won't be forgotten. More info from YK TBD.

[2018-06-19 18:27] yeekangc commented on #79
@tjwatson, FYI that @uberskigeek @awisniew90 will be taking a look at this guide.

[2018-06-19 18:47] evelinec commented on #13
We're currently reviewing the "Contributing a guide" guide.

[2018-06-19 19:06] evelinec commented on #120
@sishida This guide is ready for review. Thank you.

Repo: https://github.com/OpenLiberty/draft-guide-gettingstarted

[2018-06-19 19:09] evelinec commented on #122
@sishida The JSON-B and JSON-P changes on the "Consuming REST" guide is ready for review.

PR with readme.adoc changes: https://github.com/OpenLiberty/guide-rest-client-java/pull/20/files

[2018-06-19 20:19] Kubik42 opened #139 "Integrate Travis with Docker to test guides that use Docker containers"

[2018-06-19 20:19] Kubik42 commented on #139
some useful material:
- https://stackoverflow.com/questions/34377017/what-are-the-differences-between-the-before-install-script-travis-yml-opti
- https://docs.travis-ci.com/user/docker

[2018-06-19 21:18] evelinec commented on #13
We're currently reviewing the "Contributing a guide" guide.

[2018-06-20 17:58] proubatsis commented on #137
Since @andrewdes is using a `HashMap` in his new model, we can simply update that to use a `ConcurrentHashMap` instead. I also brought this up in the PR: https://github.com/OpenLiberty/guide-cdi-intro/pull/48#issuecomment-398797509

[2018-06-20 19:10] sishida commented on #120
Link to pull request for ID line edits: https://github.com/OpenLiberty/draft-guide-gettingstarted/pull/13

[2018-06-20 19:10] Kubik42 commented on #120
Thanks @sishida !

[2018-06-21 16:01] chyt opened #140 "Maven builds fail with dependency issue on Java 7"
Maven builds fail when trying to download artifacts from Maven Central. I believe that this is due to TLS 1.0 and 1.1 being disabled by Maven Central.

This was produced on the following Java version:

[code]

[2018-06-21 16:06] cherylking commented on #140
I received the following stack trace when using the above Java version running 'mvn install' on a draft guide. I believe it will affect all guides that depend on downloading artifacts from Maven Central.

![screen shot 2018-06-21 at 11 04 23 am](https://user-images.githubusercontent.com/29436451/41731093-17a5f8ca-7543-11e8-95ec-c685582adbbd.png)

![screen shot 2018-06-21 at 11 05 44 am](https://us

[2018-06-21 16:13] cherylking commented on #140
Full stack trace for those interested:

[code]

[2018-06-21 17:05] sishida commented on #122
Working on review now.

[2018-06-22 14:37] kinueng commented on #51
Hello,
Out of my own curiosity, is this still work to enable automated tests still ongoing?  I noticed that there has been a lot of excellent work being done by @Ahmad-Ayyoub to add functional tests in each of the guides' `.travis.yml`.

An example commit here for the rest intro
https://github.com/OpenLiberty/guide-rest-intro/commit/5b292088e85fad83f98085c298f42ea0cc4efbf2#diff-354f30a63fb0907d4ad

[2018-06-22 16:47] yeekangc commented on #51
@kinueng, yes, this is what drives the work that you saw.

[2018-06-25 14:19] evelinec commented on #95
@proubatsis can you combine the fix in this issue along with the concurrency issue on the data model. Make the change as you are finding in this PR: https://github.com/OpenLiberty/guide-cdi-intro/pull/48

[2018-06-25 16:15] Ahmad-Ayyoub commented on #140
As far as I was talking to @chyt and looking at some resources. To fix this issue, we will need to do one of these things:

1- Make Java 7 users run `mvn clean install -Dhttps.protocols=TLSv1.2` rather than just `mvn clean install`. We can just add that command besides `mvn clean install` on each guide and type "(For Java 7 users)".

2- We can configure pom.xml to set the system property `https.pr

[2018-06-25 16:43] yeekangc commented on #140
Neither options look pleasant.  We shall look into it further.

[2018-06-25 16:52] Ahmad-Ayyoub commented on #140
I am looking into a way to set it through pom.xml

[2018-06-25 17:21] evelinec commented on #140
@Ahmad-Ayyoub pls update here with your finding to set the option in the pom.

[2018-06-25 17:43] NottyCode commented on #140
According to http://www.oracle.com/technetwork/java/javase/7u131-relnotes-3338543.html TLS 1.2 is on in the most recent Java 7 versions. However I think they are only available if you have a support agreement. I think Java SE 8 also uses TLS 1.2.

[2018-06-25 18:47] Ahmad-Ayyoub commented on #140
Yes TLS 1.2 is supported in newer versions for java 7. Versions before 1.7.0_131-b31 have it disabled.

[2018-06-25 18:57] yeekangc commented on #140
@Ahmad-Ayyoub, are you saying that this works with the latest update for Java 7 and we have confirmation of that?

[2018-06-25 19:05] Kubik42 opened #141 "Change roles when the multipane layout is finalized"
Add `role="command"` and others to code snippets in common files when the multipane layout is finalized.

[2018-06-25 20:00] Ahmad-Ayyoub commented on #140
@yeekangc yes, I tested and it worked. For my tests, I used Oracle and Open jdks v7 with build numbers 151. I tested oracle build locally and openjdk on travis: https://travis-ci.org/Ahmad-Ayyoub/guide-cdi-intro/jobs/395184264. I will also test it using ibm java 7

[2018-06-26 14:12] sishida commented on #122
Review complete!

[2018-06-26 15:34] evelinec opened #142 "Create a FAQ page for the guides"
Giving there has been issue raised for the guides but ended up with a documentation as the best solution, we'd create a FAQ page to host this kind of information for the guides.

[2018-06-26 18:06] yeekangc commented on #79
@uberskigeek @awisniew90, feel free to post an outline when ready so we can look and iterate on it if necessary.  Thank you.

[2018-06-27 19:33] evelinec commented on #142
@cajaygle, @lauracowen Would you give any suggestions for this page?
@kinueng FYI as well.

[2018-06-28 09:20] lauracowen commented on #142
I don't think an FAQ is the right way to present it.

This sounds like troubleshooting info (@NottyCode ) (ie symptom--reason--solution info). I don't completely understand (from my quick reading) when/who will hit the linked problem - it sounds like a general problem, not specific to using our guides, is that right? Is it something people will likely hit, in some situations, when writing any app

[2018-06-28 11:59] yeekangc commented on #142
A FAQ is an idea.  We should work out what is best.

We have 2 issues that need to be noted, #135 and #140.

[2018-06-28 20:16] evelinec opened #143 "Building the prerequisite section for the guides"
For more complicated guides where there are more prereq steps required, there is a new section being introduced for the guides. It's named "Prerequisites". So far, the https://github.com/OpenLiberty/draft-guide-kubernetes[Kubernetes] and https://github.com/OpenLiberty/draft-guide-istio[Istio] guides have this new section. This issue is to work out a design to display the "Prerequisites" section in

[2018-06-28 20:29] yeekangc commented on #143
The prereqs are captured within the flow of the guide today under a Prerequisites section for the guides with more complex dependencies so users will know they need to setup the prereqs first.

In a multi-pane design, there can be better design to make it easier for users to find out about the needed dependencies or prereqs, set them up before they venture too far down the guide or before they act

[2018-07-02 20:12] yeekangc commented on #120
Guide is published here: https://openliberty.io/guides/getting-started.html

[2018-07-02 20:12] #120 closed

[2018-07-02 20:13] yeekangc commented on #122
Guide has been updated to cover JSON-B: https://openliberty.io/guides/rest-client-java.html

[2018-07-02 20:13] #122 closed

[2018-07-02 20:50] awisniew90 commented on #79
@yeekangc - here is our repo with draft content if you'd like to take a look: https://github.com/OpenLiberty/draft-guide-spring-boot

[2018-07-03 15:12] barecode opened #144 "Create a guide for building Dual Layer Docker images for Spring Boot apps"
Create a guide for creating Docker images for Spring Boot applications. This is based on the blog posts:
[Optimizing Spring Boot apps for Docker](https://openliberty.io/blog/2018/06/29/optimizing-spring-boot-apps-for-docker.html)
[Creating Dual Layer Docker images for Spring Boot apps](https://openliberty.io/blog/2018/07/02/creating-dual-layer-docker-images-for-spring-boot-apps.html)

*Before* the

[2018-07-04 21:13] yeekangc commented on #144
This is a duplicate of #79.  Closing this and we will track using #79.

[2018-07-04 21:13] #144 closed

[2018-07-04 21:18] yeekangc commented on #79
@uberskigeek @awisniew90, @barecode created #144, which is a duplicate of this issue that is in progress, and provided the below:

_Create a guide for creating Docker images for Spring Boot applications. This is based on the blog posts:
[Optimizing Spring Boot apps for Docker](https://openliberty.io/blog/2018/06/29/optimizing-spring-boot-apps-for-docker.html)
[Creating Dual Layer Docker images for

[2018-07-05 12:07] gcharters commented on #107
@cajaygle - what are the plans to create an official MP Intro?  I took a look at the blog post and in some respects, it's similar to the tutorial repo README - https://github.com/OpenLiberty/tutorial-microprofile .  It would be nice to have just one intro that introduced all the guides and could also be used in workshops.  At the moment, we're maintaining multiple things that serve very similar pu

[2018-07-05 12:14] yeekangc commented on #107
@gcharters, what's your take on this?  Is a guide of sort on OL.io what is best for this?  Or, you are thinking we can stick to what is in the tutorial repo?

[2018-07-09 20:38] evelinec commented on #65
Repo: https://github.com/OpenLiberty/draft-guide-jpa-intro

[2018-07-10 15:57] yeekangc commented on #106
https://github.com/OpenLiberty/draft-guide-sessions

[2018-07-17 15:01] yeekangc opened #145 "Support for MicroProfile 1.4"
- Work out what we need to do for the guides for MicroProfile 1.4
  - Determine if there are new functions that we should cover and see if we will do new guides or update existing guides
  - New content not within the scope of existing guides that should have guides should be filed as new issues to be prioritized against the overall backlog
- Update existing guides to work with spec levels in MP 1

[2018-07-17 15:02] yeekangc opened #146 "Support for MicroProfile 2.0"
- Work out what we need to do for the guides for MicroProfile 2.0
  - Determine if there are new functions that we should cover and see if we will do new guides or update existing guides
  - New content not within the scope of existing guides that should have guides should be filed as new issues to be prioritized against the overall backlog
- Update existing guides to work with spec levels in MP 2

[2018-07-17 20:46] chyt opened #147 "Dynamic code snippets for "narrow" version of multipane layout"
My understanding is that the current implementation of the "narrow" multi-pane layout (for smaller screen sizes) will display the entire file inline and then reference specific portions of it in the text. However, this is bad for usability as it requires the user to scroll up and down between the code and the text, and they can easily lose track of where they were in the guide.

I propose a soluti

[2018-07-18 21:50] evelinec commented on #98
@chirp1 This guide is ready.

Repo: https://github.com/OpenLiberty/draft-guide-kubernetes

[2018-07-20 15:05] yeekangc commented on #145
MP 1.3: You can now easily and dynamically change your application’s configuration by adding or modifying variables in the Liberty server.xml file.

[2018-07-24 19:46] mswatosh opened #148 "Guide for mongoDB"
With the changes to how we are handling future versions of mongoDB, we'll need a guide to help users with newer versions.

Draft outline:
- Title
- What you will learn
- Getting Started
  - Mongo Setup
     - Use Existing
     - Docker install
     - Install from mongo
  - No need for a mongo feature!
- Creating a Mongo Producer
- Basic CRUD operations
- Using an encoded password with passwordUtil

[2018-07-25 09:32] gcharters commented on #30
@yeekangc @aguibert - if these two JSF-related guides cover what I think they're meant to cover then they're different.  #30 is focused on developing a Web app using JSF and #35 is focused on plugging in different implementations of the JSF container.  I therefore thing we can prioritize this guide.  Do you agree or are we waiting for #35 to be completed before we prioritise this guide?

[2018-07-25 13:13] cajaygle commented on #107
This would appear on the guides page as the first tile in the Microprofile category.

[2018-07-25 13:13] yeekangc commented on #107
Yes, it will appear as a tile but a different looking tile as part of a category, @gcharters.

[2018-07-25 13:14] yeekangc commented on #30
I agree, @gcharters, if we can agree they serve different purposes and there is value in having both.  If so, we can move forward to prioritize.

[2018-07-25 16:09] mbroz2 opened #149 "[Interactive] [EE8] Guide for JAX-RS 2.1 Reactive Client"
Interactive guide for JAX-RS 2.1 Reactive Client.
Part of an Interactive REST track that uses a single backend app to speed up development for this set of interactive guides.

[2018-07-25 16:13] mbroz2 opened #150 "[Interactive] [EE8] Guide for JAX-RS 2.1 Server Sent Events (SSE)"
Interactive guide for JAX-RS 2.1 Server Sent Events (SSE).
Part of an Interactive REST track that uses a single backend app to speed up development for this set of interactive guides.

[2018-07-25 16:17] mbroz2 opened #151 "[Interactive] Guide for WebSockets"
Interactive guide for websockets.
Part of an Interactive REST track that uses a single backend app to speed up development for this set of interactive guides.

[2018-07-25 16:21] mbroz2 opened #152 "[Interactive] Guide for processing Form Data with JAX-RS"
Interactive guide for processing Form Data with JAX-RS.
Part of an Interactive REST track that uses a single backend app to speed up development for this set of interactive guides.

[2018-07-25 16:23] mbroz2 opened #153 "[Interactive] Guide for Consuming REST with jQuery"
Interactive guide for Consuming REST with jQuery.
Part of an Interactive REST track that uses a single backend app to speed up development for this set of interactive guides.

[2018-07-25 16:26] mbroz2 opened #154 "[Interactive] Guide for Kubernetes"
Create an Interactive guide about using Kubernetes to manage Docker containers running OL servers.
This may be (TBD) like our 'traditional' interactive guides, or a new type that uses a real backend machine that we would host or we'd leverage a service/third party like Katacode.

[2018-07-26 14:47] yeekangc opened #155 "[Interactive] Guide for Istio"
Create an Interactive guide about using Istio on top of Kubernetes.
This may be (TBD) like our 'traditional' interactive guides, or a new type that uses a real backend machine that we would host or we'd leverage a service/third party like Katacode.

It may map 1:1 to this guide: #99

[2018-07-26 14:48] yeekangc commented on #154
This may map 1:1 to #98 but done interactively.

[2018-07-26 15:13] gcharters commented on #154
Need to resolve the direction - Kube site (Kubernetes.io), katacode or traditional interactive guide.
@mbroz2 to coordinate.

[2018-07-26 15:13] yeekangc commented on #30
Removing "question" tag based on the above discussion.

[2018-07-26 15:14] gcharters commented on #155
Need to resolve the direction - katacode or traditional interactive guide.
@mbroz2 to coordinate.

[2018-07-26 15:16] yeekangc commented on #107
Updating the title to better reflect what we want to do here.  This is not a "guide" by definition.

[2018-07-26 15:18] gcharters commented on #136
Changing to be a Jenkins guide and we'll raise a separate guide for Travis.

[2018-07-26 15:18] yeekangc opened #156 "Travis Guide"
Per #136, we should have guides to cover Jenkins and Travis.  This is for Travis.

[2018-07-26 15:24] gcharters commented on #148
The outline is likely to be different as we tend to be concise and wouldn't got into historical info.

[2018-07-26 15:50] yeekangc commented on #128
Should prioritize this in context what we should do for security in general.

[2018-07-26 15:53] gcharters commented on #27
@gcharters to investigate scope and re-raise once we know what we want to create.

[2018-07-26 15:57] gcharters commented on #54
We will get the Arquillian local out and see how much interest there is before committing to remote.

[2018-07-26 16:17] mswatosh commented on #148
@gcharters If you're referring to the 'Changes from mongo-2.0 feature', I think we'll need a section in the guide to make it clear that enabling a mongo feature is no longer the way to use mongoDB. I'd like to get ahead of the inevitable confusion that the existence of a mongo-2.0 feature but not mongo-3.0 or mongo-4.0 feature will cause.

[2018-07-27 04:03] evelinec commented on #95
Resolved.

[2018-07-27 04:03] #95 closed

[2018-07-27 04:04] evelinec commented on #137
Resolved.

[2018-07-27 04:04] #137 closed

[2018-07-27 04:05] evelinec commented on #100
Resolved.

[2018-07-27 04:05] #100 closed

[2018-07-27 04:06] evelinec commented on #87
@proubatsis I believe this is resolved already?

[2018-07-27 04:18] evelinec commented on #51
We're done with the initial plan of this automation.

[2018-07-27 04:18] #51 closed

[2018-07-27 04:18] evelinec commented on #101
Task is completed for now.

[2018-07-27 04:18] #101 closed

[2018-07-27 04:20] evelinec commented on #93
Dup of #92. Closed.

[2018-07-27 04:20] #93 closed

[2018-07-27 04:33] evelinec commented on #17
@andrewdes can you take a look and put together the list of guides that are impacted. Propose changes via PRs on the guide, and we'll review them. Thanks.

[2018-07-27 04:39] evelinec commented on #104
The "Structure and Style" wiki page has been combined with the guide's template rep, and it's been constantly updated: https://github.com/OpenLiberty/draft-guides-template/wiki/Guidelines-for-Structure-and-Styles

[2018-07-27 04:39] #104 closed

[2018-07-27 11:13] yeekangc commented on #110
@gkwan-ibm, please review and see if you think this is ready.

[2018-07-27 12:44] #87 closed

[2018-07-30 13:20] jamiecoleman92 opened #157 "Problem with servers being left around."
I went to London on Saturday to host a workshop with the London Java Community. The workshop was on MicroProfile and Open Liberty and the attendees went through some of the Open Liberty guides.

I noticed that most of the attendees were not capable of finishing multiple guides without our help which I found was due to a common problem that kept occurring.

When using the guides people kept having

[2018-07-31 17:52] gkwan-ibm commented on #110
I created https://github.com/OpenLiberty/draft-guides-template/issues/9 for my feedback

[2018-08-02 13:11] proubatsis commented on #107
@gcharters I worked with @lauracowen and another iteration of the content is ready. Please review when you have the chance.

[2018-08-03 17:12] kwsutter commented on #107
@proubatsis Comments...
o  In the opening paragraph, provide a hotlink to the OL Guides page.  Even if they make it no further than the first paragraph, they might venture over the Guides and we can catch their interest there.

o  Under "Microservices Architecture", there is this sentence:

But, shouldn't all services be independent and, thus, none of the other services should be affected?

o  I g

[2018-08-06 08:56] yeekangc commented on #157
@gkwan-ibm @evelinec, can you please follow up?

[2018-08-08 18:55] cajaygle opened #158 "MicroProfile Config guides -- better integration between static and interactive"
Static MicroProfile config guide:  “*Configuring microservices* — Learn how to provide external configuration to microservices using MicroProfile Config"

Interactive MicroProfile config guide:  “*Separating configuration from code in microservices* - Learn how to perform static configuration injection using MicroProfile Config.”

If I'm a developer it's not clear to me how these two guides are th

[2018-08-08 19:01] JunyiSun commented on #158
Hi @cajaygle , The static guides covers the following topics: static injection, dynamic injection, custom config sources, and custom config converters.

As far as I remember, the interactive guides mostly covers static injection, not much about other topics.

Thank you.

[2018-08-08 19:06] mbroz2 commented on #158
in short, the interactive guide is an 'intro' whereas the static guide is more of a 'deep-dive' or 'advanced' guide.  I agree with @cajaygle that we don't do a good job explaining that to the user via title/description.  However, I wonder if the solution should be specific to just these 2 guides, or more universal to our guides (aka, should we consider 'marking' some guides as 'beginner', 'interme

[2018-08-08 19:10] cajaygle commented on #158
In this case what might make sense is to label the interactive guide as an "Introduction to MicroProfile config" and label the static guide as a deeper dive.  Word the titles and descriptions similarly so that the relationship is clear.  And perhaps at the start of the static guide we mention the interactive guide as a starting point.

[2018-08-08 19:11] cajaygle commented on #158
And, agree, that we could look at this for all the guides.  how to label intro, beginner, deep dive guides

[2018-08-08 19:12] evelinec commented on #157
Most of our guides do have instructions at the end of each liberty server start command to stop the server, which would not cause the problem as described. There's one guide I found that may have this missing, which we can fix (issue created). I think we'd raise this issue to OL for a better message instead of a troubleshooting section on the guides.

[2018-08-08 20:58] Kubik42 opened #159 "All dockerfiles using the unzip plugin are broken"
The newest open-liberty image no longer has the unzip plugin, so all Dockerfiles using it will break. To fix, simply add the following lines to download the pugin:

[code]

And the following when the unzip plugin is no longer needed:

[code]

(from memory) guides that have dockerfiles:

- kube
- docker
- getting started
- istio

[2018-08-08 21:11] gkwan-ibm commented on #157
"unable to bind to port 9080" can be caused by running Liberty, but it can be caused by running tWAS or other application. Should ask user to stop any running application which are using that port or change the ports at server.xml

[2018-08-09 14:40] #92 closed

[2018-08-09 17:42] proubatsis commented on #159
@Kubik42

I opened PRs for kubernetes and getting started.

Getting started and Istio do not use the `unzip` command:

https://github.com/OpenLiberty/guide-docker/blob/master/finish/Dockerfile
https://github.com/OpenLiberty/draft-guide-istio/blob/master/finish/system/Dockerfile
https://github.com/OpenLiberty/draft-guide-istio/blob/master/finish/inventory/Dockerfile

[2018-08-09 18:48] evelinec commented on #159
@proubatsis what about the docker guide? Thanks.

[2018-08-09 19:16] proubatsis commented on #159
That was a typo in my comment, I meant to say Docker and Istio do not use the `unzip` command. I edited the comment to reflect that. @evelinec

[2018-08-10 02:15] Kubik42 commented on #159
I think everything has been fixed. Feel free to close @proubatsis once you merge.

[2018-08-10 13:06] proubatsis commented on #159
All the PRs have been merged.

[2018-08-10 13:06] #159 closed

[2018-08-10 18:47] evelinec commented on #157
@gkwan-ibm we know about the cause and resolution, but this is now a serviceability/usability issue that I think we'd fix the message. What do you think? Thanks.

[2018-08-10 20:44] gkwan-ibm commented on #157
My 2 cents: A message may not be enough. When users encounter any problem in setting / running a guide, they may want to know what next or how to fix. In long term, we should have a common troubling guide or wiki page at somewhere, so that all guides can point to it.

[2018-08-13 19:36] evelinec commented on #157
@gkwan-ibm I meant to say we'd have the message fixed in OL.

[2018-08-14 16:04] Kubik42 commented on #21
Reassigning to @andrewdes as he will be taking over the multipane work.

[2018-08-15 18:59] kinueng commented on #107
We have published the MicroProfile documentation here
https://openliberty.io/docs/intro/microprofile.html

[2018-08-16 15:58] andymc12 opened #162 "Guide for MicroProfile Rest Client Async Methods"
MP Rest Client 1.1 will be part of the 18.0.0.3 release.  It includes four new enhancements from the previous 1.0 release  They are (copied from the [MP Rest Client 1.1 release page] (https://github.com/eclipse/microprofile-rest-client/releases/tag/1.1)):
- Asynchronous Methods - to use, just update the return type of your Rest Client methods to be `CompletionStage`.
- `RestClientBuilderListener`

[2018-08-16 19:35] evelinec commented on #162
Re "Using URIs instead of URLs and using client interfaces without the CDI scope annotations (like @Dependent) could be included but won't require as much explanation." We're proposing to update our current Rest Client guide with these change.

[2018-08-24 18:11] evelinec opened #163 "The `template.adoc` file in guides-common"
Is the `template.adoc` file in guides-common supposed to be moved to guides-template repo now? Is this the same copy as the readme.adoc there? We need to keep only one version of it. Other people are still updating the `template.adoc` in guides-common.

[2018-08-30 15:00] yeekangc opened #165 "Need better titles for JSON-B/JSON-P and MP REST Client guides"
Currently:
- JSON-B/JSON-P: Consuming a RESTful service
- MP REST Client: Consuming RESTful services with template interfaces

It isn't clear that the JSON-B/JSON-P guide is actually talking about JSON-B/JSON-P and one can be easily confused to think that the 2 guides overlap or are duplicates.  We need better titles that clearly explain what the guides are about.

There is also the below to keep

[2018-08-31 19:51] yeekangc opened #166 "Ensure that projects in guides work nicely with popular development environments"
We expect the projects can be easily imported and will work fine with editors and IDEs out there since they are merely Maven or Gradle projects.

Then, there may be exceptions.  We should check and ensure that they work fine with common or popular editors and IDEs for developers in the industry.

If improvements should or can be made in the guides to make things better, separate issues should be f

[2018-09-07 14:10] lauracowen opened #167 "Guide for Social Login"
Simplify the security with SSO and/or social logins now the features are available in Open Liberty.

eg https://github.com/OpenLiberty/open-liberty/issues/3690

[2018-09-07 14:35] yeekangc commented on #145
@evelinec @gkwan-ibm, we need to keep this up to date.

[2018-09-07 14:36] yeekangc commented on #146
@evelinec @gkwan-ibm, we need to keep this up to date.

[2018-09-07 14:40] #86 closed

[2018-09-07 20:14] yeekangc commented on #167
We have #131 for SSO using JWT already and it has been prioritized.  Then, we should cover Social Login (as a separate guide).

I think we can re-purpose this issue to track Social Login.  Is that alright, @lauracowen?

[2018-09-07 20:15] yeekangc commented on #107
As indicated above, this was done.  The decision was to do this as an intro article as part of our documentation.

[2018-09-07 20:15] #107 closed

[2018-09-07 20:30] yeekangc commented on #154
We may have a way forward with static guides with Docker for Windows and Docker for Mac that include Kubernetes now -- See https://github.com/OpenLiberty/draft-guide-kubernetes/issues/25.

Sorting through the details and it may mean that we won't need interactive guide and can close the issue.

[2018-09-07 20:31] yeekangc commented on #155
We may have a way forward with static guides with Docker for Windows and Docker for Mac that include Kubernetes now -- See OpenLiberty/draft-guide-kubernetes#25.

Sorting through the details and it may mean that we won't need interactive guide and can close the issue.

[2018-09-12 15:32] tyao117 commented on #68
I have wrote a draft on this guide: https://github.com/tyao117/guide-JDBC

[2018-09-12 16:17] yeekangc commented on #68
Thank you, @tyao117.  We will take a look at it as soon as possible.

[2018-09-13 13:44] yeekangc commented on #167
Re-purposing this to cover Social Login.

[2018-09-13 16:11] yeekangc commented on #162
@andymc12, as you know, we do not guides by spec level but focus on topics or technologies that are relevant and important to developers.

Sounds like what we have here is the suggestion for a guide on Async Methods.  The rest can either be "built into" the sample impl or where and if appropriate, be updates to say the existing MP Rest Client intro guide.

Your thoughts?

[2018-09-13 16:14] yeekangc commented on #154
Moving forward as per https://github.com/OpenLiberty/guides-common/issues/154#issuecomment-419557314.  Closing this issue.

[2018-09-13 16:14] #154 closed

[2018-09-13 16:14] yeekangc commented on #155
Moving forward as per https://github.com/OpenLiberty/guides-common/issues/155#issuecomment-419557572.  Closing this issue.

[2018-09-13 16:14] #155 closed

[2018-09-13 16:28] andymc12 commented on #162
@yeekangc That sounds like a great idea.  Yes, the biggest feature in 1.1 is async methods, so if you can work in some of the other features (like using URIs instead of URLs), that would be great.

Thanks!

[2018-09-14 15:05] yeekangc commented on #162
Thank you, @andymc12.  Re-purposing this for MP Rest Client Async Methods.

[2018-09-20 13:38] evelinec opened #169 "Migrate Travis CI from `.org` to `.com`"
Kin Ueng [4:39 PM]
Hi @yeekangc and @evelinec…heads up on TravisCI.  The way we currently use Travis is through a deprecated way (GitHub Services).  Services uses TravisCI `.org`.  Services is doing a partial shutdown down Oct. 1 2018 and  complete turn off on Jan 2019.  We need to migrate to using GitHub Apps.  Using GitHub Apps will move us to TravisCi `.com`

https://developer.github.com/change

[2018-09-20 14:36] kinueng commented on #169
I am in the process of getting approval for switching the website repos from `GitHub Services` to `GitHub Apps` for the Travis CI integration.  Once I get a first hands on experience migrating to GitHub Apps and `travis-ci.com`, I will share what it took for me to migrate.

[2018-09-25 20:02] chyt opened #170 "Remove assemblyArtifact configuration from liberty-maven-plugin"
As of liberty-maven-plugin version 2.6, we have changed the default runtime from WebSphere Liberty to the latest version of the openliberty-runtime. Once the plugin has been updated to the latest version (2.6.1) in all the sample projects, we can remove the `assemblyArtifact` configuration as well.

[2018-09-25 20:59] gkwan-ibm opened #171 "Should mention finish directory in mvnverify.adoc?"
Suggest to add `finish` in the following text from mvnverify.adoc

If the server is still running from the previous steps, stop it using the Maven liberty:stop-server goal from command line in the `start` **and/or `finish`** directory:

[2018-09-26 15:45] evelinec commented on #170
Moderate severity, ie, to clean up the pom.xml. After the liberty-maven-plugin is upgraded to v2.6.1, this is good to do.

[2018-09-27 14:53] yeekangc commented on #98
We still have mixed results from user testing though using Docker for Mac and Windows -- thanks to @irobins for the pointer -- does simplify prereq setup.

Upon further discussions and re-working, we will do split this into the below:
- Kube Intro:  Focussing on Kube; an introduction to it that is relevant to developers
- Kube + MP Config:  How to externalize your config with MP and use them in a

[2018-09-27 14:59] yeekangc opened #173 "Guide for Kube + MP Config"
Create a guide on how to externalize config with MP Config for a service and work with it in a Kube environment i.e. integrating with Kube's ConfigMap and Secrets.

[2018-09-27 15:01] yeekangc opened #174 "Guide for Kube + MP Health"
Create a guide for how health statuses can be reported with MP Health and integrating it in a Kube environment with Kube probes.

[2018-09-27 15:03] yeekangc commented on #98
Repurposing this issue for a "Kube Intro" guide.  "Kube + MP Config" and "Kube + MP Health" will be tracked by #173 and #174 respectively.

[2018-09-27 15:10] yeekangc opened #175 "Guide for Spring Boot on Open Liberty"
Create a guide for developing Spring Boot apps with Open Liberty.

This should supersede some of the guides we have in the pipeline for Spring Boot too.  Should go over what's in #63, #79 and #64 to see what's relevant that should still be covered.

[2018-09-27 15:12] proubatsis commented on #173
Draft repo: https://github.com/OpenLiberty/draft-guide-kubernetes-microprofile-config

[2018-09-27 15:15] yeekangc commented on #63
Boost is the path forward.  #175 will supersede this issue.

[2018-09-27 15:15] #63 closed

[2018-09-27 15:19] yeekangc commented on #79
We believe Boost is the path forward.  We will take what we have here and incorporate what is relevant and necessary into #175 that will focus on developing Spring Boot apps with Boost.

Thank you for everybody's contributions!

[2018-09-27 15:19] #79 closed

[2018-09-27 15:21] yeekangc commented on #64
Need to work out if there are still relevant pieces in this guide that we should cover with #175 or in separate (new) guides.

@chyt, do let us know if you have any thoughts.  Thanks.

[2018-09-27 15:28] yeekangc commented on #79
@kinueng, my initial thought was to archive such repos if possible.  Haven't looked into how it can or should be done.  Your input welcome.

[2018-09-27 21:19] evelinec opened #176 "Testing the multipane design with static guides"
The team has been performing testings of converting the guides to multipane design, and raised these feedback issues: https://github.com/OpenLiberty/openliberty.io/issues/449.

The above issues need to be resolved for further testing.

[2018-09-27 21:21] evelinec opened #177 "Convert the static guides to multipane"
After multipane design has been successfully tested with some guides, and all the feedback issues are resolved. This issue is to work out the plan to convert all the static guides to multipane design.

[2018-09-27 21:33] evelinec commented on #103
This is not relevant anymore.

[2018-09-27 21:33] #103 closed

[2018-09-27 21:41] evelinec commented on #176
Assigned issue to @andrewdes as he has been doing the testing and keeping track of the feedback.

[2018-09-27 21:48] evelinec commented on #176
The tests were being done with the CDI-intro and FT guides.

[2018-09-28 20:06] evelinec commented on #52
All of the MP guides (16 of them) had been updated. There are 4 remaining ones that need to have install feature updates in the pom.xml. Then the automation can be tested and set forward to run on a schedule basics.

[2018-10-01 20:57] evelinec opened #179 "Improve design for presenting platform-specific content"
We have user test feedback on the Kubenetes guide that uses the system separation design, the separation is not clear enough, ie, the indentation is not obvious. Can you consider making an improvement?

User test feedback:
But my confusion with this part of the guide was that I couldn't tell when the LINUX instructions ended and the overall instructions began. So is it possible to section off the

[2018-10-01 21:00] yeekangc commented on #179
@kinueng

[2018-10-02 12:59] jamiecoleman92 opened #181 "Guide for deploying Open Liberty to the IBM Cloud"
Our competitors have guides for deploying to different clouds so I thought we should be doing the same. Strategically we should create one for the IBM cloud first. This could be done using containers and Kubernetes.

[2018-10-02 13:03] jamiecoleman92 opened #182 "Guide for deploying Open Liberty to AWS"
We need a guide for deploying to AWS due to it's popularity. I recommend doing this with Docker containers but other methods can be used such as using VM's.

[2018-10-02 13:28] evelinec commented on #13
The "Contribute a guide" guideline is in the guide's template, https://github.com/OpenLiberty/draft-guides-template.

[2018-10-02 13:28] #13 closed

[2018-10-04 04:32] evelinec commented on #65
@chirp1 This guide is ready for you.

Repo: https://github.com/OpenLiberty/draft-guide-jpa-intro

[2018-10-04 14:02] chirp1 commented on #65
@evelinec Hi Eveline, Thanks for the info. I'm reviewing the guide.

[2018-10-04 14:56] yeekangc commented on #131
Should consider if updates in MP JWT 1.1 particularly the use of JWK to obtain public key to validate tokens should be covered.

[2018-10-04 15:28] yeekangc commented on #118
Consider if we should cover the plug-in mechanism to APIs like Akka etc.

[2018-10-04 16:00] yeekangc commented on #158
Besides the issue(s) raised above, we have improvements in/for MP Config 1.3 that changed the picture on what we should covered.  We should take another look at our MP Config guides, work out what needs to be done, how we should organized them and do them.

What we should consider for MP Config 1.3 includes mapping config properties to environment variables and server.xml as dynamic configuration

[2018-10-04 17:02] yeekangc commented on #146
What's new that we intend to cover are tracked by the below:

JAX-RS 2.1 - Reactive Client: https://github.com/OpenLiberty/guides-common/issues/118
CDI 2.0 - Advanced CDI: https://github.com/OpenLiberty/guides-common/issues/126
MP JWT 1.1 - Use JWK: Cover via https://github.com/OpenLiberty/guides-common/issues/131 if possible
MP Config 1.3 - Improvements: https://github.com/OpenLiberty/guides-comm

[2018-10-04 17:02] #146 closed

[2018-10-04 17:03] yeekangc commented on #145
What's new that we intend to cover are tracked by the below:

JAX-RS 2.1 - Reactive Client: https://github.com/OpenLiberty/guides-common/issues/118
CDI 2.0 - Advanced CDI: https://github.com/OpenLiberty/guides-common/issues/126
MP JWT 1.1 - Use JWK: Cover via https://github.com/OpenLiberty/guides-common/issues/131 if possible
MP Config 1.3 - Improvements: https://github.com/OpenLiberty/guides-comm

[2018-10-04 17:03] #145 closed

[2018-10-04 17:05] yeekangc commented on #158
I can see that we have 1 intro MP Config guide that aligns with the Interactive guide and then a more advanced MP Config guide that is static alone.  And, they would cover MP Config 1.3 or above.

[2018-10-04 17:28] chirp1 commented on #65
Hi! The guide looks really good. Although I have a number of comments in the attachment, these are really related more to style. The highlights: I changed wording after the intro to mainly be in present tense. I added "that" and "by" in various places in part to make things clearer for non-English speaking users and in case the guides are ever translated. In general, each term needs a noun after i

[2018-10-05 02:53] evelinec commented on #65
@proubatsis @justineechen ^^^ FYI.

[2018-10-05 14:28] yeekangc opened #184 "API dependencies vs ESA dependencies"
The ESA dependencies make the build files simpler.  Then, they are not public APIs but are specific to Liberty.  Consider if we should use public APIs (and only public APIs) as dependencies instead.

Can the build plugin derives what is needed from the public API dependencies?

This is a feedback/question from @Emily-Jiang.

[2018-10-05 14:29] yeekangc commented on #184
@ericglau @patricktiu @gkwan-ibm

[2018-10-05 15:28] kwsutter commented on #167
This request just came up on the review for OIDC auto-discovery...  Since we are now focusing our efforts on socialLogin being *the* OIDC solution for both Open Liberty and WebSphere Liberty, we need to ensure that we have suitable Guides in place to support that direction.

[2018-10-05 19:08] yeekangc commented on #98
https://openliberty.io/guides/kubernetes-intro.html

[2018-10-05 21:05] evelinec commented on #173
@chirp1 This is guide is ready for you.

Repo: https://github.com/OpenLiberty/draft-guide-kubernetes-microprofile-config

[2018-10-08 14:48] jamiecoleman92 opened #186 "Guide for deploying Open Liberty to the Azure Cloud"
We need a guide for deploying to Azure due to it's popularity. I recommend doing this with Docker containers but other methods can be used such as using VM's.

[2018-10-11 14:49] yeekangc commented on #128
Need to work out what exactly we should or need to cover here.

@jvanhill, your input on what we need to cover for developers here appreciated.

[2018-10-11 15:12] kwsutter opened #188 "Guide for more comprehensive coverage of MicroProfile"
I'm looking for a guide that would show how some (most?  all?) of the MicroProfile components could work together within an application or microservice.  One of the first guides developed showed how to develop a simple microservice using the basic MicroProfile Java EE components (jax-rs, jsonp, and cdi).  Since that time, we have focused on the simple single component approach to MicroProfile (ie.

[2018-10-11 15:18] gcharters opened #189 "Guide for deploying Open Liberty to openshift.io"
Our competitors have guides for deploying to different clouds.  We should include openshift.io in the set of public clouds we demonstrate.  This should probably focus on Docker-based deployments.

[2018-10-11 15:39] gcharters opened #190 "Update appropriate guide to show MP Metrics for Fault Tolerance 1.1"
Consider updating one of our existing guides to cover this new capability.  This probably belongs in the Metrics guide because we usually talk about Fault Tolerance before we talk about Metrics.

https://openliberty.io/blog/2018/10/05/microprofile-faulttolerance-1.1-metrics.html

[2018-10-11 16:22] yeekangc opened #191 "Tag for guides on deploying to different clouds"
We have guides to cover deploying to different clouds in the backlog.  For instance, #181, #182, #186 and #189.

We need to work out what is the right tag to apply for these guides.

@cajaygle @megmulsy

[2018-10-12 07:17] gcharters commented on #188
If we find that this doesn't fit into the guide criteria - simple, self-contained, < 30 mins, etc. We could consider doing it as a code pattern on IBM Developer.

[2018-10-12 15:58] yeekangc commented on #188
I am not sure if we can fit what's needed under 30 mins either.  Yes, we can do it as a code pattern or publish there too.

I think we should take this opportunity to prototype and see what will a track look like and go from there.  I suspect what we need here goes beyond the usual guides that we currently have but can be built upon them.

@cajaygle @megmulsy

[2018-10-12 16:29] yeekangc opened #192 "Guidelines for Related Guides?"
What makes a guide a related guide for another guide?  Do we link to everything possible?  Or, we link to the most relevant ones?  If it is the latter, is there a set of criteria that we should consider?  (How is this different from tags?)

@cajaygle @megmulsy @lauracowen

[2018-10-12 18:08] yeekangc commented on #182
We will focus on containers.

[2018-10-12 18:09] yeekangc commented on #186
We will focus on containers.

[2018-10-12 18:09] yeekangc commented on #189
We will focus on containers.

[2018-10-12 18:10] yeekangc commented on #181
We will focus on containers and cover both IBM Cloud public and private.

[2018-10-15 00:54] jvanhill commented on #128
@yeekangc - It appears I completely ignored your message from May. I apologize for that.

The X509CertificateMapper API itself is pretty simple - there is only 1 method.

For LDAP registries, it allows a customer to parse a X.509 certificate (usually from an SSL certificate) and return back either

- the fully distinguished name (DN)
- OR an LDAP filter (i.e. uid=username)

of the subject that sho

[2018-10-15 00:56] jvanhill commented on #128
Here are links to the FATs that test both using a BELL and User Feature.

https://github.com/OpenLiberty/open-liberty/blob/master/dev/com.ibm.ws.security.wim.adapter.ldap_fat/fat/src/com/ibm/ws/security/wim/adapter/ldap/fat/CustomCertificateMapperInBellTest.java

https://github.com/OpenLiberty/open-liberty/blob/master/dev/com.ibm.ws.security.wim.adapter.ldap_fat/fat/src/com/ibm/ws/security/wim/ada

[2018-10-15 14:24] yeekangc opened #193 "Support for Java 11"
We need to ensure that the guides work with Java 11.  This should be more a testing effort since we have handled what's needed with removed APIs when we added support for Java 9 and 10.

[2018-10-16 13:08] evelinec opened #194 "Enable issues and PR creation notification on the guides-common repo"

[2018-10-16 21:54] evelinec commented on #194
Done

[2018-10-16 21:54] #194 closed

[2018-10-16 22:09] evelinec commented on #173
Guide published: https://openliberty.io/guides/kubernetes-microprofile-config.html

[2018-10-16 22:43] #173 closed

[2018-10-17 13:53] evelinec opened #195 "Fix the title and description of the static guides"
Getting started guide - correct results:
[code]

Kube-mpConfig guide - incorrect results:
[code]

New Attributes:
:page-seo-title: Open Liberty tutorial
:page-seo-description: Find out how to run microservices on Open Liberty

[2018-10-17 17:52] evelinec commented on #195
Confirming with @kinueng that these two attributes will have the above default values if they're not specifically overwritten in the guides' readme.adoc.

- [ ] First step, to add these attributes to the guides' template readme.adoc

- [ ] Add the attributes with values to the 5 most recently published guides: getting started (should be correct already), JSON-B, Bean Validation, Kube-Intro, and Ku

[2018-10-17 18:59] evelinec commented on #31
@rhpeters Just as a record, this guide was ready for your review.

Repo: https://github.com/OpenLiberty/draft-guide-security-intro

[2018-10-17 19:45] yeekangc commented on #128
Thank you, @jvanhill.  We will work with what you posted and get with you as appropriate.

[2018-10-19 16:48] evelinec commented on #195
@justineechen can you review this PR: https://github.com/OpenLiberty/draft-guides-template/pull/11

[2018-10-19 19:05] evelinec commented on #163
Resolved.

[2018-10-19 19:05] #163 closed

[2018-10-19 19:43] evelinec commented on #195
@justineechen to update the title and description for the recent 4 guides

- [ ] JSON-B

- [ ] Bean Validation

- [ ] Kube-Intro

- [ ] Kube-mpConfig

[2018-10-19 19:48] evelinec commented on #31
Guide is published here: https://openliberty.io/guides/security-intro.html

[2018-10-19 20:07] #31 closed

[2018-10-23 03:55] evelinec commented on #195
Close this issue for what had been done already. The other guides' SEO related info will be handled together through #81.

[2018-10-23 03:55] #195 closed

[2018-10-24 13:18] barecode commented on #188
I'd like to see this published as a guide. I know we're trying to keep guides short, but if we're pointing people to OpenLiberty.io, and then have them shell out to IBM Developer, I do not like that.

I heard this request from people at EclipseCon Europe when we did our https://www.eclipsecon.org/europe2018/sessions/developing-cloud-native-java-microservices-eclipse-microprofile talk. I absolutely

[2018-10-29 20:11] yeekangc commented on #175
@tjwatson

[2018-10-31 15:19] evelinec opened #198 "Guides fails with latest OpenJDK 8 version"
Problem found on Ubuntu with the following OpenJDK 8 version:

[code]
Notice the build version, `1.8.0_181-8u181-b13-1`.

The follow version was working with the guides:
[code]
The working build version is `1.8.0_181-8u181-b13-0`.

[2018-11-05 16:08] gkwan-ibm commented on #174
- waiting mpHealth feedback
- addressing SME feedback

[2018-11-05 22:01] gkwan-ibm opened #199 "Bad cached in the browser that caused JSF exception"
- Is there a better way to do the redirect to the application page?
- Do we only need to prevent caching to form pages? All pages? A certain subset of pages?

Tentative fix JWT and Securing Web App guides

[2018-11-05 22:09] gkwan-ibm commented on #176
- Identify issues which are not fixed and which are blockers
- Find and try any corner case guides

[2018-11-06 15:39] evelinec commented on #65
- test changes had be merged (reviewed by Gilbert)
- addressed Gilbert's review feedback:
  - URL mapper class was taken out (fix the url re-routing)
  - event bean methods being renamed
  - test JSF UI (fixed one weird case found; no additional UI bug); tried chrome, will try safari and FF
- will work on updating draft today

[2018-11-06 15:49] evelinec commented on #174
- opened PR to add more description on liveness and readiness probes (requested by YK)
  - PR also included addressing all the SME feedback

[2018-11-06 15:53] evelinec commented on #176
Instruction: https://github.com/OpenLiberty/guides-common/blob/master/MULTIPANE-CONVERSION.md

[2018-11-06 21:45] proubatsis commented on #199
![image](https://user-images.githubusercontent.com/8409464/48095575-191da880-e1e3-11e8-95ae-074943264007.png)

This is found on the `application.jsf` page, so it looks like any page with a form may need to be prevented from being cached.

[2018-11-07 15:39] gkwan-ibm commented on #65
- need to work on
  - business logic of the application
  - Readme
  - test
  - start directory

[2018-11-07 15:46] gkwan-ibm commented on #53
- working on the comments
- reworking the java code and the guide

[2018-11-07 15:48] gkwan-ibm commented on #174
- waiting PR review from Gilbert and YK
- after, will need user test
- ID review is planed in this iteration

[2018-11-07 19:02] proubatsis commented on #199
I verified that what we are currently doing is fine in this respect.

So the only action that needs to be taken is to apply the changes to prevent caching to the `application.jsf` page as well. I will see if any errors arise as a result of it not being cached first.

[2018-11-08 15:35] gkwan-ibm commented on #65
- need to work on
  - business logic of the application
  - Readme (target today)
  - start directory

[2018-11-08 15:44] gkwan-ibm commented on #53
- met Charles to get better understanding and the focus
- working on the guide
   - more explanation
   - style
   - make sure that the license agreement should be good
   - etc.
- Gilbert need to discuss with YK about the content

[2018-11-08 15:46] gkwan-ibm commented on #174
- ask YK and the PR's originators  to review the PR
- after, will need user test
- ID review is planed in this iteration

[2018-11-08 15:49] gkwan-ibm commented on #199
- identified JWT guide need to be updated
- Securing guide may need too

[2018-11-08 18:13] justineechen commented on #176
Testing the following guides for multipane:
- [ ] Creating a RESTful service
- [ ] MP JWT
- [ ] Deploying with Docker

[2018-11-09 15:35] gkwan-ibm commented on #65
- working
  - business logic (ready)
  - Readme (ready)
  - start directory (target today)
  - review (early next week)

[2018-11-09 15:39] gkwan-ibm commented on #53
- addressed most of the comments
- addressing the rest comments
- study how to use arquillian to test microservice application

[2018-11-09 15:46] gkwan-ibm commented on #174
- the PR was merged
- need refresh the test site
- will ask Tommy/Rachel to do user test
- contacted to ID team

[2018-11-12 15:11] justineechen commented on #176
Steven also mentioned this today:

![image](https://user-images.githubusercontent.com/18709242/48355993-4a72fa00-e663-11e8-8262-34f04e6d384f.png)

[2018-11-12 15:36] gkwan-ibm commented on #65
- working
  - PR for app update will be discussed
  - PR for readme is ready

[2018-11-12 15:42] gkwan-ibm commented on #53
- the focus is to work out/prototype how to use arquilian to test the microservcie application

[2018-11-12 15:46] evelinec opened #200 "Update the `RELEASE` version on dependency management"
Found this bug about Maven to support version ranges for dependency management. Once fixed, we can update the guides using the deprecated `RELEASE` version that gives warning messages at `mvn install`.

https://issues.apache.org/jira/browse/MNG-4463

[2018-11-12 15:51] gkwan-ibm commented on #174
- PR for user test's comment is ready to review
  - Tommy approved
- Do test on
  - Windows and Linux
- After the PR is merged
  - Acrolinx test
- will ask ID review when above are done

[2018-11-12 17:35] justineechen commented on #176
Individual issues with priorities: (I closed the bigger issue I opened)
https://github.com/OpenLiberty/openliberty.io/issues/774
https://github.com/OpenLiberty/openliberty.io/issues/773
https://github.com/OpenLiberty/openliberty.io/issues/772
https://github.com/OpenLiberty/openliberty.io/issues/771
https://github.com/OpenLiberty/openliberty.io/issues/770

[2018-11-12 19:59] justineechen commented on #176
**Guides that have been changed into multipane:**
- Fault Tolerance (Andrew)
- CDI (Andrew)
- Rest intro (Steven)
- Creating a RESTful service (Justine)
- JWT (Justine) [in progress]

[2018-11-12 21:21] proubatsis commented on #174
PR for acrolinx: https://github.com/OpenLiberty/draft-guide-kubernetes-microprofile-health/pull/14

There seems to be some problems with the Kube/Health guide on Linux and Windows.

The probes fail and Kubernetes kills the container too early… I thought this happens maybe because the machines are slow… on the windows machine increasing the initial delay fixed it (at the expense of making it slower

[2018-11-13 15:47] gkwan-ibm commented on #65
- PRs for application update and readme were merged
- Gilbert is reviewing the guide
- Open a PR for updating the start directory and readme

[2018-11-14 15:39] gkwan-ibm commented on #65
- it is ready to have a peer review
  - Panagiotis will do

[2018-11-14 15:45] gkwan-ibm commented on #174
- maybe resources problem, setting up a new system to retry

[2018-11-14 19:49] proubatsis commented on #174
Provisioning a new VM with more RAM/CPU and increasing Minikube's resources did not fix the issue.

[2018-11-15 16:40] gkwan-ibm commented on #65
- Peer review completed
   - Need to address the ubuntu issue
- will ask SME to take a quick review

[2018-11-16 14:31] proubatsis commented on #174
Talked to @gkwan-ibm and determined the solution will be to increase initial delay time to 2 minutes and to inform the user to wait in the README.

[2018-11-16 15:37] gkwan-ibm commented on #65
- will ask SME to take a quick review
- Tommy will do the user test
- doing Arcolinx test

[2018-11-16 15:39] gkwan-ibm commented on #53
- objective is to make the regular endpiont can coexist with Arquillian test by managed container

[2018-11-16 15:47] gkwan-ibm commented on #176
- all tests done
  - identified the issues
  - some issues already addressed
  - there are 2 blockers
 - working on a summary doc

[2018-11-16 17:22] proubatsis commented on #174
I have the changes ready, but I want to test this on Mac and Linux again. I need to see how these changes will affect the ping probe. I suspect that killing both name pods might cause the ping liveness probe to fail and the guide text may need a minor adjustment to accommodate.

https://github.com/OpenLiberty/draft-guide-kubernetes-microprofile-health/tree/increase-delay

[2018-11-19 15:37] gkwan-ibm commented on #65
- did Arcolinx
- waiting SME and user test
- need to get final review/approval

[2018-11-19 15:42] gkwan-ibm commented on #53
- proved that both the regular endpiont and Arquillian tests can coexist but they run in parallel
- will try Arquillian client to do endpoint test

[2018-11-19 15:45] gkwan-ibm commented on #174
- will create a PR to adjust the initial delay time and update the readme

[2018-11-19 15:50] gkwan-ibm commented on #176
- the summary doc is ready
- looking any workaround for the blocking issues

[2018-11-19 18:47] proubatsis commented on #174
PR Open: https://github.com/OpenLiberty/draft-guide-kubernetes-microprofile-health/pull/15

[2018-11-20 15:43] evelinec commented on #53
- Fixed the client test case for testing the URL
- Will implement the both test cases on a more involved service to demo arquillian benefits

[2018-11-20 15:44] evelinec commented on #174
- ready for ID

[2018-11-20 15:48] evelinec commented on #176
- continue to look for different workaround for the blocking issues
- finish to converting the "getting started" guide
- identify how many guides are impacted by blocker issues
- try converting one of those older guides

[2018-11-20 20:09] justineechen commented on #176
Guides that do not have this blocker:
- Guide-docker
- Guide-kubernetes-microprofile-config
- Guide-kubernetes-intro

[2018-11-20 21:44] proubatsis commented on #199
I was not able to cause any issues without adding the script to the `application.jsf` page, so I do not think it is necessary. As long as the security guide is good too @justineechen I think this issue can be closed.

[2018-11-21 00:38] justineechen commented on #199
I haven't been able to create any errors in the security guide with the script either.

[2018-11-21 15:43] gkwan-ibm commented on #65
- user test is in progress
- YK will review it

[2018-11-21 15:46] gkwan-ibm commented on #53
- enhancing the microservice and tests

[2018-11-21 15:47] #199 closed

[2018-11-21 15:51] evelinec commented on #174
@chirp1 This guide is ready for your review:

Repo: https://github.com/OpenLiberty/draft-guide-kubernetes-microprofile-health

[2018-11-22 15:35] gkwan-ibm commented on #65
- Refactored some code
- addressing YK's comment
- user test still in progress

[2018-11-22 15:39] gkwan-ibm commented on #174
- working on the title and abstract

[2018-11-23 15:36] gkwan-ibm commented on #65
- YK gave comments on yesterday. They will be addressed before next Tue
- User test completed. Feedback were addressed and PR is ready.

[2018-11-23 15:40] gkwan-ibm commented on #53
- working on the application and tests
- working on the Readme
- target to complete on next week and be published on next iteration

[2018-11-23 15:42] gkwan-ibm commented on #174
- finalized the title and abstract
- when PR is approved, the guide is ready to publish

[2018-11-23 15:51] gkwan-ibm commented on #176
- continue to work on the prototype

[2018-11-23 18:45] gkwan-ibm opened #202 "Make sure the start directory is same as the finish directory"
When create PR, currently, most of the guides will run `mvn install` under the finish directory by Travis. This issue will implement a way to guarantee the start directory is same as the finish directory during PR testing, instead of finding out-of-sync very late by manually check.

[2018-11-23 20:55] proubatsis commented on #198
Test the change proposed in: https://github.com/OpenLiberty/guide-getting-started/pull/35

# Mac

- [ ] Open JDK 8 - Hotspot
- [ ] Open JDK 9 - Hotspot
- [ ] Open JDK 10 - Hotspot
- [ ] Open JDK 8 - Open J9
- [ ] Open JDK 9 - Open J9
- [ ] Open JDK 10 - Open J9
- [ ] Oracle JDK 8
- [ ] Oracle JDK 9
- [ ] Oracle JDK 10
- [ ] IBM JDK 8

# Windows

- [ ] Open JDK 8 - Hotspot
- [ ] Open JDK 9 - Hotspo

[2018-11-26 15:39] evelinec commented on #65
- Work with YK to close the feedback today
- Clean up the open issues, and branches
- Pre-test to cover test on Linux, and do UI testing

[2018-11-26 15:40] evelinec commented on #53
- guide's outline is ready for review
- working on the remaining test cases and draft

[2018-11-26 15:44] evelinec commented on #174
- address the liveness issue according to discussion today

[2018-11-26 15:57] evelinec commented on #176
- continue to work on 4/8 of the prototyping guides

[2018-11-26 20:57] evelinec opened #203 "Continue to test latest openjdk for the guides"
Due to the problem found in #198, it's good to continue to test the latest openjdk for the guides on a regular basics and in the automation.

[2018-11-27 15:38] gkwan-ibm commented on #65
- Gilbert reviewed
- need YK to do final review

[2018-11-27 15:44] gkwan-ibm commented on #174
- decided to remove the liveness in the guide
- working for that change

[2018-11-27 15:51] gkwan-ibm commented on #198
- let test the OpenLiberty/guide-getting-started#35  PR

[2018-11-27 15:58] gkwan-ibm commented on #176
- prototyped 8/8

[2018-11-28 15:40] gkwan-ibm commented on #174
-  removed the liveness probe from the guide

[2018-11-28 15:45] evelinec opened #204 "Test the guides with 18004 candidate build"
OpenLiberty release: 18.0.0.4
Open Liberty build number: wlp-1.0.23.cl180420181121-0300
Java version: Java HotSpot(TM) 64-Bit Server VM, version 1.8.0_151-b12 (en_US)

[2018-11-29 15:43] gkwan-ibm commented on #65
Pre-publish test (Panagiotis)
- [ ] Read the guide by Safari, Chrome, Firefox
   - if there is a hyperlink, click on it to see whether the link is right or not
- [ ] diff -r start/ finish/
- Run through the guide
   - remove .m2
   - copy the source from browser to create file instead of copy file directly from finish to start
   - try whatever suggested commands by copy and paste text
   - try th

[2018-11-29 15:46] gkwan-ibm commented on #174
Pre-publish test (Gilbert)
- [ ] Read the guide by Safari, Chrome, Firefox
   - if there is a hyperlink, click on it to see whether the link is right or not
- [ ] diff -r start/ finish/
- Run through the guide
   - remove .m2
   - copy the source from browser to create file instead of copy file directly from finish to start
   - try whatever suggested commands by copy and paste text
   - try the P

[2018-11-29 17:09] justineechen commented on #65
Windows Pre-Test
- `mvn install:liberty:start-server` took well over 10 minutes to run
- noticed something minor in `Defining a JPA entity class`:
    - “Specifies details fo the table such as name” in table, maybe there should be a comma in that sentence?

[2018-11-29 17:35] evelinec commented on #204
Note to enable automated tests on Jenkins:

- Updated both the repo and request token to use the "GuidesBot" account
- Updated the build script message
- Updated the guide/draft-guide repo tests

[2018-11-29 17:39] evelinec commented on #204
Successfully tested these guides:

- bean validation
- getting started
- jwt
- fallback
- health
- mp-intro
- cors
- mp-config
- docker
- rest-intro
- maven
- hateoas
- cdi-intro
- rest-client-java
- opentracing
- mp-rest-client
- openAPI
- metrics
- security

[2018-11-29 17:41] evelinec commented on #204
Test failed but looked ok:

- angularjs (failure reason: no test case thus no console.log to grep the build info)

[2018-11-29 17:42] evelinec commented on #204
Test failed but need change in automation config script:

- gradle (failure reason: running the mvn command..)

[2018-11-29 17:44] evelinec commented on #204
Actual test cases failed for these 2 guides:

- Kube-intro (null pointer exception)
- Kube-mpConfig: (null pointer exception)

Test failed cus no console.log:
- Kube-health (test cases passed, but no console.log to grep the build version info)

[2018-11-29 17:46] evelinec commented on #204
These guides need to have slack notification enabled:

- [ ] kube-mpConfig
- [ ] kube-health
- [ ] jpa
- [ ] log4j

[2018-11-29 18:08] evelinec commented on #204
Successfully tested draft guides:
- jpa
- log4j

Failed draft guides:
- arquillian (not concern for now)
- kube-health (reported above)
- spring boot (obsolete draft)
-istio (not concern for now)

[2018-11-29 18:39] justineechen commented on #174
Windows Pre-Test Completed
- `mvn package` took ~11 mins

[2018-11-29 18:54] evelinec commented on #204
Manually tested the following guides:

- [ ] kube-intro

Note:
name/target/liberty/wlp/bin/productInfo version
Product name: Open Liberty
Product version: 18.0.0.4
Product edition: Open

[2018-11-29 19:05] gkwan-ibm commented on #174
It is ok because .m2 was removed. When rerun `mvn package`, it should take less time, otherwise we need to look into it

[2018-11-29 19:32] evelinec commented on #204
Need test:
- [ ] gradle

[2018-11-29 19:44] evelinec commented on #204
Test completed.

[2018-11-29 19:44] #204 closed

[2018-11-29 19:58] gkwan-ibm commented on #65
@proubatsis
Did you compare after you ran through the guide? Would you try to compare just after cloning?

[2018-11-29 20:01] proubatsis commented on #65
@gkwan-ibm `EventEntityTest` does not exist in `start/` immediately after cloning.

[2018-11-29 20:14] justineechen commented on #174
Linux Ubuntu Pre-Test Completed - No issues!

[2018-11-29 20:17] evelinec commented on #174
Mac Pre-Test completed. Just one thing, @proubatsis the related guides section is empty, we'd remove the attribute.

[2018-11-29 21:01] gkwan-ibm commented on #65
It is expected

[2018-11-29 21:19] gkwan-ibm commented on #174
It is because the lgdev01 does not have those related guides. We will need to test it on tomorrow.

[2018-11-29 21:41] proubatsis commented on #174
These are the related guides that should show up when it's on `openliberty.io`: 'microprofile-health', 'kubernetes-intro']

[2018-11-30 15:36] gkwan-ibm commented on #65
Publish (Gilbert)
- [ ] rename the guide repo
- [ ] add the guide url in the GitHub repo description
- [ ] refresh master

[2018-11-30 15:43] gkwan-ibm commented on #174
Publish (Gilbert)
- [ ] rename the guide repo
- [ ] add the guide url in the GitHub repo description
- [ ] refresh master

[2018-11-30 15:44] gkwan-ibm commented on #174
Post-publish test (Gilbert)
- [ ] check the guide in the right section of the Guides site
- [ ] Read the guide by Safari, Chrome, Firefox
      - [ ] check all links, particularly in the "Contribute to this guide" section
      - [ ] check "Related guides" section
- [ ] Run travis
- [ ] Verify the repo description and the link
- Run through the guide
   - copy the git clone command
   - copy the s

[2018-11-30 19:38] justineechen commented on #174
- Tested Linux Ubuntu using CURL to get the outputs not using firefox (I'll revisit this after I finish JPA/ Kube-Windows because the vnc screen is frozen for me)

[2018-11-30 19:50] proubatsis commented on #65
@gkwan-ibm Looks good

[2018-12-03 15:45] gkwan-ibm commented on #53
- code is available in the branch fixingfeedback
- working on the readme
- required ID to review in this iteration

[2018-12-03 16:09] gkwan-ibm commented on #65
- [ ] Enable the travis automated tests,
- [ ] On the same wiki, there are instruction on subscribing static guides repositories to a slack channel

[2018-12-03 16:10] gkwan-ibm commented on #174
- [ ] Enable the travis automated tests,
- [ ] subscribe static guides repositories to a slack channel

[2018-12-04 15:56] gkwan-ibm commented on #53
- all changes in master branch
- will be available in the staging site
- will review with Charles

[2018-12-04 15:58] gkwan-ibm commented on #176
- working on the conversion instruction
- Steven is working on the issue of multi files in same section

[2018-12-05 15:12] gkwan-ibm opened #205 "Test infrastructure and process"
- [x] every good build (DHE or ArtifactFactory) - DHE only
  - [x] dashboard on Jenkins for results
- [x] 4M log limit
- [ ] Test coverage
  - [ ] verify the start directory, either
    - diff finish vs start  (#202)
    - run `mvn install` under start directory
  - [x] different JDKs (e.g. #203)
  - [x] different platforms, either
    - [x] through Jenkins, running on Travis
    - [ ] set up our

[2018-12-05 15:36] gkwan-ibm commented on #53
- chatted with Charles
- addressing his suggestion
- will meet with Charles

[2018-12-05 15:38] gkwan-ibm commented on #176
- need to prepare a priority list for tomorrow meeting
- working on the conversion instruction

[2018-12-06 20:45] gkwan-ibm commented on #176
- We met UI team on this morning and presented blocker issues
- Kickoff meeting will hold on next Mon
- Need to update the instruction
  - parent pom
  - make mvn and wget to use quiet option

[2018-12-07 15:54] gkwan-ibm commented on #205
- 4M log limit will be addressed by multipane
- start working on test every good build and dashboard

[2018-12-10 15:41] gkwan-ibm commented on #176
- conversion instruction is ready
- some UI issues will be fixed

[2018-12-10 15:47] gkwan-ibm commented on #205
- Need to fix the Jenkins script for 4M log limit issue
- studied the Jenkins dashboard. Look like it does not help

[2018-12-10 15:47] gkwan-ibm commented on #177
kick off on today

[2018-12-10 15:51] gkwan-ibm commented on #53
- Gilbert will study more about Arquillian

[2018-12-11 15:37] gkwan-ibm commented on #177
- Working on 4 guides: CDI, JWT, Docker, Getting Started

[2018-12-11 15:45] gkwan-ibm commented on #205
- fixed the Jenkins script for 4M log limit issue and did some workaround
- investigating some failed guides

[2018-12-12 15:03] justineechen commented on #176
### Checklist for multipane conversion
**Through the browser:**
- [ ] - Read over guide and run through all commands (copy and paste using browser etc..)
- [ ] - Test the actual application (use it, hit endpoints, etc.)
- [ ] - No files in the middle panel (guide section)
- [ ] - Appropriate files are being displayed on the right hand side at the right time
- [ ] - Any mention of code in the right

[2018-12-12 15:51] justineechen commented on #177
### Checklist for multipane conversion
**Through the browser:**
- [ ] Read over guide and run through all commands (copy and paste using browser etc..)
- [ ] Test the actual application (use it, hit endpoints, etc.)
- [ ] No files in the middle panel (guide section)
- [ ] Appropriate files are being displayed on the right hand side at the right time
- [ ] Any mention of code in the right panel sho

[2018-12-12 16:05] gkwan-ibm commented on #177
- completed the changes for 4 guides: CDI, JWT, Docker, Getting Started
- will review them on today
- will start another batch on next

[2018-12-12 16:20] gkwan-ibm commented on #205
- fixed 3 guides
- created test script for kube guides
- working on to test against artifactory
- found out that travis can test
  - on mac and linux
  - different jdks: OpenJDK, Oracle and different versions: 8, 9, 10

[2018-12-12 16:46] gkwan-ibm opened #206 "Publish the converted multipane guides"
- [x] publish
- [x] post publish test
- [x] update template
- [ ] update instruction
- [ ] update the Guidelines for Structure and Styles
   - https://github.com/OpenLiberty/draft-guides-template/wiki/Guidelines-for-Structure-and-Styles

[2018-12-12 17:17] andymc12 commented on #162
Per separate discussion, it might also make sense to document async in general for REST - so that it could include async JAX-RS (client and server) methods.

[2018-12-13 01:48] yeekangc opened #207 "Update local build instruction"
This is out of date: https://github.com/OpenLiberty/guides-common/wiki/Setting-up-your-local-test-website-and-Asciidoctor

Should align with what's here too: https://github.com/OpenLiberty/blogs

[2018-12-13 10:04] irobins commented on #162
Async JAX-RS is, at the same time, one of the most promising and one of the most confusing parts of MP/JavaEE . Full of implementations choices but short on prescriptive advice and examples to "do it like this and here's the running result". We are in serious need of this guide.

[2018-12-13 14:30] yeekangc commented on #206
How does relate to #177?

[2018-12-13 14:40] yeekangc opened #208 "Multi-Pane Conversion"
Issue to track implementation of multi-pane guides (in the prioritized backlog).  For both interactive and static guides.

[2018-12-13 15:10] gkwan-ibm commented on #206
#177 just do the conversion and make changes ready. When we sign off and the site is updated to multipane, this work can be started

[2018-12-13 15:19] yeekangc commented on #206
If this should be tied under the epic i.e. #177, let us do that.  Thank you.

[2018-12-13 15:40] gkwan-ibm commented on #177
- still reviewing the 4 guides

[2018-12-13 15:51] gkwan-ibm commented on #205
- fixed the  kube guide issues for running in jenkins
- understanding dhe vs artifactory
- studying dashboard for gathering data

[2018-12-13 15:56] gkwan-ibm commented on #176
- Attribution issue was fixed (Need to verify)
- Two files in one subsection issue was ready (will verify after committed)
- Question for code_command (Need to reply)

[2018-12-14 15:48] gkwan-ibm commented on #205
- new builds will be pushed to artifactory and then will try the automation
- working the dashboard prototype

[2018-12-14 19:12] proubatsis commented on #198
Running `mvn clean install` on `guide-getting-started` works on the JVMs as outlined above.

[2018-12-14 19:12] #198 closed

[2018-12-17 15:13] yeekangc opened #209 "Guide for Google Cloud Platform"
Guide on how to deploy microservices onto Kubernetes Engine (GKE) on GCP.

Similar in concept to the guides below:
https://openliberty.io/guides/cloud-ibm.html
https://openliberty.io/guides/cloud-aws.html

[2018-12-17 15:42] evelinec commented on #177
- 2 guides completed, docker and cdi
- almost done: getting started, JWT
- working on: FT, Rest-Intro and 2 other new ones

[2018-12-17 15:44] evelinec commented on #99
- fixing the code

[2018-12-17 15:46] evelinec commented on #176
- testing the 2 file in one section fixes

[2018-12-17 15:51] evelinec commented on #181
- can start with ICP

[2018-12-18 15:41] gkwan-ibm commented on #177
- found issues on getting started and JWT
- working angularAS, fallback, kube intro, restful
- found issue on fallback

[2018-12-18 15:48] gkwan-ibm commented on #99
- the app is broken and fixing

[2018-12-19 15:41] gkwan-ibm commented on #177
- reviewing: Rest-intro, Fallback, JWT, Getting-started and AngularJS.
- Getting-started and JWT should be almost finished review.
- starting to convert Maven-intro

[2018-12-19 15:54] gkwan-ibm commented on #205
- tried travis to run automation on multi-platforms - linux and mac
- prototyped different options for dashboard

[2018-12-19 15:59] gkwan-ibm commented on #53
- Gilbert updated the pom.xml and server.xml the apps
- Readme will be rewritten

[2018-12-19 16:02] gkwan-ibm commented on #99
- proved that Mac works fine
- investigating Linux why minikube crashed at the end
- updating the Readme

[2018-12-20 15:40] gkwan-ibm commented on #177
- Done
  - Getting-started, Fallback
- Almost done
  - JWT
  - AngularJS
  - Rest-intro
- Review
  - Maven-intro
- Will start another 2 guides

[2018-12-20 15:42] gkwan-ibm commented on #205
- working on dashboard for Gilbert's feedback

[2018-12-20 15:45] gkwan-ibm commented on #99
- Linux issue was resolved
- investigating BlueGreen deployment

[2018-12-21 15:44] gkwan-ibm commented on #205
- need to map the builds with the submitted jobs
- need to improve the efficiency because now it takes 2 hours
- Mac only can run the default Oracle JDK8

[2018-12-21 15:51] gkwan-ibm commented on #99
- wrote new app for blue-green deployment

[2018-12-31 15:29] kathrynkodama opened #212 "MicroProfile guides inconsistencies with "mvn" commands"
Under the 'Getting Started' section, certain MicroProfile guides have instructions to execute:
`mvn install liberty:start-server`
while others have instructions to execute:
`mvn clean install`
`mvn liberty:start-server`
or other various combinations of the above.

Perhaps certain guides should be edited to maintain consistency across all MicroProfile guides.

Guides indicating `mvn install liberty

[2018-12-31 15:34] kathrynkodama commented on #157
I was working through the MicroProfile guides and ran into a similar error.  At the end of this guide: https://openliberty.io/guides/rest-intro.html
There are no instructions to execute `mvn liberty:stop-server`. When I moved on to the next guide I forgot to stop the server and my future `mvn install` commands were blocked until I realized and manually killed the java processes.

[2019-01-02 15:45] evelinec commented on #177
- all of the guides are converted and under review
- status board shows 21 guide items, Justine to look into the 4 missing
- some guides have blocker issues (2 new), will work with Steven
- continue working with the rest of the team till end of the week

[2019-01-02 15:48] evelinec commented on #99
- app, test, readme are all ready
- can start peer review (Andrew to do this afternoon)

[2019-01-02 15:49] evelinec commented on #176
- need to speak to Steven about the 2 new blockers

[2019-01-03 15:42] gkwan-ibm commented on #205
- auto test can run for builds in dhe
  - OSs x JDKs
- working on dashboard
- source to run the automation in the automation rep

[2019-01-03 15:52] gkwan-ibm commented on #99
- addressing Andrew's comments
- did Mac, and will do Windows and Linux

[2019-01-03 16:01] gkwan-ibm commented on #181
- wrote down the instruction for ICP
- looking at IBM public cloud

[2019-01-04 15:46] gkwan-ibm commented on #205
- need to address the timezone issue for testing systems
- suggest to schedule the automation as soon as ready, instead of too late

[2019-01-04 15:53] gkwan-ibm commented on #99
- finished to test all 3 platforms
- Fixes will be merged soon
- Content and then SME review

[2019-01-07 15:37] gkwan-ibm commented on #177
- to complete post-review today
- will start next round update
   - guide author
   - update to master
   - consistent mvn instructions
   - stop server
   - or more

[2019-01-07 15:38] gkwan-ibm commented on #99
- Gilbert gave some feedback and will be addressed on today

[2019-01-08 15:11] evelinec commented on #205
Feedback to be addressed:
- [ ] enable test on Linux and Mac with default JDK (8) — P1
- [ ] title of job: Regression test on a daily build — P1
- [ ] change build date to build level — P1.1
- [ ] build number hover info: build level, overall pass/failed — P1.2
- [ ] console log for test report: create a failure section to include links to the travis build/jobs — P2
- [ ] display build level as Je

[2019-01-08 15:42] gkwan-ibm commented on #99
- working on  feedback for Windows

[2019-01-09 17:32] mswatosh commented on #148
Closing in favor of doing a blog post instead

[2019-01-09 22:02] gkwan-ibm opened #214 "Test automation script should update the RELEASE in the pom.xml for daily build tests"
Now, the test automation script only insert the \<runtimeUrl\>. It is not enough. It should update RELEASE to the right version.

Make sure:
- [ ] the latest (build level) OL version is used
- [ ] the latest feature versions are used

[2019-01-10 03:52] evelinec opened #215 "The sed cmd in automation need to be changed for MacOS"
The sed cmd in automation to update the pom.xml for CT need to be changed for macos

[2019-01-10 10:20] lauracowen opened #216 "Categorisation of guides"
In a design call we discussed the categorisation of the guides and I think @cajaygle agreed we could move the MicroProfile category to the top (above the 'get started' one, which isn't as relevant as the MicroProfile one for getting started writing microservices with MP and OL). I don't think there were any objections to doing this but I don't think there was an issue to do it.

@cajaygle Are you

[2019-01-10 15:43] gkwan-ibm commented on #205
- got good result for Linux on 0109
- need to work on Mac
   - seds
   - kube guides
- test coverage, e.g.
  - Getting starte guide
  - cover all scenarios/urls described in the ReadMe
  - Missing test, e,g Angularjs guides
    - Gradle gudie to test Gradle 4.1 and 5.1

[2019-01-10 15:44] gkwan-ibm commented on #99
- YK is reviewing
- Ask for SME review

[2019-01-11 15:32] gkwan-ibm commented on #176
Query the multipane UI issues
- https://github.com/OpenLiberty/openliberty.io/issues?q=is%3Aopen+is%3Aissue+label%3Amultipane

[2019-01-11 15:44] gkwan-ibm commented on #176
- looking at multimodules guide issue

[2019-01-11 16:03] gkwan-ibm commented on #205
- working on gradle guide
- continue to fix issues

[2019-01-11 16:10] gkwan-ibm commented on #181
- ICP guide is drafted
- working on IBM Public Cloud

[2019-01-14 14:40] evelinec commented on #205
- tested the JPA and Security-Intro automation config, tests were good
- working on the top priority defects

[2019-01-14 14:41] evelinec commented on #53
- Will start addressing the review feedback

[2019-01-14 14:54] evelinec commented on #106
- reviewed and provided feedback for this guide
- informed @alexsm82 of the issue and he will work on it

[2019-01-14 15:39] gkwan-ibm commented on #177
- tried to run auto test for all guides
  - some of them failed
- working in the test for AngularJS guide
- looking through Docker and CDI guides test coverage
- Some issues is captured at https://ibm.ent.box.com/notes/381619770492?s=3fnhxod4nnrx0d8lfrojsxni5g8mkvhq

[2019-01-14 15:48] gkwan-ibm commented on #99
- YK reviewed
- will review by SME

[2019-01-14 20:12] yeekangc commented on #148
We may still want to do a guide on MongoDB.  Not specific to any particular feature version.

[2019-01-15 15:40] gkwan-ibm commented on #99
- addressing SME review
- confirm the title and description
- should start User view: Win and Unbanto
- target Jan 17: all development works including SME, User etc

[2019-01-15 15:50] gkwan-ibm commented on #53
- addressing feedback
- no pom.xml in Readme
- no gradle and open a backlog issue
- target: Jan 17

[2019-01-15 15:58] gkwan-ibm commented on #177
- removed the Contribution sections for all guides
- AngularJS guide test will be reviewed
- need to check the  dependencies order for all guides
   - features
   - test
   - jdk 9,10

[2019-01-15 16:14] gkwan-ibm commented on #205
- need to address the guides which using configuration directory instead of file
- working on gradle guide test
- currently, Eveline to monitor the daily result
- Java test coverage for daily: Hotspot 8,  OpenJDK11 or 8
- identify which guides to do manual tests for the GM candidate
  - getting guide
  - gradle guide
  - open tracing
  - docker
  - ...

[2019-01-15 16:17] gkwan-ibm commented on #181
- ICP/Public cloud guide will be completed the draft soon

[2019-01-15 20:25] evelinec opened #217 "Automation tests fails to grep openjdk11 in test log"
OpenLiberty release: 19.0.0.1
Open Liberty build number: wlp-1.0.24.cl190120190114-1900
Java version:
The command "build=$(grep "Open Liberty" $logsPath/console.log | cut -d" " -f5 | cut -d")" -f1 ); release=$( echo "$build" | cut -d"/" -f1); number=$(echo "$build" | cut -d"/" -f2); ol_jv=$(grep -i "on java" $logsPath/console.log); jv=$(echo "$ol_jv" | sed "s/.* on //g"); echo -e "
"; echo -e "Ope

[2019-01-16 15:35] gkwan-ibm commented on #99
- addressing SME review
- Tommy (Ubanto) and Justine (Win) will do user review on today

[2019-01-16 15:39] gkwan-ibm commented on #53
- Asked Charles to do SME review

[2019-01-16 15:49] gkwan-ibm commented on #177
- AngularJS, Docker, Getting start guides auto test coverage revisit completed
- fixing the automation failures for Kube Intro, Kube Health, Opentracing
- working on the dependencies

[2019-01-16 15:52] gkwan-ibm commented on #176
- target: 1 high and 4 medium issues will be addressed by the end of this week

[2019-01-16 16:06] gkwan-ibm commented on #205
- 2 wrong naming issues are not resolved
- OpenJDK11 test is running
   - P1: addressing several guides failures
   - P1: Kube guides failed on 9, 10, 11
- P1: each batch should run separately by a platform and a jdk version

[2019-01-16 22:10] gkwan-ibm commented on #193
- make sure daily auto test cover OpenJDK11
- run a set of guides by using HotSpot JDK 11 and OpenJDK11 in following platforms
  - Windows
  - Ubanto
  - Macs???
  - Linux

[2019-01-17 14:49] evelinec opened #218 "All kube guides failed with openjdk11 tests and the testScript didn't fail"
Refer to: https://travis-ci.org/OpenLiberty/guide-kubernetes-intro/builds/480784553

[2019-01-17 15:35] gkwan-ibm commented on #99
- addressing Win (Justine) feedback
- Ubuntu (Tommy) is reviewing

[2019-01-17 15:39] gkwan-ibm commented on #53
- addressed SME and peer review feedback
- SME and Peer reviewers will confirm the changes
- User review can be performed on today

[2019-01-17 16:06] gkwan-ibm commented on #205
- test are running in 2 batches OracleJDK and OpenJDK
- works
  - gradle guide need to be fixed
  - OpenJDK11 failures
  - MacOS

[2019-01-17 16:18] gkwan-ibm commented on #181
- draft is ready
- YK is reviewing and addressing his feedback

[2019-01-18 16:07] gkwan-ibm commented on #99
- all development works were completed including user review

[2019-01-18 16:40] gkwan-ibm commented on #53
- addressed  new SME feedback
- did Arcolinx check
- User review is in progress
- YK is reviewing

[2019-01-18 16:51] gkwan-ibm commented on #177
- need to discuss with Jay for the action arrow behavior change

[2019-01-18 16:56] gkwan-ibm commented on #181
- working on YK feedback
- converting to multipane

[2019-01-18 17:31] gkwan-ibm commented on #200
Currently,
- parent pom version support: RELEASE (deprecated) or a range `[ v1, v2 )` with upper bound
- open liberty plugins version support: RELEASE  (deprecated)  or  a range `[v1, )` without upper bound
- feature bom version support: RELEASE (deprecated)  or a specific version

[2019-01-18 18:34] gkwan-ibm commented on #99
Readiness checklist
- [x] Development
- [x] Content Review - Gilbert
- [x] Peer Review - Andrew
- [x] SME Review - Emily and Vadim
- [x] User Review - Tommy and Justine
- [ ] Signoff Review - YK

@yeekangc

[2019-01-18 18:38] gkwan-ibm commented on #53
@yeekangc

Readiness checklist
- [x] Development
- [x] Content Review - Gilbert
- [x] Peer Review - Andrew
- [x] SME Review - Charles
- [ ] User Review - Rachel
- [ ] Signoff Review - YK

[2019-01-18 18:42] yeekangc commented on #99
We have all pieces ready.  Moving forward with signoff review.  Thank you.

[2019-01-18 18:46] yeekangc commented on #53
Thank you, @gkwan-ibm.  Looks like we still need User Review before we can do Signoff Review now (today) to make this (Jan) cycle.

[2019-01-21 15:35] evelinec commented on #99
- working on feedback from YK, have PR ready today
- ID review to be arranged

[2019-01-21 15:37] evelinec commented on #53
- user review had been done
- YK is reviewing

[2019-01-21 15:46] evelinec commented on #193
- will sort the version for the jdk9+ dependencies and open PR for master branch on the failed guides

[2019-01-21 15:47] evelinec commented on #205
- investigate the openjdk11 version used in travis test:

Downloading JDK from https://download.java.net/java/GA/jdk11/9/GPL/openjdk-11.0.2_linux-x64_bin.tar.gz

openjdk version "11.0.2" 2019-01-15
OpenJDK Runtime Environment 18.9 (build 11.0.2+9)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.2+9, mixed mode)

[2019-01-21 15:49] evelinec commented on #177
- Jay will determine how the action arrow will look, and update the guides
- work on 2 tasks that are related jdk11
- continue to follow up with Steven on the remaining issues

[2019-01-21 15:53] evelinec commented on #176
- no more priority 1 issue
- 3 medium priority issues

[2019-01-21 15:58] evelinec commented on #181
- should have PR ready for both YK feedback and multipane
- after the PR, ready for peer review
  - open ibm cloud account with a non-ibm email (7 days)
  - TBD

[2019-01-21 16:11] njr-11 opened #219 "Create guide for MicroProfile Concurrency, or include in a related guide"
On the WAD call for MicroProfile Concurrency, it was discussed that MicroProfile Concurrency could be covered within another guide (MicroProfile Fault Tolerance or JAX-RS) or create a separate guide for it.  It looks like there are several issues already opened to create JAX-RS guides, including https://github.com/OpenLiberty/guides-common/issues/118 which covers the reactive client, which has som

[2019-01-22 16:54] evelinec commented on #177
- still pending on Jay on the action arrow design (target?)
- reviewing the all the open issues on the guides and closing them
- new issues from new updates.. ie, multiline hotspot
- work on 2 tasks that are related jdk11

[2019-01-22 16:55] evelinec commented on #176
- 4 medium priority issues (some to be closed today)

[2019-01-22 17:04] evelinec commented on #181
- multipane conversion has a new defect for this guide
- pending on Laura and Jay's review on the guide's flow

[2019-01-23 15:48] evelinec commented on #193
- gradle v5
  - hotspot test is good
  - openj9 test failed at opening the browser step, investigating
- kube guides
  - PRs are merged, checking test results on travis
  - tests with both hotspot and openj9 are good on Andrew's environment
  - openj9 failed on Justine's environment for Kube+health, investigating

[2019-01-23 15:55] evelinec commented on #177
- action arrow design is ready this morning, steven needs to implement it
- made some wording changes for the JWT guide and refreshed `user-testing` site
- put in multiline hotspot fixes in the relevant guides
- a new high priority issue open for guides doesn't have any code for the code pane
- made the jdk11 changes for Justine's guides, and Andrew is still working on them

[2019-01-23 15:56] evelinec commented on #176
- 1 new high priority issue
- 4 medium priority issues

[2019-01-23 16:05] evelinec commented on #181
- still discussing the flow and content with team, pending on some reviews

[2019-01-23 16:46] evelinec opened #220 "Testing the kube guides with daily build"
The current modification to run the daily build tests on the kube guides are not testing them correctly.

Some logs showing release builds being used:
kubectl logs name-deployment-694c7b74f7-nkx5k
Launching defaultServer (Open Liberty 18.0.0.4/wlp-1.0.23.cl180420181121-0300) on IBM J9 VM, version 8.0.5.27 - pxa6480sr5fp27-20190104_01(SR5 FP27) (en_US)
Ref: https://travis-ci.org/OpenLiberty/guide-k

[2019-01-23 17:05] evelinec commented on #218
The dependencies had been added to the pom, and verified that travis tests passed. @andrewdes did you look into the testScript didn't fail issue?

[2019-01-23 17:10] lauracowen opened #222 "SEO: Improve likelihood of Google using guide text as featured snippet"
The following example shows the results I got when searching for “MicroProfile Metrics”:

![pasted_image_at_2019-01-23__1_45_pm](https://user-images.githubusercontent.com/3322532/51623736-413ebd00-1f31-11e9-85f7-f0b3d2248cf7.png)

The top result has a box around it because it's a "featured snippet" that Google constructs from content in one of the search results.

[Google explains](https://support

[2019-01-24 15:47] evelinec commented on #193
- gradle v5:
  - openj9 test was ok with linux; still have issue on mac (with `sudo gradle build` was good)
- kube guides
  - all tests passed

[2019-01-24 15:52] evelinec commented on #177
- working on more guides requires wording changes as discussed with Jay
- completed all jdk11 changes for all guide
- more guides need the multiline hotspot fixes
- pending on the action arrow implementation

[2019-01-24 15:53] evelinec commented on #176
- 1 high priority (empty code pane)
- 2 medium priority issues

[2019-01-24 20:20] evelinec commented on #205
When GM build is declared, we need to manually test the following guides and platform combinations:

Platform and JDK:
- [ ] Linux + JDK8
- [ ] Linux + JDK11

Guides:
- [ ] Gradle
- [ ] Kube-Intro
- [ ] Kube-Config
- [ ] Kube-Health

[2019-01-24 20:41] evelinec commented on #218
Fixed for this issue. Closed.

[2019-01-24 20:41] #218 closed

[2019-01-24 20:43] evelinec opened #223 "The failure testScript of the Kube guides didn't fail the travis test"
Ref to #218 for more info. Open as a separate lower priority issue.

[2019-01-24 20:46] evelinec commented on #220
Adding @proubatsis as the co-owner to work out the manual steps needed to test a daily build for the Kube guides.

[2019-01-25 15:44] evelinec commented on #205
- auto test didn't pick up GM driver.. need investigation

[2019-01-25 15:49] evelinec commented on #193
- gradle v5:
  - cannot reproduce the sudo problem after refresh environment
  - tested overwriting the gradle v5 install on travis.yml and it's working, open PR for master

[2019-01-25 15:52] evelinec commented on #220
- worked out the manual steps for doing these tests; working on automating them

[2019-01-25 15:55] evelinec commented on #177
- working on the list of change discussed with Jay
- still working on more guides that need the multiline hotspot fixes
- pending on the action arrow implementation

[2019-01-25 15:56] evelinec commented on #176
- may be a new issue with the opentracing guide

[2019-01-25 15:57] evelinec commented on #181
- make some update and continue to discuss

[2019-01-28 15:44] evelinec commented on #214
- starting to work on it

[2019-01-28 15:53] evelinec commented on #220
- working on the automation
- need to find out how to handle docker image updates with daily build

[2019-01-28 15:55] evelinec commented on #193
- gradle v5:
  - PR is ready

[2019-01-28 15:56] evelinec commented on #177
- half way through working on the list of changes discussed with Jay
- pending on the action arrow implementation

[2019-01-28 15:58] evelinec commented on #181
- working on Laura's feedback and continue to discuss

[2019-01-29 15:42] evelinec commented on #220
- working on automation
  - need to use the OL docker file to build daily build images, try to pull from OL repo
  - working Jenkins

[2019-01-29 15:45] evelinec commented on #177
- found a problem (replacing a file) while going through the changes from Jay
- pending on the action arrow implementation

[2019-01-29 15:47] evelinec commented on #176
- 2 high priority issues (new issue on the action arrow)
- 2 medium priority issues
- opentracing guide is the one having the replacing file issue (asap)

[2019-01-29 15:50] evelinec commented on #181
- new feedback to work on

[2019-01-30 15:35] donbourne opened #224 "Update mpMetrics guide for mpMetrics-2.0"
Once we have mpMetrics-2.0 support in OL, we need to update the OL guide for metrics to leverage that feature.  mpMetrics-2.0 adds multi-dimensional metrics, which is quite transformational in the way people can use metrics, and should be covered in the guide.

[2019-01-30 15:37] evelinec commented on #53
- working on addressing Laura's feedback

[2019-01-30 15:47] evelinec commented on #220
- team may be building docker images for daily (keeping track)
- modified the docker file, and able to build the images, need to push to docker hub
- do testing from there for the guide
- need to work though when to build the images, and clean up

[2019-01-30 15:49] evelinec commented on #193
- @andrewdes to list the manual test coverage here

[2019-01-30 15:51] evelinec commented on #177
- pending on the action arrow implementation

[2019-01-30 15:53] evelinec commented on #176
- 2 high and 2 medium
- opentracing guide replacing file issue is resolved but has a new issue (Steven is working on it)

[2019-01-30 16:27] andrewdes commented on #193
- [ ] Getting-started (Hotspot JDK11, Ubuntu)
- [ ] JWT (Hotspot JDK11, Windows)
- [ ] Kubernetes-intro (OpenJDK11, Windows & Linux ReHatx86)
- [ ] Gradle (OpenJDK11, MacOS)
- [ ] Rest-client-java (OpenJDK 11, MacOS)
- [ ] JPA-intro (Hotspot JDK11, Ubuntu)

- [ ] Kubernetes-intro (OpenJDK11, MacOS & Ubuntu)
- [ ] Kubernetes-health (OpenJDK11, MacOS & Ubuntu)
- [ ] Kubernetes-config (OpenJDK11, Mac

[2019-01-31 15:35] evelinec commented on #99
- pre and post tests (on Linux and Mac)

[2019-01-31 15:47] evelinec commented on #181
- work on the feedback today

[2019-01-31 15:51] evelinec commented on #106
- few major issues:
  - intro to be rearranged and perhaps more text needed
  - application focus vs microservice focus
- worked on addressing list of general guide related issues

[2019-01-31 16:24] yeekangc commented on #219
@mbroz2 @kinueng, please see comments above re Bulkhead guide.

[2019-01-31 16:24] yeekangc commented on #219
We need to work out what's relevant and where to best cover what is needed before we can prioritize.

[2019-01-31 16:31] yeekangc commented on #188
We need to figure out whether this should be a code pattern, part of the quick labs/tutorial, a track, or combination/variation of them.

Copy @lauracowen in case she has thoughts.

[2019-01-31 16:33] evelinec commented on #99
Post-Publishing Tests

- [ ] Check appearance (contents, headings, paragraphs, code snippets, outputs, links) of the guide on openliberty.io
- [ ] Clone repo and test finish directory with no error
- [ ] Add description for the repo with link to guide's published website
- [ ] Enable pull creation notification on the repo

[2019-01-31 16:33] yeekangc commented on #190
Need to figure out how best to cover this and whether it would warrant updates to existing guide.  Does it detract from learning goals of the guide?

@Emily-Jiang, feel free to chime in.

[2019-01-31 16:37] yeekangc commented on #148
This guide is not meant to cover the mongo feature but to take users through getting going with MongoDB for their microservices running on Open Liberty.

[2019-01-31 17:16] mbroz2 commented on #219
After discussion with @njr-11 we'll plan on updating the [bulkhead guide](https://openliberty.io/guides/bulkhead.html) to leverage MP Concurrency once it's been released.

[2019-01-31 23:37] Emily-Jiang commented on #190
I think when you update the Fault Tolerance guide to use 1.1 version. You can add a link to a blog on FT metrics and also add a paragraph on the metrics aspect as there is no use code needed, just info only.

[2019-02-01 15:43] gkwan-ibm commented on #99
publishing
- [ ] rename to guide-istio-intro

[2019-02-01 18:14] chirp1 commented on #99
Hi!
Here are my review comments for the guide. If you have any questions, sametime me or slack me.

Global change: Change "testing environment" to "test environment". Also, anytime you use "testing' as and adjective in front of a noun, such as 'testing traffic", change it to "test", i.e. "test traffic".

- Change "You can think of Envoy as a sidecar that intercepts and controls all the traffic to

[2019-02-01 19:39] evelinec commented on #193
Team discussed to do more manual test for the following combination:

- [ ] Kube-health (Redhat, OpenJDK11, OL19001, Docker image 18004 with JDK8)

- [ ] Kube-config (Windows, OpenJDK11, OL19001, Docker image 18004 with JDK8)

[2019-02-01 20:59] gkwan-ibm commented on #155
Publish (Gilbert)
- [ ] update the publish date
- [ ] rename the guide repo
- [ ] add the guide url in the GitHub repo description
- [ ] refresh master

[2019-02-01 22:44] gkwan-ibm commented on #99
Publish (Gilbert)
- [x] update the publish date
- [x] rename the guide repo
- [x] add the guide url in the GitHub repo description
- [x] refresh master

[2019-02-04 16:08] evelinec commented on #193
- [ ] OpenJDK11 OpenJ9 fails with "too many file opened" compilation error for the guides on Mac

[2019-02-04 17:18] justineechen commented on #99
Post-test on Linux (Justine)
- [x] Check appearance (contents, headings, paragraphs, code snippets, outputs, links) of the guide on openliberty.io
- [x] Clone repo and follow the instruction in the guide to test the guide

[2019-02-05 15:41] gkwan-ibm commented on #193
- The getting start guide got warnings in Java11, OL 18003
  - investigating an issue on Win

[2019-02-05 15:44] gkwan-ibm commented on #53
- addressed the Laura's feedback

[2019-02-05 16:12] evelinec opened #225 "Test the guides with AdoptOpenJDK 11"
Currently the jdk11 tests for the guides use the `openjdk11` keyword from Travis, which points to the oracle open jdk. We would like to test the guides with the AdaptedOpenJDKs.

[2019-02-05 16:20] gkwan-ibm commented on #181
- target to do peer review in this week

[2019-02-05 16:23] gkwan-ibm commented on #106
- created an issue for the owner to address
- will ask YK and/or Laura to review

[2019-02-06 15:42] gkwan-ibm commented on #53
- requested YK and Laura to review
- conversing to multipane

[2019-02-06 15:46] gkwan-ibm commented on #205
- PR for Kube guides is ready but still need to be verified
- need to clarify with Andy about the OL docker image build

[2019-02-06 15:50] gkwan-ibm commented on #177
- will need to fix some guides for
   - new action arrow (4 guides)
   - hotspot=*

[2019-02-06 22:29] #99 closed

[2019-02-07 15:40] gkwan-ibm commented on #53
- converted to multipane

[2019-02-07 16:21] evelinec opened #228 "Create a solution to get the prereqs ready for the guides"
As feedback from workshops where students are trying the guides as a hands-on lab, lots of them got stuck or spend lots of time getting the prereqs ready before they go to the guide.

 Pre-requisites
To use this lab you need the following pre-requisites:
1. Java 8 JDK
(e.g. https://adoptopenjdk.net/?variant=openjdk8&jvmVariant=openj9)
2. Apache Maven (https://maven.apache.org/)
3. Git client
4. Ed

[2019-02-07 16:27] yeekangc commented on #228
This is a duplicate of the Docker item to simplify setup for Quick Labs and/or an issue against or update to the tutorial repo i.e. OpenLiberty/microprofile-tutorial.

[2019-02-08 15:40] gkwan-ibm commented on #53
- need to have User Review again because converted to multipane

[2019-02-08 15:55] gkwan-ibm commented on #205
- last night run for kube guides, except used the latest docker image
  - docker image need to be tagged by build-level
  - make sure to remove docker image if tests are pass
- investigating the Metric and JWT test failures on past 2 days